{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty Open API",
    "description": "Public HTTP API for the Flashduty incident management platform — incidents, notification templates, channels, schedules, monitors, RUM, and platform administration. Every operation is authenticated with an `app_key` query parameter issued from the Flashduty console under Account → APP Keys. Responses follow a uniform envelope: `{ request_id, data }` on success, `{ request_id, error }` on failure.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Monitors/Alert rules",
      "description": "Create, manage, and export monitor alert rules. Query rule counters and audit history."
    },
    {
      "name": "Monitors/Data sources",
      "description": "Manage monitoring data sources used by alert rules to query metrics."
    },
    {
      "name": "Monitors/Diagnostics",
      "description": "Diagnostic and query endpoints used by Flashduty AI SRE — ad-hoc data source queries, log/metric diagnostics, and target-side tool invocation."
    },
    {
      "name": "Monitors/Monitor utilities",
      "description": "Monitors service activation and data preview utilities."
    }
  ],
  "paths": {
    "/monit/rule/counter/total": {
      "post": {
        "operationId": "monit-rule-read-counter-total",
        "summary": "Get rule counter time series",
        "description": "Return the stored time series of the total rule count across the account — one sample per `clock` timestamp.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |\n\n## Usage\n\n- Each item is a historical snapshot: `num` is the total rule count at the given `clock` (Unix epoch seconds).",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-counter-total",
          "metadata": {
            "sidebarTitle": "Get rule counter time series"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleCounterTotalResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 1,
                      "account_id": 10023,
                      "num": 50,
                      "clock": 1712000000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleEmptyRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/monit/datasource/create": {
      "post": {
        "operationId": "monit-datasource-write-create",
        "summary": "Create datasource",
        "description": "Create a new monitoring data source. The `payload` must include the type-specific configuration block. Supports diagnostic types redis_node, redis_sentinel, mongodb_mongod, mongodb_mongos and kafka; enabled and alerting_enabled are independent.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Manage** (`monit`) |\n\n## Usage\n\n- `type_ident` must be one of: `prometheus`, `loki`, `mysql`, `oracle`, `postgres`, `clickhouse`, `elasticsearch`, `sls`, `tencent_cls`, `victorialogs`, `redis_node`, `redis_sentinel`, `mongodb_mongod`, `mongodb_mongos`, `kafka`.\n- `edge_cluster_name` specifies which Monitors edge cluster evaluates rules using this datasource.\n- For `elasticsearch`, set `payload.elasticsearch.deployment` to `cloud` or `self-managed`.\n- Every call is recorded in the account audit log. Use credential fields only for connection credentials.\n\nSee the request/response schemas for all supported types and credential handling. Diagnostic-only types cannot enable alerting. On create omitted enabled defaults to true; on update omission preserves the current value. Explicit null for enabled or alerting_enabled is invalid. Diagnostic passwords and Kafka private keys are omitted from responses unless they are environment references; omit these secrets on update to preserve them, or send an empty string to clear. Other datasource credentials may be returned and must be handled as sensitive.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-write-create",
          "metadata": {
            "sidebarTitle": "Create datasource"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod",
                    "enabled": true,
                    "edge_cluster_name": "default",
                    "updated_at": 1712000000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceUpsertRequest"
              },
              "example": {
                "type_ident": "prometheus",
                "name": "Prometheus Prod",
                "note": "Production Prometheus",
                "address": "http://prometheus.example.com:9090",
                "edge_cluster_name": "default",
                "payload": {
                  "prometheus": {
                    "basic_auth_enabled": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/datasource/update": {
      "post": {
        "operationId": "monit-datasource-write-update",
        "summary": "Update datasource",
        "description": "Update an existing data source. Supply `id` plus the fields to change. Supports diagnostic types redis_node, redis_sentinel, mongodb_mongod, mongodb_mongos and kafka; enabled and alerting_enabled are independent.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Manage** (`monit`) |\n\n## Usage\n\n- Every call is recorded in the account audit log. Use credential fields only for connection credentials.\n\nSee the request/response schemas for all supported types and credential handling. Diagnostic-only types cannot enable alerting. On create omitted enabled defaults to true; on update omission preserves the current value. Explicit null for enabled or alerting_enabled is invalid. Diagnostic passwords and Kafka private keys are omitted from responses unless they are environment references; omit these secrets on update to preserve them, or send an empty string to clear. Other datasource credentials may be returned and must be handled as sensitive.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-write-update",
          "metadata": {
            "sidebarTitle": "Update datasource"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod v2",
                    "enabled": true,
                    "edge_cluster_name": "default",
                    "updated_at": 1712100000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceUpsertRequest"
              },
              "example": {
                "id": 10,
                "type_ident": "prometheus",
                "name": "Prometheus Prod v2",
                "note": "Updated",
                "address": "http://prometheus-v2.example.com:9090",
                "edge_cluster_name": "default",
                "payload": {
                  "prometheus": {
                    "basic_auth_enabled": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/rule/move": {
      "post": {
        "operationId": "monit-rule-write-move",
        "summary": "Move alert rules to folder",
        "description": "Move one or more alert rules to a different folder.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- Rules whose names already exist in the destination folder are skipped. Inspect each result's `message` to identify conflicts.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-move",
          "metadata": {
            "sidebarTitle": "Move alert rules to folder"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleNameMessageListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "message": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleMoveRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ],
                "dest_folder_id": 200
              }
            }
          }
        }
      }
    },
    "/monit/rule/audit/detail": {
      "post": {
        "operationId": "monit-rule-read-audit-detail",
        "summary": "Get rule audit snapshot",
        "description": "Return the audit record (including the `content` field, a JSON string of the rule snapshot at that point in time).",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |\n\n## Usage\n\n- Pass the audit record `id` (not the rule `id`) from `POST /monit/rule/audits`.\n- `content` is a JSON string — parse it to get the full rule snapshot.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-audit-detail",
          "metadata": {
            "sidebarTitle": "Get rule audit snapshot"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleAudit"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 9001,
                    "account_id": 10023,
                    "alert_rule_id": 50001,
                    "action": "update",
                    "content": "{\"id\":50001,\"name\":\"CPU High\"}",
                    "creator_id": 80011,
                    "creator_name": "Alice",
                    "created_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRecordIDRequest"
              },
              "example": {
                "id": 9001
              }
            }
          }
        }
      }
    },
    "/monit/datasource/delete": {
      "post": {
        "operationId": "monit-datasource-write-delete",
        "summary": "Delete datasource",
        "description": "Delete a data source by ID. Alert rules referencing this datasource are not blocked: the datasource is removed from their monitoring scope and their open alerts on it are closed automatically.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Manage** (`monit`) |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-write-delete",
          "metadata": {
            "sidebarTitle": "Delete datasource"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDRequest"
              },
              "example": {
                "id": 10
              }
            }
          }
        }
      }
    },
    "/monit/rule/delete/batch": {
      "post": {
        "operationId": "monit-rule-write-delete-batch",
        "summary": "Batch delete alert rules",
        "description": "Delete multiple alert rules in a single request.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **30 requests/minute**; **5 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-delete-batch",
          "metadata": {
            "sidebarTitle": "Batch delete alert rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleEmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDsRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ]
              }
            }
          }
        }
      }
    },
    "/monit/datasource/sls/projects": {
      "post": {
        "operationId": "monit-datasource-read-sls-projects",
        "summary": "List SLS projects",
        "description": "List Alibaba Cloud SLS (Simple Log Service) projects available in the specified SLS datasource.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Read** (`monit`) |\n\n## Usage\n\n- The datasource identified by `id` must be of type `sls`.\n- Use `query` to filter projects by name prefix. Use `offset` and `size` for pagination.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-read-sls-projects",
          "metadata": {
            "sidebarTitle": "List SLS projects"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SLSProjectsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "projects": [
                      {
                        "projectName": "project-a",
                        "description": "Production logs",
                        "status": "Normal",
                        "owner": "",
                        "region": "cn-shanghai",
                        "createTime": "1710000000",
                        "lastModifyTime": "1712000000"
                      },
                      {
                        "projectName": "project-b",
                        "description": "Staging logs",
                        "status": "Normal",
                        "owner": "",
                        "region": "cn-shanghai",
                        "createTime": "1710000000",
                        "lastModifyTime": "1712000000"
                      }
                    ],
                    "count": 2,
                    "total": 2
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSProjectsRequest"
              },
              "example": {
                "id": 10,
                "query": "",
                "offset": 0,
                "size": 50
              }
            }
          }
        }
      }
    },
    "/monit/rule/export": {
      "post": {
        "operationId": "monit-rule-read-export",
        "summary": "Export alert rules",
        "description": "Export the configuration of selected alert rules as a portable JSON array, compatible with `POST /monit/rule/import`.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/day**; **200 requests/minute**; **20 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-export",
          "metadata": {
            "sidebarTitle": "Export alert rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleExportListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "ds_type": "prometheus",
                      "ds_list": [
                        "prometheus*"
                      ],
                      "enabled": true,
                      "cron_pattern": "0 * * * * *"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDsRequest"
              },
              "example": {
                "ids": [
                  50001
                ]
              }
            }
          }
        }
      }
    },
    "/monit/datasource/sls/logstores": {
      "post": {
        "operationId": "monit-datasource-read-sls-logstores",
        "summary": "List SLS logstores",
        "description": "List logstores within an SLS project for the specified SLS datasource.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Read** (`monit`) |\n\n## Usage\n\n- The datasource identified by `id` must be of type `sls`.\n- Supply `project` to select the SLS project whose logstores to list.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-read-sls-logstores",
          "metadata": {
            "sidebarTitle": "List SLS logstores"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SLSLogstoresResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    "logstore-1",
                    "logstore-2"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSLogstoresRequest"
              },
              "example": {
                "id": 10,
                "project": "project-a",
                "offset": 0,
                "size": 50
              }
            }
          }
        }
      }
    },
    "/monit/datasource/info": {
      "post": {
        "operationId": "monit-datasource-read-info",
        "summary": "Get datasource detail",
        "description": "Retrieve full details of a single data source by its ID, including the `payload` configuration with its configured connection and authentication settings; treat the response as sensitive and avoid logging or forwarding it. Supports diagnostic types redis_node, redis_sentinel, mongodb_mongod, mongodb_mongos and kafka; enabled and alerting_enabled are independent.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Read** (`monit`) |\n\nSee the request/response schemas for all supported types and credential handling. Diagnostic-only types cannot enable alerting. On create omitted enabled defaults to true; on update omission preserves the current value. Explicit null for enabled or alerting_enabled is invalid. Diagnostic passwords and Kafka private keys are omitted from responses unless they are environment references; omit these secrets on update to preserve them, or send an empty string to clear. Other datasource credentials may be returned and must be handled as sensitive.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-read-info",
          "metadata": {
            "sidebarTitle": "Get datasource detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "account_id": 10023,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod",
                    "enabled": true,
                    "note": "Production Prometheus",
                    "address": "http://prometheus.example.com:9090",
                    "payload": {
                      "prometheus": {
                        "basic_auth_enabled": false,
                        "basic_auth_username": "",
                        "basic_auth_password": "",
                        "tls_skip_verify": false
                      }
                    },
                    "edge_cluster_name": "default",
                    "updated_at": 1712000000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDRequest"
              },
              "example": {
                "id": 10
              }
            }
          }
        }
      }
    },
    "/monit/rule/audits": {
      "post": {
        "operationId": "monit-rule-read-audits",
        "summary": "List rule change history",
        "description": "Return the change history (audit records) for an alert rule.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-audits",
          "metadata": {
            "sidebarTitle": "List rule change history"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleAuditListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 9001,
                      "account_id": 10023,
                      "alert_rule_id": 50001,
                      "action": "update",
                      "creator_id": 80011,
                      "creator_name": "Alice",
                      "created_at": 1712000000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/delete": {
      "post": {
        "operationId": "monit-rule-write-delete",
        "summary": "Delete alert rule",
        "description": "Delete a single alert rule by its ID.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-delete",
          "metadata": {
            "sidebarTitle": "Delete alert rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleEmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/import": {
      "post": {
        "operationId": "monit-rule-write-import",
        "summary": "Import alert rules",
        "description": "Import one or more alert rules from a JSON array. Returns the result for each rule, indicating success or failure.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **20 requests/minute**; **2 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- The request body is a JSON array of rule export objects (compatible with the output of `POST /monit/rule/export`).\n- Each object must include `folder_id`, `ds_type`, and either `ds_list` or `ds_ids`.\n- Some rules may fail (e.g. duplicate name). Check each result for individual status.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-import",
          "metadata": {
            "sidebarTitle": "Import alert rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleImportResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "message": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleImportRequest"
              },
              "example": [
                {
                  "folder_id": 100,
                  "name": "CPU High",
                  "ds_type": "prometheus",
                  "ds_list": [
                    "prometheus*"
                  ],
                  "enabled": true,
                  "cron_pattern": "0 * * * * *",
                  "rule_configs": {
                    "queries": [
                      {
                        "name": "A",
                        "expr": "avg(cpu_usage_idle) < 10"
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/monit/rule/list/basic": {
      "post": {
        "operationId": "monit-rule-read-list",
        "summary": "List alert rules",
        "description": "Return the basic information of all alert rules in a folder. For full rule details, call `POST /monit/rule/v2/info`.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |\n\n## Usage\n\n- Set `folder_id` to `0` to list all rules across all folders visible to the current user.\n- The `triggered` field indicates whether the rule has any currently active alerts.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-list",
          "metadata": {
            "sidebarTitle": "List alert rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleBasicListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 50001,
                      "folder_id": 100,
                      "name": "CPU High",
                      "ds_type": "prometheus",
                      "enabled": true,
                      "triggered": true,
                      "created_at": 1710000000,
                      "active_alert_count": 2,
                      "runtime_state": "normal"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleListRequest"
              },
              "example": {
                "folder_id": 100
              }
            }
          }
        }
      }
    },
    "/monit/datasource/list": {
      "post": {
        "operationId": "monit-datasource-read-list",
        "summary": "List datasources",
        "description": "Return all data sources for the current account. Optionally filter by `type_ident`. Supports diagnostic types redis_node, redis_sentinel, mongodb_mongod, mongodb_mongos and kafka; enabled and alerting_enabled are independent.",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Datasources Read** (`monit`) |\n\n## Usage\n\n- Omit `type_ident` to return all types.\n- Sensitive credential fields (passwords, keys) are not returned in the list response.\n\nSee the request/response schemas for all supported types and credential handling. Diagnostic-only types cannot enable alerting. On create omitted enabled defaults to true; on update omission preserves the current value. Explicit null for enabled or alerting_enabled is invalid. Diagnostic passwords and Kafka private keys are omitted from responses unless they are environment references; omit these secrets on update to preserve them, or send an empty string to clear. Other datasource credentials may be returned and must be handled as sensitive.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-read-list",
          "metadata": {
            "sidebarTitle": "List datasources"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 10,
                      "account_id": 10023,
                      "type_ident": "prometheus",
                      "name": "Prometheus Prod",
                      "enabled": true,
                      "note": "Production Prometheus",
                      "address": "http://prometheus.example.com:9090",
                      "edge_cluster_name": "default",
                      "updated_at": 1712000000,
                      "payload": null,
                      "alerting_enabled": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceListRequest"
              },
              "example": {
                "type": "prometheus"
              }
            }
          }
        }
      }
    },
    "/monit/rule/update/fields": {
      "post": {
        "operationId": "monit-rule-write-fields-update",
        "summary": "Batch update rule fields",
        "description": "Update specific fields across multiple alert rules at once. Only the fields listed in `fields` are applied.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- Include the field names you want to update in the `fields` array, e.g. `[\"enabled\", \"channel_ids\"]`.\n- Only the specified fields are updated; others are left unchanged.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-fields-update",
          "metadata": {
            "sidebarTitle": "Batch update rule fields"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleNameMessageListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "message": ""
                    },
                    {
                      "name": "Disk High",
                      "message": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleFieldsUpdateRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ],
                "fields": [
                  "enabled"
                ],
                "enabled": false
              }
            }
          }
        }
      }
    },
    "/monit/rule/counter/channel": {
      "post": {
        "operationId": "monit-rule-read-counter-channel",
        "summary": "Get rule counts by channel",
        "description": "Return an object mapping channel name to the number of rules routing alerts to that channel. If a channel name cannot be resolved, the channel ID (as a string) is used as the key.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-counter-channel",
          "metadata": {
            "sidebarTitle": "Get rule counts by channel"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleCounterChannelResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "Production": 8
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleEmptyRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/monit/rule/v2/info": {
      "post": {
        "operationId": "monit-rule-read-info-v2",
        "summary": "Get alert rule detail (V2)",
        "description": "Return the full V2 configuration of an alert rule by ID, including lifecycle v2 recovery and ending modes.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Alerting Rules Read** (`monit`) |\n\n## Usage\n\n- `id` is required and must not be `0`; otherwise the call returns `InvalidParameter`.\n- A missing rule returns `InvalidParameter` (`alert rule not found`).",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-read-info-v2",
          "metadata": {
            "sidebarTitle": "Get alert rule detail (V2)"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 90",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/v2/create": {
      "post": {
        "operationId": "monit-rule-write-create-v2",
        "summary": "Create alert rule (V2)",
        "description": "Create a new V2 alert rule. Returns the created rule with its assigned ID.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- `name`, `ds_type`, `enabled`, `cron_pattern`, and `rule_configs.queries` are required; either `ds_list` (supports wildcards) or `ds_ids` must be non-empty.\n- `enabled` must be passed explicitly (including `false`); omitting it returns `InvalidParameter`.\n- `id`, `account_id`, `creator_*`, `updater_*`, `created_at`, and `updated_at` are assigned by the server; client-supplied values are ignored.\n- `name` must be unique within `folder_id`; a duplicate returns `InvalidParameter`.\n- `channel_ids` can be empty; alerts will then route through the global integration.\n- The request body tolerates additional unknown fields (forward compatibility); they are ignored.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-create-v2",
          "metadata": {
            "sidebarTitle": "Create alert rule (V2)"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 90",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleV2"
              },
              "example": {
                "folder_id": 100,
                "name": "CPU High",
                "ds_type": "prometheus",
                "ds_list": [
                  "prometheus*"
                ],
                "enabled": true,
                "cron_pattern": "0 * * * * *",
                "channel_ids": [
                  20001
                ],
                "rule_configs": {
                  "queries": [
                    {
                      "name": "A",
                      "expr": "100 - avg(cpu_usage_idle)"
                    }
                  ],
                  "check_threshold": {
                    "enabled": true,
                    "alerting_check_times": 3,
                    "alerting_window_size": 5,
                    "recovery_check_times": 2,
                    "critical": "$A > 90",
                    "warning": "$A > 80",
                    "recovery_mode": "condition_clear"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/rule/v2/update": {
      "post": {
        "operationId": "monit-rule-write-update-v2",
        "summary": "Update alert rule (V2)",
        "description": "Replace an alert rule's V2 configuration in full by ID. Returns the updated rule.",
        "tags": [
          "Monitors/Alert rules"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Alerting Rules Manage** (`monit`) |\n\n## Usage\n\n- `id` is required and the rule must already exist; otherwise the call returns `InvalidParameter`.\n- This is a full-field replacement: except for the cases below, fields you omit are stored as zero values. Fetch the full configuration via `/monit/rule/v2/info` before modifying it.\n- `enabled` must be passed explicitly (including `false`); omitting it returns `InvalidParameter`. Setting it to `false` clears the rule's active alerts.\n- `investigation_targets` is the exception: omit it to keep the current value, pass `[]` to clear, or pass a value to replace it entirely.\n- `folder_id` cannot be changed through this operation; use `/monit/rule/move` to move the rule to another folder.\n- `account_id`, `creator_*`, `updater_*`, `created_at`, and `updated_at` are maintained by the server; client-supplied values are ignored.\n- `name` must be unique within `folder_id`; a duplicate returns `InvalidParameter`.\n- The request body tolerates additional unknown fields (forward compatibility); they are ignored.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/monitors/alert-rules/monit-rule-write-update-v2",
          "metadata": {
            "sidebarTitle": "Update alert rule (V2)"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 95",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712003600
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleV2"
              },
              "example": {
                "folder_id": 100,
                "name": "CPU High",
                "ds_type": "prometheus",
                "ds_list": [
                  "prometheus*"
                ],
                "enabled": true,
                "cron_pattern": "0 * * * * *",
                "channel_ids": [
                  20001
                ],
                "rule_configs": {
                  "queries": [
                    {
                      "name": "A",
                      "expr": "100 - avg(cpu_usage_idle)"
                    }
                  ],
                  "check_threshold": {
                    "enabled": true,
                    "alerting_check_times": 3,
                    "alerting_window_size": 5,
                    "recovery_check_times": 2,
                    "critical": "$A > 95",
                    "warning": "$A > 80",
                    "recovery_mode": "condition_clear"
                  }
                },
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/query/data": {
      "post": {
        "operationId": "monit-read-query-data",
        "summary": "Query structured data",
        "description": "Run a synchronous ad-hoc query against a configured data source and return a stable `query_result.v1` result whose natural shape is frames, records, or samples. This public API requires monit-edge v0.65.0 or later.",
        "tags": [
          "Monitors/Diagnostics"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **100 requests/minute**; **5 requests/second** per account |\n| Permissions | Any valid `app_key` (read-only; not gated by a specific permission class) |\n| Edge requirement | Supported deployments require **monit-edge v0.65.0 or later** |\n\n## Usage\n\n- Treat **monit-edge v0.65.0** as the minimum supported Edge version for this public API. WebAPI retains migration adapters for older Edge versions: query.v2 results may still preserve frames, records, or samples, while legacy rows can expose only the information they retained. These adapters do not change the support floor; older protocols lack query.v3 cancellation and error-lifecycle semantics, and data already lost by legacy rows cannot be recovered.\n- The public response format is always `query_result.v1` and is independent of the internal Edge query protocol. Dispatch on `result.kind` (`frames`, `records`, or `samples`); do not infer the result shape from `ds_type` or the Edge version.\n- A `frames` result may contain multiple table or time-series frames. Field values are columnar and all fields in one frame have the same length.\n- A `records` result may contain nested JSON and null records. Integer literals outside JavaScript's safe integer range are returned as decimal strings.\n- A `samples` result contains label sets and instant values. A value may be a number or one of the strings `NaN`, `+Inf`, and `-Inf`.\n- The final success response is limited to 8 MiB and query results are limited to 1,000 rows. Narrow the time range, reduce fields, or aggregate at the source when a request exceeds a limit.\n- Query failures use non-2xx HTTP status codes and the standard error envelope. Do not transparently fall back to the deprecated `/monit/query/rows` endpoint.\n- Query execution may take up to 35 seconds across WebAPI forwarding and Edge execution. Configure client timeouts to at least 40 seconds and propagate cancellation when the caller abandons a query.",
          "href": "/en/api-reference/monitors/diagnostics/monit-read-query-data",
          "metadata": {
            "sidebarTitle": "Query structured data"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDataRequest"
              },
              "example": {
                "ds_type": "prometheus",
                "ds_name": "prod-prom",
                "expr": "sum by (job) (rate(http_requests_total[5m]))",
                "delay_seconds": 0,
                "args": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QueryDataResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "format": "query_result.v1",
                    "result": {
                      "kind": "samples",
                      "samples": [
                        {
                          "labels": {
                            "job": "api"
                          },
                          "value": 1.25
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "The request or final response exceeds its size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "description": "The client canceled the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "The query timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monit/datasource/tools/invoke": {
      "post": {
        "description": "Execute one deterministic tool against a configured datasource. Requires all currently online routable Edge sessions in the cluster to support the v0.71.0 base invoke protocol; individual tools may require a newer implementation. No tool catalog, automatic replay, or fallback to Agent/legacy diagnose. Request body limit 128 KiB; complete success response limit 1 MiB; tool timeout at most 25 seconds.",
        "operationId": "monit-datasource-tools-invoke",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "datasource_id": 10,
                "params": {},
                "tool": "mysql.overview"
              },
              "schema": {
                "$ref": "#/components/schemas/DatasourceToolInvokeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "version": "8.0.36"
                    },
                    "datasource_id": 10,
                    "summary": "MySQL overview",
                    "tool": "mysql.overview"
                  },
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DatasourceToolResult"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: invalid_request, tool_not_supported, datasource_error."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: access_denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: datasource_not_found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: datasource_disabled, datasource_in_use."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: source_too_large, result_too_large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: overloaded."
          },
          "499": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: canceled."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: internal."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: no_active_edge, edge_upgrade_required, mixed_edge_versions."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Standard HTTP error; error.reason: timeout."
          }
        },
        "summary": "Invoke datasource tool",
        "tags": [
          "Monitors/Data sources"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **2,000 requests/minute**; **32 requests/second** per account |\n| Permissions | **Datasources Read** (`monit`) |\n\nUse datasource IDs from `/monit/datasource/list`. Disabled datasources return `datasource_disabled`; `alerting_enabled=false` does not block tools. Errors use non-2xx HTTP status and `error.code`, `error.message`, `error.reason`. `tool_not_supported` indicates the selected executor does not provide this tool; it is not a vendor permission error. Never retry through another Edge or the legacy diagnose endpoint automatically.",
          "href": "/en/api-reference/monitors/data-sources/monit-datasource-tools-invoke",
          "metadata": {
            "sidebarTitle": "Invoke datasource tool"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "app_key",
        "description": "App key issued from the Flashduty console under Account → APP Keys. Required on every public API call. Keep it secret — it grants the same access as the owning account."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request — usually a missing or malformed parameter.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingParameter": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "InvalidParameter",
                    "message": "The specified parameter is not valid."
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid app_key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingAppKey": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "Unauthorized",
                    "message": "You are unauthorized."
                  }
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The app_key is valid but lacks permission for this operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "noEditPermission": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "AccessDenied",
                    "message": "Access Denied."
                  }
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The referenced resource does not exist or has been deleted. Note: Flashduty historically returns HTTP 400 with code `ResourceNotFound` for missing domain entities; a true 404 is reserved for unknown routes.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "resourceMissing": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "ResourceNotFound",
                    "message": "The resource you request is not found"
                  }
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit hit. Either the global API limit, a per-account limit, or a per-integration limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "RequestTooFrequently",
                    "message": "Request too frequently."
                  }
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server-side error. Include the request_id when reporting.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internal": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "InternalError",
                    "message": "We encountered an internal error, and it has been reported. Please try again later."
                  }
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "The service is temporarily unavailable. Include the request_id when reporting.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "serviceUnavailable": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "ServiceUnavailable",
                    "message": "service temporarily unavailable"
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "AlertRule": {
        "type": "object",
        "description": "Full alert rule configuration.",
        "properties": {
          "id": {
            "type": "integer",
            "format": "uint64",
            "description": "Rule ID. Required for update; omit for create (assigned by the server)."
          },
          "account_id": {
            "type": "integer",
            "format": "uint64",
            "description": "Account ID. Filled by the server from the authenticated identity; do not provide."
          },
          "folder_id": {
            "type": "integer",
            "format": "uint64",
            "description": "ID of the folder the rule belongs to. Obtainable via `POST /monit/folder/list`."
          },
          "name": {
            "type": "string",
            "description": "Rule name. Must be unique within the same folder."
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom labels."
          },
          "ds_type": {
            "type": "string",
            "description": "Datasource type identifier (e.g. `prometheus`, `elasticsearch`)."
          },
          "ds_list": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Data source name patterns (supports wildcards). At least one of `ds_list` / `ds_ids` must be non-empty; the two are merged to decide which datasources the rule monitors."
          },
          "ds_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "description": "Datasource IDs, merged with `ds_list` to decide which datasources the rule monitors; IDs survive datasource renames. At least one of `ds_list` and `ds_ids` must be provided."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the rule is enabled. Updating to `false` makes the server clean up the rule's active alerts."
          },
          "debug_log_enabled": {
            "type": "boolean",
            "description": "Whether to enable debug logging; the edge emits detailed evaluation logs, useful for troubleshooting rules that do not trigger as expected."
          },
          "rule_configs": {
            "$ref": "#/components/schemas/RuleConfigs",
            "description": "Check configuration: query list plus trigger/recovery conditions. Structure see `RuleConfigs`."
          },
          "cron_pattern": {
            "type": "string",
            "description": "Schedule expression: a 6-field cron (with seconds) or an `@every 30s` interval descriptor. Must not start with `CRON_TZ=` or `TZ=`; use the `timezone` field instead."
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the rule executes. Determines how the cron schedule and effective time windows are interpreted. Only IANA timezone names are accepted (e.g. `Asia/Shanghai`, `UTC`, `Europe/London`); shortcuts and offsets such as `Local`, `UTC+8`, or `CST` are rejected. Treated as `Asia/Shanghai` if empty.",
            "default": "Asia/Shanghai"
          },
          "delay_seconds": {
            "type": "integer",
            "description": "Seconds to shift the evaluation query window backward, compensating for data ingestion latency."
          },
          "enabled_times": {
            "type": "array",
            "description": "Time windows when the rule is active. Defaults to all days from 00:00 to 23:59 when omitted or empty.",
            "default": [
              {
                "days": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  0
                ],
                "stime": "00:00",
                "etime": "23:59"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "days": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "Days of week (0=Sunday)."
                },
                "stime": {
                  "type": "string",
                  "description": "Start time, e.g. `09:00`."
                },
                "etime": {
                  "type": "string",
                  "description": "End time, e.g. `18:00`."
                }
              }
            }
          },
          "annotations": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Annotation key-value pairs delivered with alert events; keys must not start with `$` (reserved for query fields)."
          },
          "description_type": {
            "type": "string",
            "enum": [
              "text",
              "markdown"
            ],
            "default": "text",
            "description": "Format for the description. Defaults to `text` when omitted or empty. `text` = plain text; `markdown` = Markdown, rendered as Markdown in alert details."
          },
          "description": {
            "type": "string",
            "description": "Rule description, in Markdown."
          },
          "channel_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "uint64"
            },
            "description": "Channel IDs to send alerts to."
          },
          "repeat_interval": {
            "type": "integer",
            "format": "int64",
            "description": "Notification repeat interval in seconds."
          },
          "repeat_total": {
            "type": "integer",
            "format": "int64",
            "description": "Max number of repeat notifications."
          },
          "creator_id": {
            "type": "integer",
            "format": "uint64",
            "description": "Creator user ID. Filled by the server from the current user; do not provide."
          },
          "creator_name": {
            "type": "string",
            "description": "Creator name. Filled by the server; do not provide."
          },
          "updater_id": {
            "type": "integer",
            "format": "uint64",
            "description": "Last updater user ID. Filled by the server; do not provide."
          },
          "updater_name": {
            "type": "string",
            "description": "Last updater name. Filled by the server; do not provide."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation time as a Unix timestamp in seconds. Generated by the server; do not provide."
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Last update time as a Unix timestamp in seconds. Generated by the server; do not provide."
          }
        },
        "required": [
          "folder_id",
          "name",
          "ds_type",
          "cron_pattern",
          "rule_configs"
        ]
      },
      "AlertRuleAudit": {
        "type": "object",
        "description": "An audit record capturing a rule snapshot at a point in time.",
        "required": [
          "id",
          "account_id",
          "alert_rule_id",
          "action",
          "creator_id",
          "creator_name",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "uint64",
            "description": "Audit record ID."
          },
          "account_id": {
            "type": "integer",
            "format": "uint64",
            "description": "ID of the account that owns the rule."
          },
          "alert_rule_id": {
            "type": "integer",
            "format": "uint64",
            "description": "ID of the alert rule this record belongs to."
          },
          "action": {
            "type": "string",
            "description": "Action performed: `create` = rule created; `update` = rule updated (covers full updates, field-batch updates, imports and moves).",
            "enum": [
              "create",
              "update"
            ]
          },
          "content": {
            "type": "string",
            "description": "JSON string of the full rule snapshot at audit time. Populated on `/monit/rule/audit/detail`, omitted on list responses."
          },
          "creator_id": {
            "type": "integer",
            "format": "uint64",
            "description": "ID of the user who made this change (taken from the rule's `updater_id` at change time)."
          },
          "creator_name": {
            "type": "string",
            "description": "Name of the user who made this change (taken from the rule's `updater_name` at change time)."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "When this audit record was produced, as a Unix timestamp in seconds; equals the rule's `updated_at` at change time."
          }
        }
      },
      "AlertRuleBasic": {
[...]
