{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty 开放 API",
    "description": "Flashduty 事件管理平台的公开 HTTP API —— 覆盖故障、通知模板、协作空间、值班排班、监控、RUM、以及平台管理。每次调用都需在 query 中携带 `app_key`，该 key 在 Flashduty 控制台 账户 → APP Key 中签发。所有响应使用统一结构：成功时为 `{ request_id, data }`，失败时为 `{ request_id, error }`。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Monitors/告警规则",
      "description": "创建、管理和导出监控告警规则，查询规则统计和审计历史。"
    },
    {
      "name": "Monitors/告警数据源",
      "description": "管理监控告警规则用于查询指标的数据源。"
    },
    {
      "name": "Monitors/诊断分析",
      "description": "Flashduty AI SRE 使用的诊断与查询接口——数据源即席查询、日志/指标诊断,以及监控对象侧的工具调用。"
    },
    {
      "name": "Monitors/通用工具",
      "description": "监控服务开通及数据预览工具。"
    },
    {
      "name": "Monitors/仪表盘",
      "description": "创建、搜索、版本化与运行 Monitors 仪表盘，并解析其变量与查询。"
    },
    {
      "name": "Monitors/规则分组",
      "description": "列出仪表盘与告警规则所在的监控节点树。"
    }
  ],
  "paths": {
    "/monit/rule/counter/total": {
      "post": {
        "operationId": "monit-rule-read-counter-total",
        "summary": "查看规则数量时序",
        "description": "返回当前账户下规则总数的历史时序数据，每个 `clock` 时间戳对应一个采样。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |\n\n## 使用说明\n\n- 每一项为一次历史快照：`num` 为 `clock`（Unix 时间戳，秒）时刻的规则总数。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-counter-total",
          "metadata": {
            "sidebarTitle": "查看规则数量时序"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleCounterTotalResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 1,
                      "account_id": 10023,
                      "num": 50,
                      "clock": 1712000000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleEmptyRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/monit/datasource/create": {
      "post": {
        "operationId": "monit-datasource-write-create",
        "summary": "创建数据源",
        "description": "创建新的监控数据源，`payload` 中须包含对应类型的配置块。 支持诊断类型 redis_node、redis_sentinel、mongodb_mongod、mongodb_mongos 和 kafka；enabled 与 alerting_enabled 相互独立。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源管理**（`monit`） |\n\n## 使用说明\n\n- `type_ident` 必须为以下之一：`prometheus`、`loki`、`mysql`、`oracle`、`postgres`、`clickhouse`、`elasticsearch`、`sls`、`tencent_cls`、`victorialogs`、`redis_node`、`redis_sentinel`、`mongodb_mongod`、`mongodb_mongos`、`kafka`。\n- `edge_cluster_name` 指定使用该数据源进行规则评估的 Monitors Edge 集群。\n- 对于 `elasticsearch`，`payload.elasticsearch.deployment` 须设为 `cloud` 或 `self-managed`。\n- 每次调用都会记录到账户审计日志，仅通过凭据字段配置连接凭据。\n\n完整支持类型与凭据行为见请求/响应 Schema。仅诊断类型不能启用告警。创建时省略 enabled 默认为 true，更新时省略保留当前值；enabled 或 alerting_enabled 的显式 null 非法。诊断密码及 Kafka 私钥在响应中省略，环境变量引用除外；更新时省略秘密字段保留原值，空字符串清除。其他数据源凭据可能返回，应作为敏感数据处理。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-write-create",
          "metadata": {
            "sidebarTitle": "创建数据源"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod",
                    "enabled": true,
                    "edge_cluster_name": "default",
                    "updated_at": 1712000000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceUpsertRequest"
              },
              "example": {
                "type_ident": "prometheus",
                "name": "Prometheus Prod",
                "note": "Production Prometheus",
                "address": "http://prometheus.example.com:9090",
                "edge_cluster_name": "default",
                "payload": {
                  "prometheus": {
                    "basic_auth_enabled": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/datasource/update": {
      "post": {
        "operationId": "monit-datasource-write-update",
        "summary": "更新数据源",
        "description": "更新已有数据源，需提供 `id` 及待修改的字段。 支持诊断类型 redis_node、redis_sentinel、mongodb_mongod、mongodb_mongos 和 kafka；enabled 与 alerting_enabled 相互独立。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源管理**（`monit`） |\n\n## 使用说明\n\n- 每次调用都会记录到账户审计日志，仅通过凭据字段配置连接凭据。\n\n完整支持类型与凭据行为见请求/响应 Schema。仅诊断类型不能启用告警。创建时省略 enabled 默认为 true，更新时省略保留当前值；enabled 或 alerting_enabled 的显式 null 非法。诊断密码及 Kafka 私钥在响应中省略，环境变量引用除外；更新时省略秘密字段保留原值，空字符串清除。其他数据源凭据可能返回，应作为敏感数据处理。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-write-update",
          "metadata": {
            "sidebarTitle": "更新数据源"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod v2",
                    "enabled": true,
                    "edge_cluster_name": "default",
                    "updated_at": 1712100000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceUpsertRequest"
              },
              "example": {
                "id": 10,
                "type_ident": "prometheus",
                "name": "Prometheus Prod v2",
                "note": "Updated",
                "address": "http://prometheus-v2.example.com:9090",
                "edge_cluster_name": "default",
                "payload": {
                  "prometheus": {
                    "basic_auth_enabled": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/rule/move": {
      "post": {
        "operationId": "monit-rule-write-move",
        "summary": "移动告警规则到文件夹",
        "description": "将一条或多条告警规则移动到其他文件夹。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- 如果目标文件夹中已存在同名规则，该规则会被跳过；请检查每条结果的 `message` 以识别冲突。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-move",
          "metadata": {
            "sidebarTitle": "移动告警规则到文件夹"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleNameMessageListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "message": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleMoveRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ],
                "dest_folder_id": 200
              }
            }
          }
        }
      }
    },
    "/monit/rule/audit/detail": {
      "post": {
        "operationId": "monit-rule-read-audit-detail",
        "summary": "查看规则审计快照",
        "description": "返回审计记录（包含 `content` 字段，即该时间点规则配置的 JSON 字符串快照）。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |\n\n## 使用说明\n\n- 传入来自 `POST /monit/rule/audits` 的审计记录 `id`（非规则 `id`）。\n- `content` 为 JSON 字符串，解析后可获得完整的规则快照。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-audit-detail",
          "metadata": {
            "sidebarTitle": "查看规则审计快照"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleAudit"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 9001,
                    "account_id": 10023,
                    "alert_rule_id": 50001,
                    "action": "update",
                    "content": "{\"id\":50001,\"name\":\"CPU High\"}",
                    "creator_id": 80011,
                    "creator_name": "Alice",
                    "created_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRecordIDRequest"
              },
              "example": {
                "id": 9001
              }
            }
          }
        }
      }
    },
    "/monit/datasource/delete": {
      "post": {
        "operationId": "monit-datasource-write-delete",
        "summary": "删除数据源",
        "description": "通过 ID 删除数据源。引用该数据源的告警规则不会被阻塞：该数据源会从规则的监控范围中移除，规则上相关的未恢复告警会自动关闭。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源管理**（`monit`） |\n\n## 使用说明\n\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-write-delete",
          "metadata": {
            "sidebarTitle": "删除数据源"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDRequest"
              },
              "example": {
                "id": 10
              }
            }
          }
        }
      }
    },
    "/monit/rule/delete/batch": {
      "post": {
        "operationId": "monit-rule-write-delete-batch",
        "summary": "批量删除告警规则",
        "description": "在单次请求中删除多条告警规则。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **30 次/分钟**；**5 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-delete-batch",
          "metadata": {
            "sidebarTitle": "批量删除告警规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleEmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDsRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ]
              }
            }
          }
        }
      }
    },
    "/monit/datasource/sls/projects": {
      "post": {
        "operationId": "monit-datasource-read-sls-projects",
        "summary": "查询 SLS 项目列表",
        "description": "列出指定 SLS 数据源中可用的阿里云日志服务（SLS）项目。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n\n## 使用说明\n\n- `id` 指定的数据源类型必须为 `sls`。\n- 使用 `query` 按名称前缀过滤项目，使用 `offset` 和 `size` 分页。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-read-sls-projects",
          "metadata": {
            "sidebarTitle": "查询 SLS 项目列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SLSProjectsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "projects": [
                      {
                        "projectName": "project-a",
                        "description": "Production logs",
                        "status": "Normal",
                        "owner": "",
                        "region": "cn-shanghai",
                        "createTime": "1710000000",
                        "lastModifyTime": "1712000000"
                      },
                      {
                        "projectName": "project-b",
                        "description": "Staging logs",
                        "status": "Normal",
                        "owner": "",
                        "region": "cn-shanghai",
                        "createTime": "1710000000",
                        "lastModifyTime": "1712000000"
                      }
                    ],
                    "count": 2,
                    "total": 2
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSProjectsRequest"
              },
              "example": {
                "id": 10,
                "query": "",
                "offset": 0,
                "size": 50
              }
            }
          }
        }
      }
    },
    "/monit/datasource/sls/logstores": {
      "post": {
        "operationId": "monit-datasource-read-sls-logstores",
        "summary": "查询 SLS 日志库列表",
        "description": "列出指定 SLS 数据源中某个项目下的日志库。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n\n## 使用说明\n\n- `id` 指定的数据源类型必须为 `sls`。\n- 通过 `project` 指定要列出日志库的 SLS 项目。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-read-sls-logstores",
          "metadata": {
            "sidebarTitle": "查询 SLS 日志库列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SLSLogstoresResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    "logstore-1",
                    "logstore-2"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SLSLogstoresRequest"
              },
              "example": {
                "id": 10,
                "project": "project-a",
                "offset": 0,
                "size": 50
              }
            }
          }
        }
      }
    },
    "/monit/datasource/info": {
      "post": {
        "operationId": "monit-datasource-read-info",
        "summary": "查看数据源详情",
        "description": "通过 ID 获取单个数据源的完整信息，包括 `payload` 配置及其中配置的连接与鉴权信息；请将该响应视为敏感信息，避免记录或转发。 支持诊断类型 redis_node、redis_sentinel、mongodb_mongod、mongodb_mongos 和 kafka；enabled 与 alerting_enabled 相互独立。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n\n完整支持类型与凭据行为见请求/响应 Schema。仅诊断类型不能启用告警。创建时省略 enabled 默认为 true，更新时省略保留当前值；enabled 或 alerting_enabled 的显式 null 非法。诊断密码及 Kafka 私钥在响应中省略，环境变量引用除外；更新时省略秘密字段保留原值，空字符串清除。其他数据源凭据可能返回，应作为敏感数据处理。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-read-info",
          "metadata": {
            "sidebarTitle": "查看数据源详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 10,
                    "account_id": 10023,
                    "type_ident": "prometheus",
                    "name": "Prometheus Prod",
                    "enabled": true,
                    "note": "Production Prometheus",
                    "address": "http://prometheus.example.com:9090",
                    "payload": {
                      "prometheus": {
                        "basic_auth_enabled": false,
                        "basic_auth_username": "",
                        "basic_auth_password": "",
                        "tls_skip_verify": false
                      }
                    },
                    "edge_cluster_name": "default",
                    "updated_at": 1712000000,
                    "alerting_enabled": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IDRequest"
              },
              "example": {
                "id": 10
              }
            }
          }
        }
      }
    },
    "/monit/rule/audits": {
      "post": {
        "operationId": "monit-rule-read-audits",
        "summary": "查询规则变更历史",
        "description": "返回告警规则的变更历史（审计记录）。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-audits",
          "metadata": {
            "sidebarTitle": "查询规则变更历史"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleAuditListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 9001,
                      "account_id": 10023,
                      "alert_rule_id": 50001,
                      "action": "update",
                      "creator_id": 80011,
                      "creator_name": "Alice",
                      "created_at": 1712000000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/delete": {
      "post": {
        "operationId": "monit-rule-write-delete",
        "summary": "删除告警规则",
        "description": "通过 ID 删除单条告警规则。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-delete",
          "metadata": {
            "sidebarTitle": "删除告警规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleEmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/list/basic": {
      "post": {
        "operationId": "monit-rule-read-list",
        "summary": "查询告警规则列表",
        "description": "返回指定文件夹下所有告警规则的基础信息。如需完整规则详情，请调用 `POST /monit/rule/v2/info`。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |\n\n## 使用说明\n\n- 将 `folder_id` 设为 `0` 可列出当前用户有权查看的所有文件夹下的规则。\n- `triggered` 字段表示该规则当前是否有活跃告警。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-list",
          "metadata": {
            "sidebarTitle": "查询告警规则列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleBasicListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 50001,
                      "folder_id": 100,
                      "name": "CPU High",
                      "ds_type": "prometheus",
                      "enabled": true,
                      "triggered": true,
                      "created_at": 1710000000,
                      "active_alert_count": 2,
                      "runtime_state": "normal"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleListRequest"
              },
              "example": {
                "folder_id": 100
              }
            }
          }
        }
      }
    },
    "/monit/datasource/list": {
      "post": {
        "operationId": "monit-datasource-read-list",
        "summary": "查询数据源列表",
        "description": "返回当前账户下的所有数据源，可通过 `type_ident` 过滤类型。 支持诊断类型 redis_node、redis_sentinel、mongodb_mongod、mongodb_mongos 和 kafka；enabled 与 alerting_enabled 相互独立。",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n\n## 使用说明\n\n- 省略 `type_ident` 可返回所有类型的数据源。\n- 列表响应中不返回敏感凭证字段（密码、密钥）。\n\n完整支持类型与凭据行为见请求/响应 Schema。仅诊断类型不能启用告警。创建时省略 enabled 默认为 true，更新时省略保留当前值；enabled 或 alerting_enabled 的显式 null 非法。诊断密码及 Kafka 私钥在响应中省略，环境变量引用除外；更新时省略秘密字段保留原值，空字符串清除。其他数据源凭据可能返回，应作为敏感数据处理。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-read-list",
          "metadata": {
            "sidebarTitle": "查询数据源列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DataSourceListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "id": 10,
                      "account_id": 10023,
                      "type_ident": "prometheus",
                      "name": "Prometheus Prod",
                      "enabled": true,
                      "note": "Production Prometheus",
                      "address": "http://prometheus.example.com:9090",
                      "edge_cluster_name": "default",
                      "updated_at": 1712000000,
                      "payload": null,
                      "alerting_enabled": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSourceListRequest"
              },
              "example": {
                "type": "prometheus"
              }
            }
          }
        }
      }
    },
    "/monit/rule/update/fields": {
      "post": {
        "operationId": "monit-rule-write-fields-update",
        "summary": "批量更新规则字段",
        "description": "一次性更新多条告警规则的特定字段，仅应用 `fields` 列表中指定的字段。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- 在 `fields` 数组中指定要更新的字段名，如 `[\"enabled\", \"channel_ids\"]`。\n- 仅更新指定字段，其他字段保持不变。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-fields-update",
          "metadata": {
            "sidebarTitle": "批量更新规则字段"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleNameMessageListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": [
                    {
                      "name": "CPU High",
                      "message": ""
                    },
                    {
                      "name": "Disk High",
                      "message": ""
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleFieldsUpdateRequest"
              },
              "example": {
                "ids": [
                  50001,
                  50002
                ],
                "fields": [
                  "enabled"
                ],
                "enabled": false
              }
            }
          }
        }
      }
    },
    "/monit/rule/counter/channel": {
      "post": {
        "operationId": "monit-rule-read-counter-channel",
        "summary": "按协作空间查询规则统计",
        "description": "返回一个对象，key 为协作空间名称，value 为将告警路由到该协作空间的规则数量。若协作空间名称无法解析，则以协作空间 ID（字符串形式）作为 key。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-counter-channel",
          "metadata": {
            "sidebarTitle": "按协作空间查询规则统计"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RuleCounterChannelResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "Production": 8
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleEmptyRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/monit/rule/v2/info": {
      "post": {
        "operationId": "monit-rule-read-info-v2",
        "summary": "获取告警规则详情 V2",
        "description": "通过 ID 返回告警规则的完整 V2 配置，包含 lifecycle v2 的恢复与结束模式设置。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **告警规则查看**（`monit`） |\n\n## 使用说明\n\n- `id` 必填且不能为 `0`，否则返回 `InvalidParameter`。\n- 规则不存在时返回 `InvalidParameter`（`alert rule not found`）。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-read-info-v2",
          "metadata": {
            "sidebarTitle": "获取告警规则详情 V2"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 90",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIDRequest"
              },
              "example": {
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/rule/v2/create": {
      "post": {
        "operationId": "monit-rule-write-create-v2",
        "summary": "创建告警规则 V2",
        "description": "创建新的 V2 告警规则，返回带有分配 ID 的已创建规则。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- `name`、`ds_type`、`enabled`、`cron_pattern` 和 `rule_configs.queries` 为必填项；`ds_list`（支持通配符）或 `ds_ids` 必须有一个非空。\n- `enabled` 必须显式传入（包括 `false`），缺失时返回 `InvalidParameter`。\n- `id`、`account_id`、`creator_*`、`updater_*`、`created_at`、`updated_at` 由服务端赋值，客户端传入将被忽略。\n- `name` 在 `folder_id` 内必须唯一；重名会返回 `InvalidParameter`。\n- `channel_ids` 可为空，告警将通过全局集成路由。\n- 请求体容忍额外的未知字段（向前兼容），未知字段会被忽略。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-create-v2",
          "metadata": {
            "sidebarTitle": "创建告警规则 V2"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 90",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleV2"
              },
              "example": {
                "folder_id": 100,
                "name": "CPU High",
                "ds_type": "prometheus",
                "ds_list": [
                  "prometheus*"
                ],
                "enabled": true,
                "cron_pattern": "0 * * * * *",
                "channel_ids": [
                  20001
                ],
                "rule_configs": {
                  "queries": [
                    {
                      "name": "A",
                      "expr": "100 - avg(cpu_usage_idle)"
                    }
                  ],
                  "check_threshold": {
                    "enabled": true,
                    "alerting_check_times": 3,
                    "alerting_window_size": 5,
                    "recovery_check_times": 2,
                    "critical": "$A > 90",
                    "warning": "$A > 80",
                    "recovery_mode": "condition_clear"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monit/rule/v2/update": {
      "post": {
        "operationId": "monit-rule-write-update-v2",
        "summary": "更新告警规则 V2",
        "description": "按 ID 全量替换告警规则的 V2 配置，返回更新后的规则。",
        "tags": [
          "Monitors/告警规则"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **告警规则管理**（`monit`） |\n\n## 使用说明\n\n- `id` 必填且对应规则必须已存在，否则返回 `InvalidParameter`。\n- 本接口为全量字段替换语义：除下列例外外，未传入的字段按零值保存，建议先调用 `/monit/rule/v2/info` 获取完整配置后再修改。\n- `enabled` 必须显式传入（包括 `false`），缺失时返回 `InvalidParameter`；更新为 `false` 时服务端会清理该规则的活跃告警。\n- `investigation_targets` 为例外：省略时保留原配置，传 `[]` 清空，传值则整体替换。\n- `folder_id` 不可通过本接口修改，调整文件夹请使用 `/monit/rule/move`。\n- `account_id`、`creator_*`、`updater_*`、`created_at`、`updated_at` 由服务端维护，传入将被忽略。\n- `name` 在 `folder_id` 内必须唯一；重名会返回 `InvalidParameter`。\n- 请求体容忍额外的未知字段（向前兼容），未知字段会被忽略。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/monitors/alert-rules/monit-rule-write-update-v2",
          "metadata": {
            "sidebarTitle": "更新告警规则 V2"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertRuleV2"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": 50001,
                    "account_id": 888,
                    "folder_id": 100,
                    "name": "CPU High",
                    "labels": {},
                    "ds_type": "prometheus",
                    "ds_list": [
                      "prometheus*"
                    ],
                    "ds_ids": [],
                    "enabled": true,
                    "debug_log_enabled": false,
                    "rule_configs": {
                      "queries": [
                        {
                          "name": "A",
                          "expr": "100 - avg(cpu_usage_idle)"
                        }
                      ],
                      "check_threshold": {
                        "enabled": true,
                        "alerting_check_times": 3,
                        "alerting_window_size": 5,
                        "recovery_check_times": 2,
                        "critical": "$A > 95",
                        "warning": "$A > 80",
                        "recovery_mode": "condition_clear"
                      }
                    },
                    "cron_pattern": "0 * * * * *",
                    "timezone": "Asia/Shanghai",
                    "delay_seconds": 0,
                    "enabled_times": [
                      {
                        "days": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          0
                        ],
                        "stime": "00:00",
                        "etime": "23:59"
                      }
                    ],
                    "annotations": {},
                    "description_type": "text",
                    "description": "",
                    "channel_ids": [
                      20001
                    ],
                    "repeat_interval": 3600,
                    "repeat_total": 3,
                    "investigation_targets": [],
                    "creator_id": 66,
                    "creator_name": "zhangsan",
                    "updater_id": 66,
                    "updater_name": "zhangsan",
                    "created_at": 1712000000,
                    "updated_at": 1712003600
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRuleV2"
              },
              "example": {
                "folder_id": 100,
                "name": "CPU High",
                "ds_type": "prometheus",
                "ds_list": [
                  "prometheus*"
                ],
                "enabled": true,
                "cron_pattern": "0 * * * * *",
                "channel_ids": [
                  20001
                ],
                "rule_configs": {
                  "queries": [
                    {
                      "name": "A",
                      "expr": "100 - avg(cpu_usage_idle)"
                    }
                  ],
                  "check_threshold": {
                    "enabled": true,
                    "alerting_check_times": 3,
                    "alerting_window_size": 5,
                    "recovery_check_times": 2,
                    "critical": "$A > 95",
                    "warning": "$A > 80",
                    "recovery_mode": "condition_clear"
                  }
                },
                "id": 50001
              }
            }
          }
        }
      }
    },
    "/monit/query/data": {
      "post": {
        "operationId": "monit-read-query-data",
        "summary": "查询结构化数据",
        "description": "对已配置的数据源执行同步即席查询，并返回稳定的 `query_result.v1` 结果；结果会按自然语义呈现为 frames、records 或 samples。此公开接口要求 monit-edge v0.65.0 或更高版本。",
        "tags": [
          "Monitors/诊断分析"
        ],
        "x-mint": {
          "content": "## 调用限制\n\n| 项 | 值 |\n| ------ | ----- |\n| 速率限制 | 每账户 **100 次/分钟**、**5 次/秒** |\n| 权限 | 任意有效的 `app_key`（只读，不受特定权限分类限制） |\n| Edge 版本要求 | 受支持的部署要求 **monit-edge v0.65.0 或更高版本** |\n\n## 使用说明\n\n- 此公开接口以 **monit-edge v0.65.0** 为最低受支持版本。迁移期间，WebAPI 仍保留旧版 Edge 适配器：query.v2 结果仍可能保留 frames、records 或 samples，而 legacy rows 只能提供其已保留的信息。这些适配器不会改变最低支持版本；旧协议缺少 query.v3 的取消和错误生命周期语义，legacy rows 已丢失的数据也无法恢复。\n- 公开响应格式固定为 `query_result.v1`，与 Edge 内部查询协议版本无关。必须根据 `result.kind`（`frames`、`records` 或 `samples`）分发结果，不要根据 `ds_type` 或 Edge 版本猜测结果形态。\n- `frames` 结果可以包含多个表格或时序 Frame。字段值按列组织，同一 Frame 中所有字段的值数量一致。\n- `records` 结果可以包含嵌套 JSON 和 null record。超出 JavaScript 安全整数范围的整数字面量会以十进制字符串返回。\n- `samples` 结果包含标签集合和瞬时值。值可以是数字，也可以是字符串 `NaN`、`+Inf` 或 `-Inf`。\n- 最终成功响应上限为 8 MiB，查询结果上限为 1,000 行。超限时请缩短时间范围、减少字段或在数据源侧聚合。\n- 查询失败使用非 2xx HTTP 状态码和标准错误 envelope。不要透明回退到已弃用的 `/monit/query/rows` 接口。\n- WebAPI 跨实例转发和 Edge 执行合计可能耗时 35 秒。客户端超时建议至少设为 40 秒，并在调用方放弃查询时向下传播取消信号。",
          "href": "/zh/api-reference/monitors/diagnostics/monit-read-query-data",
          "metadata": {
            "sidebarTitle": "查询结构化数据"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDataRequest"
              },
              "example": {
                "ds_type": "prometheus",
                "ds_name": "prod-prom",
                "expr": "sum by (job) (rate(http_requests_total[5m]))",
                "delay_seconds": 0,
                "args": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/QueryDataResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "format": "query_result.v1",
                    "result": {
                      "kind": "samples",
                      "samples": [
                        {
                          "labels": {
                            "job": "api"
                          },
                          "value": 1.25
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "description": "请求或最终响应超过大小限制。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "499": {
            "description": "客户端已取消查询。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "description": "查询超时。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/monit/datasource/tools/invoke": {
      "post": {
        "description": "对已配置的数据源执行单个确定性诊断或查询工具。",
        "operationId": "monit-datasource-tools-invoke",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasourceToolInvokeRequest"
              },
              "examples": {
                "diagnostic": {
                  "value": {
                    "datasource_id": 10,
                    "params": {},
                    "tool": "mysql.overview"
                  }
                },
                "query": {
                  "value": {
                    "datasource_id": 24000,
                    "tool": "prometheus.query",
                    "params": {
                      "expr": "sum(rate(http_requests_total[5m]))",
                      "execution": {
                        "kind": "instant",
                        "to_ms": 1789000000000
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DatasourceToolResult"
                        }
                      },
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "diagnostic": {
                    "value": {
                      "data": {
                        "data": {
                          "version": "8.0.36"
                        },
                        "datasource_id": 10,
                        "summary": "MySQL overview",
                        "tool": "mysql.overview"
                      },
                      "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                    }
                  },
                  "query": {
                    "value": {
                      "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                      "data": {
                        "datasource_id": 24000,
                        "tool": "prometheus.query",
                        "data": {
                          "format": "explore_result.v1",
                          "result": {
                            "kind": "samples",
                            "samples": [
                              {
                                "labels": {
                                  "__name__": "up",
                                  "instance": "10.101.214.50:7070"
                                },
                                "value": 1
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "成功"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：invalid_request, tool_not_supported, datasource_error."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：access_denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：datasource_not_found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：datasource_disabled, datasource_in_use."
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：source_too_large, result_too_large."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：overloaded."
          },
          "499": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：canceled."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：internal."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：no_active_edge, edge_upgrade_required, mixed_edge_versions."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "标准 HTTP 错误；error.reason：timeout."
          }
        },
        "summary": "调用数据源工具",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **2,000 次/分钟**；**32 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n\n通过 `/monit/datasource/list` 获取数据源 ID。停用数据源返回 `datasource_disabled`，`alerting_enabled=false` 不阻断工具。错误使用非 2xx HTTP 状态和 `error.code`、`error.message`、`error.reason`。`tool_not_supported` 表示选中的执行端未提供该工具，不表示厂商权限不足。禁止自动切换 Edge 或回退旧 diagnose 重试。\n\n## 使用说明\n\n- 本入口共用两类工具：由执行端 Edge 定义的诊断工具（如 `mysql.overview`、`prometheus.metric_trends`）和命名为 `<type>.query` 的查询工具。工具前缀必须与数据源类型一致。\n- 查询工具要求 Edge 集群支持 Explore 查询（协议里程碑 v0.68.0）；诊断工具要求 v0.71.0 基础 invoke 协议。不支持的集群返回 `edge_upgrade_required`、`mixed_edge_versions` 或 `edge_version_unknown`；禁止自动回退 `/monit/query/data` 或其他接口。\n- 查询工具的 `params` 遵循 `tool` 字段描述中按数据源列出的专属 Schema。`expr` 和 `execution` 必填。`limit`/`direction` 只约束原始日志条数与检索方向，不代表 SQL 行数或扫描量。未知扩展字段被容忍，但不参与执行也不透传。\n- 查询结果的 `data` 是完整 Explore 结果：`format` 为 `explore_result.v1`，`result.kind` 为 `samples`、`frames` 或 `logs`；日志结果保留 `applied_limit` 和 `has_more`。查询结果不合成 `summary` 或 `truncated`。\n- 请求体上限 128 KiB；两类工具的完整成功响应上限均为 10 MiB；诊断工具超时最多 25 秒。",
          "href": "/zh/api-reference/monitors/data-sources/monit-datasource-tools-invoke",
          "metadata": {
            "sidebarTitle": "调用数据源工具"
          }
        }
      }
    },
    "/monit/query/explore": {
      "post": {
        "description": "对已配置的数据源执行探索查询，返回 frames、samples 或 logs 形态的结果。",
        "operationId": "monit-read-query-explore",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryExploreRequest"
              },
              "example": {
                "datasource_id": 101,
                "expr": "rate(http_requests_total[5m])",
                "args": {},
                "execution": {
                  "kind": "range",
                  "from_ms": 1787187600000,
                  "to_ms": 1787191200000,
                  "max_data_points": 1200,
                  "min_step_seconds": 15
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ExploreData"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "format": "explore_result.v1",
                    "result": {
                      "kind": "frames",
                      "frames": [
                        {
                          "kind": "time_series",
                          "fields": [
                            {
                              "name": "time",
                              "type": "time",
                              "values": [
                                "2026-08-20T10:00:00Z",
                                "2026-08-20T10:01:00Z"
                              ]
                            },
                            {
                              "name": "value",
                              "type": "float",
                              "labels": {
                                "job": "api"
                              },
                              "values": [
                                1.25,
                                null
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "execution": {
                      "kind": "range",
                      "effective_step_seconds": 60
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "标准 HTTP 错误；error.reason：invalid_request。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "标准 HTTP 错误；error.reason：access_denied。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "标准 HTTP 错误；error.reason：datasource_not_found。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "标准 HTTP 错误；error.reason：source_too_large、result_too_large。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "标准 HTTP 错误；error.reason：overloaded。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "499": {
            "description": "标准 HTTP 错误；error.reason：canceled。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "标准 HTTP 错误；error.reason：internal。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "标准 HTTP 错误；error.reason：no_active_edge、edge_upgrade_required、mixed_edge_versions、edge_unavailable。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "504": {
            "description": "标准 HTTP 错误；error.reason：timeout。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "执行探索查询",
        "tags": [
          "Monitors/诊断分析"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **100 次/分钟**；**16 次/秒** |\n| 权限要求 | **数据源查看**（`monit`） |\n| Edge 版本要求 | 受支持的部署要求 **monit-edge v0.68.0 或更高版本** |\n\n## 使用说明\n\n- 需要数据源原生结果形态时使用本接口；`/monit/query/data` 返回稳定的 `query_result.v1` 契约。本接口根据 `data.result.kind`（`frames`、`samples` 或 `logs`）分发结果。\n- `execution.kind` 决定可接受的配套字段：`instant` 只需 `to_ms`，`range` 需要 `from_ms`、`to_ms` 和 `max_data_points`，`window` 需要 `from_ms` 和 `to_ms`。不接受 `step_seconds`，步长由 `max_data_points` 与 `min_step_seconds` 推导。\n- `args` 用于宏替换（例如 Grafana 风格变量），取值均为字符串。\n- `logs` 结果最多返回 1,000 条，并通过 `applied_limit` 与 `has_more` 说明截断情况。时序与采样结果各最多 1,000 条，成功响应整体上限 8 MiB。\n- WebAPI 跨实例转发与 Edge 执行合计可能耗时 35 秒，客户端超时建议至少 40 秒。",
          "href": "/zh/api-reference/monitors/diagnostics/monit-read-query-explore",
          "metadata": {
            "sidebarTitle": "执行探索查询"
          }
        }
      }
    },
    "/monit/prometheus/api/v1/label/{label_name}/values": {
      "get": {
        "description": "通过监控代理从 Prometheus 兼容数据源读取标签值列表。",
        "operationId": "monit-prometheus-read-label-values",
        "parameters": [
          {
            "name": "label_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要枚举取值的标签名，例如 `job`。"
          },
          {
            "name": "X-DSID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要查询的数据源 ID，必须是当前账户下 Prometheus 兼容类型的数据源。"
          }
        ],
        "responses": {
          "200": {
            "description": "数据源返回的原生 Prometheus 标签值响应。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrometheusLabelValuesResponse"
                },
                "example": {
                  "status": "success",
                  "data": [
                    "api",
                    "db",
                    "worker"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`X-DSID` 请求头缺失或非法、数据源不存在，或该数据源不是 Prometheus 类型。以 `text/plain` 返回。",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "description": "数据源查询或代理请求失败。以 `text/plain` 返回。",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "数据源所在集群中没有支持数据源资源代理的 monit-edge。以 `text/plain` 返回，请升级 monit-edge。",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "查询 Prometheus 标签值列表",
        "tags": [
          "Monitors/告警数据源"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 任意有效的 `app_key`（只读，不受特定权限分类限制） |\n| Edge 版本要求 | 受支持的部署要求 **monit-edge v0.35.0 或更高版本** |\n\n## 使用说明\n\n- 通过 `X-DSID` 请求头指定目标数据源，必须是当前账户下 Prometheus 兼容类型的数据源；可用 `/monit/datasource/list` 获取 ID。\n- 200 响应体是数据源原生的 Prometheus HTTP API 结构，**不是**统一的 `{ request_id, data }` envelope。未到达数据源前发生的失败以 `text/plain` 返回，并携带对应的 4xx/5xx 状态码。\n- 省略 `X-DSID` 时会回退到平台自有的 Prometheus 代理；需要查询指定数据源时必须携带该请求头。",
          "href": "/zh/api-reference/monitors/data-sources/monit-prometheus-read-label-values",
          "metadata": {
            "sidebarTitle": "查询 Prometheus 标签值列表"
          }
        }
      }
    },
    "/monit/dashboard/create": {
      "post": {
        "operationId": "monit-dashboard-write-create",
        "summary": "创建仪表盘",
        "description": "按完整定义创建仪表盘。",
        "tags": [
          "Monitors/仪表盘"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **仪表盘管理**（`monit`） |\n\n## Usage\n\n- `dashboard_id` 由调用方提供，因此超时后重试会以 `DashboardIDConflict` 失败，而不会创建第二个仪表盘。\n- `definition` 上限 1 MiB，请求体上限 2 MiB。\n- 会记录审计日志。",
          "href": "/zh/api-reference/monitors/dashboards/monit-dashboard-write-create",
          "metadata": {
            "sidebarTitle": "创建仪表盘"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DashboardResource"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "dashboard_id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2101",
                    "schema_version": "dashboard.v1",
                    "revision": 7,
                    "folder_id": 12,
                    "folder_breadcrumb": [
                      "Production",
                      "Checkout"
                    ],
                    "definition": {
                      "title": "Checkout service overview",
                      "description": "Traffic, errors and dependencies for the checkout service.",
                      "default_time_range": {
                        "from": "now-1h",
                        "to": "now"
                      },
                      "refresh_interval": "1m",
                      "variables": [
                        {
                          "kind": "custom",
                          "name": "env",
                          "label": "Environment",
                          "selection": {
                            "mode": "single",
                            "include_all": false
                          },
                          "options": [
                            {
                              "text": "Production",
                              "value": "prod"
                            },
                            {
                              "text": "Staging",
                              "value": "staging"
                            }
                          ],
                          "default": {
                            "kind": "values",
                            "values": [
                              "prod"
                            ]
                          }
                        }
                      ],
                      "tabs": [
                        {
                          "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2202",
                          "title": "Overview",
                          "description": "Golden signals.",
                          "top_panels": [],
                          "sections": [
                            {
                              "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2303",
                              "title": "Traffic",
                              "description": "Request rate and latency.",
                              "collapsed": false,
                              "panels": [
                                {
                                  "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2404",
                                  "title": "Request rate",
                                  "grid": {
                                    "x": 0,
                                    "y": 0,
                                    "w": 12,
                                    "h": 8
                                  },
                                  "datasource_ref": {
                                    "kind": "fixed",
                                    "datasource_id": 10,
                                    "datasource_type": "prometheus"
                                  },
                                  "queries": [
                                    {
                                      "ref_id": "A",
                                      "legend_alias": "{{env}} requests",
                                      "query": {
                                        "mode": "range",
                                        "expr": "sum(rate(http_requests_total{env=\"{{env}}\"}[5m]))",
                                        "args": {},
                                        "min_step_seconds": 30
                                      }
                                    }
                                  ],
                                  "viz_config": {
                                    "kind": "time_series",
                                    "options": {},
                                    "unit": "count_per_second",
                                    "decimals": 2,
                                    "threshold": {
                                      "mode": "higher_is_worse",
                                      "warning": 1000,
                                      "critical": 2000
                                    }
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "created_by": {
                      "id": 10023,
                      "name": "Ada Lovelace"
                    },
                    "updated_by": {
                      "id": 10088,
                      "name": "Grace Hopper"
                    },
                    "created_at": 1791000000,
                    "updated_at": 1791100800
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardCreateRequest"
              },
              "example": {
                "dashboard_id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2101",
                "schema_version": "dashboard.v1",
                "folder_id": 12,
                "definition": {
                  "title": "Checkout service overview",
                  "description": "Traffic, errors and dependencies for the checkout service.",
                  "default_time_range": {
                    "from": "now-1h",
                    "to": "now"
                  },
                  "refresh_interval": "1m",
                  "variables": [
                    {
                      "kind": "custom",
                      "name": "env",
                      "label": "Environment",
                      "selection": {
                        "mode": "single",
                        "include_all": false
                      },
                      "options": [
                        {
                          "text": "Production",
                          "value": "prod"
                        },
                        {
                          "text": "Staging",
                          "value": "staging"
                        }
                      ],
                      "default": {
                        "kind": "values",
                        "values": [
                          "prod"
                        ]
                      }
                    }
                  ],
                  "tabs": [
                    {
                      "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2202",
                      "title": "Overview",
                      "description": "Golden signals.",
                      "top_panels": [],
                      "sections": [
                        {
                          "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2303",
                          "title": "Traffic",
                          "description": "Request rate and latency.",
                          "collapsed": false,
                          "panels": [
                            {
                              "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2404",
                              "title": "Request rate",
                              "grid": {
                                "x": 0,
                                "y": 0,
                                "w": 12,
                                "h": 8
                              },
                              "datasource_ref": {
                                "kind": "fixed",
                                "datasource_id": 10,
                                "datasource_type": "prometheus"
                              },
                              "queries": [
                                {
                                  "ref_id": "A",
                                  "legend_alias": "{{env}} requests",
                                  "query": {
                                    "mode": "range",
                                    "expr": "sum(rate(http_requests_total{env=\"{{env}}\"}[5m]))",
                                    "args": {},
                                    "min_step_seconds": 30
                                  }
                                }
                              ],
                              "viz_config": {
                                "kind": "time_series",
                                "options": {},
                                "unit": "count_per_second",
                                "decimals": 2,
                                "threshold": {
                                  "mode": "higher_is_worse",
                                  "warning": 1000,
                                  "critical": 2000
                                }
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/monit/dashboard/get": {
      "post": {
        "operationId": "monit-dashboard-read-get",
        "summary": "查看仪表盘详情",
        "description": "获取单个仪表盘及其完整定义。",
        "tags": [
          "Monitors/仪表盘"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | 任意有效 `app_key`；结果限于其所属成员可读的目录 |\n\n## Usage\n\n- 位于回收站的仪表盘返回 `DashboardDeleted`，不返回定义。\n- 该读接口除目录可读性外无额外权限点：`app_key` 只能看到其所属成员可读目录下的仪表盘。",
          "href": "/zh/api-reference/monitors/dashboards/monit-dashboard-read-get",
          "metadata": {
            "sidebarTitle": "查看仪表盘详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DashboardResource"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "dashboard_id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2101",
                    "schema_version": "dashboard.v1",
                    "revision": 7,
                    "folder_id": 12,
                    "folder_breadcrumb": [
                      "Production",
                      "Checkout"
                    ],
                    "definition": {
                      "title": "Checkout service overview",
                      "description": "Traffic, errors and dependencies for the checkout service.",
                      "default_time_range": {
                        "from": "now-1h",
                        "to": "now"
                      },
                      "refresh_interval": "1m",
                      "variables": [
                        {
                          "kind": "custom",
                          "name": "env",
                          "label": "Environment",
                          "selection": {
                            "mode": "single",
                            "include_all": false
                          },
                          "options": [
                            {
                              "text": "Production",
                              "value": "prod"
                            },
                            {
                              "text": "Staging",
                              "value": "staging"
                            }
                          ],
                          "default": {
                            "kind": "values",
                            "values": [
                              "prod"
                            ]
                          }
                        }
                      ],
                      "tabs": [
                        {
                          "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2202",
                          "title": "Overview",
                          "description": "Golden signals.",
                          "top_panels": [],
                          "sections": [
                            {
                              "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2303",
                              "title": "Traffic",
                              "description": "Request rate and latency.",
                              "collapsed": false,
                              "panels": [
                                {
                                  "id": "01990d7a-9c5b-7ab0-9c18-33e38f6f2404",
                                  "title": "Request rate",
                                  "grid": {
                                    "x": 0,
                                    "y": 0,
                                    "w": 12,
                                    "h": 8
                                  },
                                  "datasource_ref": {
                                    "kind": "fixed",
                                    "datasource_id": 10,
                                    "datasource_type": "prometheus"
                                  },
                                  "queries": [
                                    {
                                      "ref_id": "A",
                                      "legend_alias": "{{env}} requests",
                                      "query": {
                                        "mode": "range",
                                        "expr": "sum(rate(http_requests_total{env=\"{{env}}\"}[5m]))",
                                        "args": {},
                                        "min_step_seconds": 30
                                      }
                                    }
                                  ],
                                  "viz_config": {
                                    "kind": "time_series",
                                    "options": {},
                                    "unit": "count_per_second",
                                    "decimals": 2,
                                    "threshold": {
                                      "mode": "higher_is_worse",
                                      "warning": 1000,
                                      "critical": 2000
                                    }
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "created_by": {
                      "id": 10023,
                      "name": "Ada Lovelace"
                    },
                    "updated_by": {
                      "id": 10088,
                      "name": "Grace Hopper"
                    },
                    "created_at": 1791000000,
                    "updated_at": 1791100800
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
[...]
