{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty 开放 API",
    "description": "Flashduty 事件管理平台的公开 HTTP API —— 覆盖故障、通知模板、协作空间、值班排班、监控、RUM、以及平台管理。每次调用都需在 query 中携带 `app_key`，该 key 在 Flashduty 控制台 账户 → APP Key 中签发。所有响应使用统一结构：成功时为 `{ request_id, data }`，失败时为 `{ request_id, error }`。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "On-call/故障管理",
      "description": ""
    },
    {
      "name": "On-call/协作空间",
      "description": ""
    },
    {
      "name": "On-call/告警管理",
      "description": "查询、查看和处理告警，管理卡片视图与告警处理规则。"
    },
    {
      "name": "On-call/集成中心",
      "description": ""
    },
    {
      "name": "On-call/IM 集成",
      "description": "IM 集成相关查询，例如查看哪些集成开启了作战室。"
    },
    {
      "name": "On-call/值班排班",
      "description": ""
    },
    {
      "name": "On-call/许可管理",
      "description": ""
    },
    {
      "name": "On-call/日历管理",
      "description": ""
    },
    {
      "name": "On-call/通知模板",
      "description": ""
    },
    {
      "name": "On-call/标签增强",
      "description": "自定义字段、富化规则及数据映射（映射规则、映射数据、映射 API）管理。"
    },
    {
      "name": "On-call/分析看板",
      "description": ""
    },
    {
      "name": "On-call/状态页",
      "description": ""
    },
    {
      "name": "On-call/变更管理",
      "description": ""
    }
  ],
  "paths": {
    "/channel/inhibit/rule/delete": {
      "post": {
        "operationId": "channelInhibitRuleDelete",
        "summary": "删除抑制策略",
        "description": "删除抑制策略。仅 `disabled` 状态的策略可删除。",
        "tags": [
          "On-call/协作空间"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **协作空间管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/channels/channel-inhibit-rule-delete",
          "metadata": {
            "sidebarTitle": "删除抑制策略"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRuleIDRequest"
              },
              "example": {
                "channel_id": 3521074710131,
                "rule_id": "6621b23f4a2c5e0012ab34cd"
              }
            }
          }
        }
      }
    },
    "/enrichment/mapping/data/truncate": {
      "post": {
        "operationId": "mapping-data-write-truncate",
        "summary": "清空映射数据",
        "description": "删除指定映射规则的全部数据行。",
        "tags": [
          "On-call/标签增强"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **映射数据管理**（`on-call`） |\n\n## 使用说明\n\n- 此操作不可逆，将删除映射规则中的所有数据。\n- 本接口为高危操作。控制台 JWT 调用需二次验证码；`app_key` 调用跳过 MFA 但仍会被完整记录，请妥善保管 app_key。",
          "href": "/zh/api-reference/on-call/alert-enrichment/mapping-data-write-truncate",
          "metadata": {
            "sidebarTitle": "清空映射数据"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingSchemaIDRequest"
              },
              "example": {
                "schema_id": "665f1a2b3c4d5e6f7a8b9c01"
              }
            }
          }
        }
      }
    },
    "/enrichment/mapping/api/info": {
      "post": {
        "operationId": "mapping-api-read-info",
        "summary": "查看映射 API 详情",
        "description": "根据映射 API ID 返回单个映射 API 的详细信息。",
        "tags": [
          "On-call/标签增强"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 映射 API 不存在时返回 `null`。",
          "href": "/zh/api-reference/on-call/alert-enrichment/mapping-api-read-info",
          "metadata": {
            "sidebarTitle": "查看映射 API 详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MappingAPIItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "api_id": "665f1a2b3c4d5e6f7a8b9c02",
                    "api_name": "CMDB API",
                    "url": "https://cmdb.example.com/api/lookup",
                    "timeout": 2,
                    "retry_count": 1,
                    "insecure_skip_verify": false,
                    "status": "enabled",
                    "creator_id": 80011,
                    "created_at": 1710000000,
                    "updated_at": 1710000000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingAPIIDRequest"
              },
              "example": {
                "api_id": "665f1a2b3c4d5e6f7a8b9c02"
              }
            }
          }
        }
      }
    },
    "/status-page/migration/status": {
      "get": {
        "operationId": "statusPageMigrationStatus",
        "summary": "获取迁移状态",
        "description": "获取状态页迁移任务的当前状态和进度。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-migration-status",
          "metadata": {
            "sidebarTitle": "获取迁移状态"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StatusPageMigrationJob"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "job_id": "01KP0311872NVYFRRQ82FW0001",
                    "account_id": 2451002751131,
                    "source_page_id": "abcdefghij",
                    "target_page_id": 5750613685214,
                    "phase": "history",
                    "status": "completed",
                    "progress": {
                      "total_steps": 5,
                      "completed_steps": 5,
                      "components_imported": 8,
                      "sections_imported": 3,
                      "incidents_imported": 12,
                      "maintenances_imported": 2,
                      "subscribers_imported": 0,
                      "templates_imported": 0,
                      "subscribers_skipped": 0
                    },
                    "created_at": 1766736878,
                    "updated_at": 1766740000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "parameters": [
          {
            "name": "job_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Migration job ID returned by `migrate-structure` or `migrate-email-subscribers`."
          }
        ]
      }
    },
    "/channel/escalate/rule/info": {
      "post": {
        "operationId": "channelEscalateRuleInfo",
        "summary": "获取分派策略详情",
        "description": "获取指定分派策略的详细信息。",
        "tags": [
          "On-call/协作空间"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **协作空间查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/channels/channel-escalate-rule-info",
          "metadata": {
            "sidebarTitle": "获取分派策略详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EscalateRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "account_id": 2451002751131,
                    "channel_id": 6193426913131,
                    "priority": 0,
                    "aggr_window": 0,
                    "rule_name": "Default",
                    "description": "",
                    "layers": [
                      {
                        "max_times": 1,
                        "notify_step": 10,
                        "target": {
                          "person_ids": [
                            3790925372131
                          ],
                          "by": {
                            "follow_preference": true
                          },
                          "webhooks": null
                        },
                        "escalate_window": 30,
                        "force_escalate": false
                      }
                    ],
                    "time_filters": [],
                    "filters": [],
                    "status": "enabled",
                    "template_id": "6321aad26c12104586a88916",
                    "rule_id": "69bd0ce95a238693176c1d66",
                    "updated_by": 3790925372131,
                    "created_at": 1773997289,
                    "updated_at": 1773997289
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRuleIDRequest"
              },
              "example": {
                "channel_id": 1001,
                "rule_id": "6621b23f4a2c5e0012ab34d0"
              }
            }
          }
        }
      }
    },
    "/enrichment/mapping/data/list": {
      "post": {
        "operationId": "mapping-data-read-list",
        "summary": "查询映射数据列表",
        "description": "分页返回指定映射规则的数据行，可按来源标签值进行精确过滤。",
        "tags": [
          "On-call/标签增强"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **集成中心查看**（`on-call`） 或 **集成中心管理**（`on-call`） 或 **映射数据查看**（`on-call`） 或 **映射数据管理**（`on-call`） |\n\n## 使用说明\n\n- 若提供 `query`，须包含全部来源标签——不支持部分来源标签查询。\n- 支持游标分页（`search_after_ctx`）或页码分页（`p`、`limit`）。`limit` 默认 20，最大 100。\n- 响应中的 `search_after_ctx` 可用于获取下一页。",
          "href": "/zh/api-reference/on-call/alert-enrichment/mapping-data-read-list",
          "metadata": {
            "sidebarTitle": "查询映射数据列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MappingDataListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "key": "server01",
                        "fields": {
                          "host": "server01",
                          "owner": "alice",
                          "team": "sre",
                          "service": "api"
                        },
                        "created_at": 1710000000,
                        "updated_at": 1710000000
                      }
                    ],
                    "total": 1,
                    "has_next_page": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingDataListRequest"
              },
              "example": {
                "schema_id": "665f1a2b3c4d5e6f7a8b9c01",
                "orderby": "updated_at",
                "asc": false,
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/incident/past/list": {
      "post": {
        "operationId": "incidentPastList",
        "summary": "查询历史相似故障",
        "description": "查询与当前故障相关的历史故障列表，用于参考排查。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **100 次/分钟**；**20 次/秒** |\n| 权限要求 | **故障查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-past-list",
          "metadata": {
            "sidebarTitle": "查询历史相似故障"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListPastIncidentsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPastIncidentsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "limit": 5
              }
            }
          }
        }
      }
    },
    "/incident/snooze": {
      "post": {
        "operationId": "incidentSnooze",
        "summary": "暂停故障通知",
        "description": "暂时屏蔽故障通知直到指定时间。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-snooze",
          "metadata": {
            "sidebarTitle": "暂停故障通知"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnoozeIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "minutes": 60
              }
            }
          }
        }
      }
    },
    "/status-page/subscriber/export": {
      "post": {
        "operationId": "statusPageSubscriberExport",
        "summary": "导出订阅者",
        "description": "以 CSV 附件形式导出状态页的订阅者列表。响应为 `text/csv` 文件，包含列：Method、Recipient、Components、Subscribe All、Locale。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **100 次/天**；**20 次/分钟**；**10 次/秒** |\n| 权限要求 | **状态页面管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-subscriber-export",
          "metadata": {
            "sidebarTitle": "导出订阅者"
          }
        },
        "responses": {
          "200": {
            "description": "成功。CSV 附件，非 JSON 信封。",
            "content": {
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/StatusPageSubscriberExportResponse"
                },
                "example": "Method,Recipient,Components,Subscribe All,Locale\nemail,alice@example.com,,Yes,zh-CN\nemail,bob@example.com,\"Core Services › API\",No,en-US"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportStatusPageSubscribersRequest"
              },
              "example": {
                "page_id": 5750613685214
              }
            }
          }
        }
      }
    },
    "/insight/team": {
      "post": {
        "operationId": "insightByTeam",
        "summary": "查看团队洞察",
        "description": "返回按团队聚合的洞察指标。",
        "tags": [
          "On-call/分析看板"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **分析看板查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/analytics/insight-by-team",
          "metadata": {
            "sidebarTitle": "查看团队洞察"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DimensionInsightResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "ts": 1740844800,
                        "team_id": 4295771902131,
                        "team_name": "SRE Team",
                        "total_incident_cnt": 2,
                        "total_incidents_acknowledged": 2,
                        "total_incidents_closed": 2,
                        "total_incidents_auto_closed": 0,
                        "total_incidents_manually_closed": 2,
                        "total_incidents_timeout_closed": 0,
                        "total_incidents_escalated": 0,
                        "total_incidents_manually_escalated": 0,
                        "total_incidents_timeout_escalated": 0,
                        "total_incidents_reassigned": 2,
                        "total_interruptions": 3,
                        "total_notifications": 6,
                        "total_engaged_seconds": 3317709,
                        "total_seconds_to_ack": 3317709,
                        "total_seconds_to_close": 3749514,
                        "mean_seconds_to_ack": 1658854.5,
                        "mean_seconds_to_close": 1874757,
                        "noise_reduction_pct": 0,
                        "acknowledgement_pct": 100,
                        "total_alert_cnt": 0,
                        "total_alert_event_cnt": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightQueryRequest"
              },
              "example": {
                "start_time": 1712000000,
                "end_time": 1712604800,
                "team_ids": [
                  4295771902131
                ],
                "aggregate_unit": "day"
              }
            }
          }
        }
      }
    },
    "/insight/channel/export": {
      "post": {
        "operationId": "insightChannelExport",
        "summary": "导出协作空间洞察",
        "description": "将协作空间维度洞察指标导出为 CSV 文件——每行一个协作空间（使用 `aggregate_unit`/`split_hours` 时按时间桶/小时桶拆分）。响应为 CSV 字节流（`Content-Disposition: attachment`），不是 JSON 响应包。`time_zone` 缺省为 UTC。无有效协作空间 ID 的行会被跳过。可用的 `export_fields` key：channel_id, channel_name, total_incident_cnt, total_incidents_acknowledged, total_incidents_closed, total_incidents_auto_closed, total_incidents_manually_closed, total_incidents_timeout_closed, total_incidents_escalated, total_incidents_manually_escalated, total_incidents_timeout_escalated, total_incidents_reassigned, total_interruptions, total_notifications, total_engaged_seconds, mean_seconds_to_ack, mean_seconds_to_close, noise_reduction_pct, acknowledgement_pct, total_alert_cnt, total_alert_event_cnt, hours。`hours` 列仅在 `split_hours` 为 true 时默认包含。为兼容起见，故障导出列的 key 也可传入，但导出为空列。",
        "tags": [
          "On-call/分析看板"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **100 次/天**；**20 次/分钟**；**10 次/秒** |\n| 权限要求 | **分析看板查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/analytics/insight-channel-export",
          "metadata": {
            "sidebarTitle": "导出协作空间洞察"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "CSV 字节流（`Content-Type: application/octet-stream`，`Content-Disposition: attachment; filename=channel_export_yyyyMMdd_HHmmss.csv`）。首行为本地化列名。列默认为完整字段集，或由 `export_fields` 指定。"
                },
                "example": "channel_id,channel_name,total_incident_cnt,total_incidents_closed\n4321322010131,Production Alerts,12,10\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightQueryRequest"
              },
              "example": {
                "start_time": 1712000000,
                "end_time": 1712604800,
                "channel_ids": [
                  4321322010131
                ],
                "severities": [
                  "Critical",
                  "Warning"
                ]
              }
            }
          }
        }
      }
    },
    "/alert/pipeline/upsert": {
      "post": {
        "operationId": "alert-write-pipeline-upsert",
        "summary": "创建或更新告警处理规则",
        "description": "为集成设置告警处理规则，将完全替换已有配置。",
        "tags": [
          "On-call/告警管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **集成中心管理**（`on-call`） |\n\n## 使用说明\n\n- 每条处理规则最多 50 条规则。\n- 每条规则包含 `kind`（`title_reset`、`description_reset`、`severity_reset`、`alert_drop`、`alert_inhibit` 之一）、可选的 `if` 过滤器，以及与 kind 对应的 `settings`。\n- `alert_inhibit` 类型需要 Standard 及以上许可证。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/on-call/alerts/alert-write-pipeline-upsert",
          "metadata": {
            "sidebarTitle": "创建或更新告警处理规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPipelineUpsertRequest"
              },
              "example": {
                "integration_id": 10001,
                "rules": [
                  {
                    "kind": "title_reset",
                    "if": [
                      {
                        "key": "labels.env",
                        "oper": "IN",
                        "vals": [
                          "prod"
                        ]
                      }
                    ],
                    "settings": {
                      "title": "[TPL]{{.Labels.service}} / {{.Labels.check}}"
                    }
                  },
                  {
                    "kind": "severity_reset",
                    "if": null,
                    "settings": {
                      "severity": "Warning"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/status-page/change/info": {
      "get": {
        "operationId": "statusPageChangeInfo",
        "summary": "获取状态页事件详情",
        "description": "获取状态页指定事件（故障或维护）的详细信息。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-change-info",
          "metadata": {
            "sidebarTitle": "获取状态页事件详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StatusPageChangeItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "change_id": 5821693893131,
                    "page_id": 5750613685214,
                    "type": "incident",
                    "title": "Web Console Degraded Performance",
                    "description": "The issue has been resolved, and all services are operating normally.\n\nThank you for your patience.",
                    "status": "resolved",
                    "affected_components": [
                      {
                        "component_id": "01KC3GAZ6ZJE40H55GM31RPWZE",
                        "section_id": "01KC3FKKX5TSVG6Z3X1QNGF6V2",
                        "name": "Web Console",
                        "available_since_seconds": 1765349358,
                        "order_id": 1,
                        "status": "operational"
                      }
                    ],
                    "start_at_seconds": 1766736878,
                    "close_at_seconds": 1775529742,
                    "updates": [
                      {
                        "update_id": "01KDCVJQ88SZPHWPTDV2Z2AZW8",
                        "at_seconds": 1766736876,
                        "status": "investigating",
                        "description": "We are currently investigating an issue affecting some services.",
                        "component_changes": [
                          {
                            "component_id": "01KC3GAZ6ZJE40H55GM31RPWZE",
                            "component_name": "Web Console",
                            "status": "degraded"
                          }
                        ]
                      },
                      {
                        "update_id": "01KNJX3KW873ZZSRZC14SGFYS3",
                        "at_seconds": 1775529742,
                        "status": "resolved",
                        "description": "The issue has been resolved, and all services are operating normally.",
                        "component_changes": [
                          {
                            "component_id": "01KC3GAZ6ZJE40H55GM31RPWZE",
                            "component_name": "Web Console",
                            "status": "operational"
                          }
                        ]
                      }
                    ],
                    "notify_subscribers": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "parameters": [
          {
            "name": "page_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Status page ID."
          },
          {
            "name": "change_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Event (change) ID."
          }
        ]
      }
    },
    "/incident/resolve": {
      "post": {
        "operationId": "incidentResolve",
        "summary": "恢复故障",
        "description": "将故障标记为已恢复。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |\n\n## 使用说明\n\n- 解决表单生效时，`custom_fields`、`summary` 和 `images` 必须符合其中可见元素及必填规则。\n- 批量操作只有在全部选中的故障解析到同一张表单时才接受表单值；否则请逐条解决。\n- 旧字段 `values` 和 `custom_values` 会被拒绝，请使用 `custom_fields`。\n- 已审计 —— 变更会记录到审计日志。",
          "href": "/zh/api-reference/on-call/incidents/incident-resolve",
          "metadata": {
            "sidebarTitle": "恢复故障"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ],
                "root_cause": "Memory leak in the connection pool caused by a missing cleanup call.",
                "resolution": "Deployed hotfix v2.3.1 and restarted the affected service."
              }
            }
          }
        }
      }
    },
    "/incident/war-room/list": {
      "post": {
        "operationId": "incidentWarRoomList",
        "summary": "查询战情室列表",
        "description": "查询故障关联的所有战情室。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-war-room-list",
          "metadata": {
            "sidebarTitle": "查询战情室列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListWarRoomsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWarRoomsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee"
              }
            }
          }
        }
      }
    },
    "/alert/list": {
      "post": {
        "operationId": "alert-read-list",
        "summary": "查询告警列表",
        "description": "返回满足过滤条件的告警列表，支持游标分页。",
        "tags": [
          "On-call/告警管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **协作空间查看**（`on-call`） |\n\n## 使用说明\n\n- `start_time` 和 `end_time` 均为必填的 Unix 时间戳（秒），最大跨度 31 天。\n- 使用上次响应中的 `search_after_ctx` 获取下一页。\n- 结果会根据调用方的协作空间数据访问权限进行过滤。\n- 将 `is_active` 设为 `true` 可仅返回活跃（触发中）告警；设为 `false` 返回已恢复告警。",
          "href": "/zh/api-reference/on-call/alerts/alert-read-list",
          "metadata": {
            "sidebarTitle": "查询告警列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "has_next_page": false,
                    "items": [
                      {
                        "alert_id": "663a1b2c3d4e5f6789abcdef",
                        "integration_id": 10001,
                        "channel_id": 20001,
                        "account_id": 10023,
                        "title": "CPU usage > 90%",
                        "alert_severity": "Critical",
                        "alert_status": "Critical",
                        "start_time": 1712650000,
                        "last_time": 1712655000,
                        "end_time": 0,
                        "labels": {
                          "host": "web-01"
                        },
                        "ever_muted": false,
                        "created_at": 1712650000,
                        "updated_at": 1712655000,
                        "integration_name": "Prometheus",
                        "integration_type": "prometheus",
                        "channel_name": "Production",
                        "event_cnt": 3
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertListRequest"
              },
              "example": {
                "start_time": 1712620800,
                "end_time": 1712707200,
                "limit": 20,
                "is_active": true
              }
            }
          }
        }
      }
    },
    "/status-page/change/update": {
      "post": {
        "operationId": "statusPageChangeUpdate",
        "summary": "更新状态页事件",
        "description": "更新已有状态页事件。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **状态页面事件管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-change-update",
          "metadata": {
            "sidebarTitle": "更新状态页事件"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusPageChangeRequest"
              },
              "example": {
                "page_id": 5750613685214,
                "change_id": 5821693893131,
                "title": "Web Console Degraded Performance (Updated)"
              }
            }
          }
        }
      }
    },
    "/incident/alert/list": {
      "post": {
        "operationId": "incidentAlertList",
        "summary": "查询故障关联告警",
        "description": "查询合并到指定故障中的所有告警列表。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障查看**（`on-call`） |\n\n## 使用说明\n\n- 仅在需要预览每条告警的原始事件时设置 `include_events=true`。\n- 事件预览最多返回每条告警最新的 20 条事件；完整事件历史请使用 `POST /alert/event/list` 分页查询。\n- `event_cnt` 仍表示合并到每条告警的原始事件总数。",
          "href": "/zh/api-reference/on-call/incidents/incident-alert-list",
          "metadata": {
            "sidebarTitle": "查询故障关联告警"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListIncidentAlertsResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "items": [
                      {
                        "alert_id": "69da451df77b1b51f40e83de",
                        "integration_id": 2490562293131,
                        "data_source_id": 2490562293131,
                        "channel_id": 2551105804131,
                        "account_id": 2451002751131,
                        "description": "",
                        "title": "CPU usage high - web-server-01",
                        "title_rule": "",
                        "alert_key": "100128:prom-203.0.113.107:A:1579244238440766834:anydata",
                        "alert_severity": "Critical",
                        "alert_status": "Critical",
                        "start_time": 1775912219,
                        "last_time": 1775969819,
                        "end_time": 0,
                        "labels": {
                          "check": "cpu_usage_high",
                          "resource": "web-server-01"
                        },
                        "ever_muted": false,
                        "created_at": 1775912221,
                        "updated_at": 1775969821,
                        "integration_name": "FlashMonit",
                        "integration_type": "monit.alert",
                        "integration_ref_id": "a_2451002751131",
                        "channel_name": "Ops Channel",
                        "channel_status": "enabled",
                        "responder_name": "",
                        "responder_email": "",
                        "incident": {
                          "incident_id": "69da451ef77b1b51f40e83ee",
                          "title": "CPU usage high - web-server-01",
                          "progress": "Triggered"
                        },
                        "event_cnt": 17,
                        "images": null,
                        "data_source_name": "FlashMonit",
                        "data_source_type": "monit.alert",
                        "data_source_ref_id": "a_2451002751131",
                        "events": [
                          {
                            "event_id": "69da451df77b1b51f40e83df",
                            "alert_id": "69da451df77b1b51f40e83de",
                            "title": "CPU usage > 90%",
                            "event_severity": "Critical",
                            "event_status": "Critical",
                            "event_time": 1712650000,
                            "labels": {
                              "host": "web-01"
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListIncidentAlertsRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "is_active": true,
                "limit": 100,
                "p": 1,
                "include_events": true
              }
            }
          }
        }
      }
    },
    "/channel/escalate/rule/update": {
      "post": {
        "operationId": "channelEscalateRuleUpdate",
        "summary": "更新分派策略",
        "description": "更新已有分派策略的配置。",
        "tags": [
          "On-call/协作空间"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **协作空间管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/channels/channel-escalate-rule-update",
          "metadata": {
            "sidebarTitle": "更新分派策略"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEscalationRuleRequest"
              },
              "example": {
                "channel_id": 1001,
                "rule_id": "6621b23f4a2c5e0012ab34d0",
                "template_id": "6621b23f4a2c5e0012ab34d1",
                "rule_name": "Default escalation",
                "layers": [
                  {
                    "target": {
                      "person_ids": [
                        42
                      ],
                      "by": {
                        "critical": [
                          "voice"
                        ],
                        "warning": [
                          "sms"
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/calendar/event/upsert": {
      "post": {
        "operationId": "calEventUpsert",
        "summary": "创建或更新日历事件",
        "description": "创建或更新日历事件（节假日或工作日覆盖）。不传 event_id 时会创建新事件。",
        "tags": [
          "On-call/日历管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **服务日历管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/calendars/cal-event-upsert",
          "metadata": {
            "sidebarTitle": "创建或更新日历事件"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CalEventUpsertResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "cal_id": "cal.QiNvtdKs4Wj52kZhT3LafM",
                    "event_id": "cale.KyG9XWTCU5CucbwukEVBQ4",
                    "summary": "Test Holiday"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalEventUpsertRequest"
              },
              "example": {
                "cal_id": "cal.QiNvtdKs4Wj52kZhT3LafM",
                "summary": "Labour Day",
                "start_at": "2024-05-01",
                "end_at": "2024-05-06",
                "is_off": true,
                "description": "International Workers Day holiday"
              }
            }
          }
        }
      }
    },
    "/status-page/change/delete": {
      "post": {
        "operationId": "statusPageChangeDelete",
        "summary": "删除状态页事件",
        "description": "删除指定的状态页事件。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **状态页面事件管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-change-delete",
          "metadata": {
            "sidebarTitle": "删除状态页事件"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteStatusPageChangeRequest"
              },
              "example": {
                "page_id": 5750613685214,
                "change_id": 5821693893131
              }
            }
          }
        }
      }
    },
    "/incident/war-room/detail": {
      "post": {
        "operationId": "incidentWarRoomDetail",
        "summary": "获取战情室详情",
        "description": "获取故障的战情室配置和成员信息。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-war-room-detail",
          "metadata": {
            "sidebarTitle": "获取战情室详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WarRoom"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "chat_id": "oc_a0553eda9014c2de1b3a8f75b4e0c000",
                    "chat_name": "Incident #0E83EE war room",
                    "share_link": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWarRoomDetailRequest"
              },
              "example": {
                "integration_id": 2490562293131,
                "chat_id": "oc_a0553eda9014c2de1b3a8f75b4e0c000"
              }
            }
          }
        }
      }
    },
    "/calendar/delete": {
      "post": {
        "operationId": "calendarDelete",
        "summary": "删除服务日历",
        "description": "删除个人服务日历。当日历被分派或静默策略引用时删除会失败。",
        "tags": [
          "On-call/日历管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **服务日历管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/calendars/calendar-delete",
          "metadata": {
            "sidebarTitle": "删除服务日历"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CalendarEmptyObject"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarIDRequest"
              },
              "example": {
                "cal_id": "cal.QiNvtdKs4Wj52kZhT3LafM"
              }
            }
          }
        }
      }
    },
    "/alert/event/list": {
      "post": {
        "operationId": "alert-read-event-list",
        "summary": "查询告警事件列表",
        "description": "通过游标或页码分页返回指定告警的原始事件。",
        "tags": [
          "On-call/告警管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **协作空间查看**（`on-call`） |\n\n## 使用说明\n\n- 默认按最新事件优先返回；设置 `asc=true` 可按最早事件优先读取。\n- 使用上次响应中的 `search_after_ctx` 搭配 `limit` 获取下一页。\n- 也支持通过 `p` 使用页码分页，但 `p * limit` 必须在 10,000 条以内。\n- 单条告警可能累积大量原始事件，热点告警建议优先使用游标分页。",
          "href": "/zh/api-reference/on-call/alerts/alert-read-event-list",
          "metadata": {
            "sidebarTitle": "查询告警事件列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AlertEventListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 57,
                    "has_next_page": true,
                    "search_after_ctx": "663a1b2c3d4e5f6789abc001",
                    "items": [
                      {
                        "event_id": "663a1b2c3d4e5f6789abc001",
                        "alert_id": "663a1b2c3d4e5f6789abcdef",
                        "title": "CPU usage > 90%",
                        "event_severity": "Critical",
                        "event_status": "Critical",
                        "event_time": 1712650000,
                        "labels": {
                          "host": "web-01"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertEventListRequest"
              },
              "example": {
                "alert_id": "663a1b2c3d4e5f6789abcdef",
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/incident/merge": {
      "post": {
        "operationId": "incidentMerge",
        "summary": "合并故障",
        "description": "将一个或多个故障合并到目标故障中。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-merge",
          "metadata": {
            "sidebarTitle": "合并故障"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MergeIncidentsRequest"
              },
              "example": {
                "source_incident_ids": [
                  "69da451ef77b1b51f40e83ef",
                  "69da451ef77b1b51f40e83f0"
                ],
                "target_incident_id": "69da451ef77b1b51f40e83ee",
                "comment": "Merging related database connectivity incidents into one."
              }
            }
          }
        }
      }
    },
    "/enrichment/mapping/data/delete": {
      "post": {
        "operationId": "mapping-data-write-delete",
        "summary": "删除映射数据",
        "description": "按键名批量删除最多 100 条映射数据行。",
        "tags": [
          "On-call/标签增强"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **映射数据管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/alert-enrichment/mapping-data-write-delete",
          "metadata": {
            "sidebarTitle": "删除映射数据"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MappingDataDeleteRequest"
              },
              "example": {
                "schema_id": "665f1a2b3c4d5e6f7a8b9c01",
                "keys": [
                  "server01",
                  "server02"
                ]
              }
            }
          }
        }
      }
    },
    "/incident/post-mortem/delete": {
      "post": {
        "operationId": "incidentPostMortemDelete",
        "summary": "删除复盘报告",
        "description": "删除指定的复盘报告。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-post-mortem-delete",
          "metadata": {
            "sidebarTitle": "删除复盘报告"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePostMortemRequest"
              },
              "example": {
                "post_mortem_id": "8104935102bf89dc01ac638a5261fe7e"
              }
            }
          }
        }
      }
    },
    "/calendar/update": {
      "post": {
        "operationId": "calendarUpdate",
        "summary": "更新服务日历",
        "description": "更新个人服务日历，仅更新传入的非空字段。",
        "tags": [
          "On-call/日历管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **服务日历管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/calendars/calendar-update",
          "metadata": {
            "sidebarTitle": "更新服务日历"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CalendarEmptyObject"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarUpdateRequest"
              },
              "example": {
                "cal_id": "cal.QiNvtdKs4Wj52kZhT3LafM",
                "cal_name": "Production On-Call Calendar (Updated)",
                "timezone": "America/New_York",
                "workdays": [
                  1,
                  2,
                  3,
                  4,
                  5
                ]
              }
            }
          }
        }
      }
    },
    "/incident/war-room/delete": {
      "post": {
        "operationId": "incidentWarRoomDelete",
        "summary": "删除战情室",
        "description": "删除指定的故障战情室。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-war-room-delete",
          "metadata": {
            "sidebarTitle": "删除战情室"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteWarRoomRequest"
              },
              "example": {
                "incident_id": "69da451ef77b1b51f40e83ee",
                "integration_id": 2490562293131
              }
            }
          }
        }
      }
    },
    "/incident/remove": {
      "post": {
        "operationId": "incidentRemove",
        "summary": "删除故障",
        "description": "永久删除一个故障及其关联数据。",
        "tags": [
          "On-call/故障管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **故障管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/incidents/incident-remove",
          "metadata": {
            "sidebarTitle": "删除故障"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveIncidentRequest"
              },
              "example": {
                "incident_ids": [
                  "69da451ef77b1b51f40e83ee"
                ]
              }
            }
          }
        }
      }
    },
    "/channel/unsubscribe/rule/enable": {
      "post": {
        "operationId": "channelUnsubscribeRuleEnable",
        "summary": "启用排除规则",
        "description": "启用已禁用的排除规则。仅 `disabled` 状态的规则可启用。",
        "tags": [
          "On-call/协作空间"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |",
          "href": "/zh/api-reference/on-call/channels/channel-unsubscribe-rule-enable",
          "metadata": {
            "sidebarTitle": "启用排除规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelRuleIDRequest"
              },
              "example": {
                "channel_id": 3521074710131,
                "rule_id": "6621b23f4a2c5e0012ab34cd"
              }
            }
          }
        }
      }
    },
    "/insight/incident/list": {
      "post": {
        "operationId": "insightIncidentList",
        "summary": "查询洞察故障列表",
        "description": "返回用于分析看板的故障分页列表，包含每条故障的处理效能指标。",
        "tags": [
          "On-call/分析看板"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **分析看板查看**（`on-call`） |",
          "href": "/zh/api-reference/on-call/analytics/insight-incident-list",
          "metadata": {
            "sidebarTitle": "查询洞察故障列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/InsightIncidentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 2363,
                    "has_next_page": true,
                    "search_after_ctx": "6a86b5d6f72de50ae1ce2ffb",
                    "items": [
                      {
                        "incident_id": "6a86b5d6f72de50ae1ce2ffb",
                        "title": "CPU usage above 90% on prod-web-01",
                        "description": "CPU usage stayed above the threshold for 5 minutes",
                        "team_id": 2477033058131,
                        "team_name": "SRE Team",
                        "channel_id": 3047621227131,
                        "channel_name": "Production Alerts",
                        "progress": "Closed",
                        "severity": "Critical",
                        "created_at": 1787213270,
                        "alert_cnt": 3,
                        "active_alert_cnt": 0,
                        "alert_event_cnt": 5,
                        "closed_by": "manually",
                        "creator_id": 2477273692131,
                        "creator_name": "alice",
                        "closer_id": 2477273692131,
                        "closer_name": "alice",
                        "seconds_to_ack": 14,
                        "seconds_to_close": 1830,
                        "engaged_seconds": 1816,
                        "hours": "work",
                        "responders": [
                          {
                            "person_id": 2477273692131,
                            "assigned_at": 1787213270,
                            "acknowledged_at": 1787213284,
                            "person_name": "alice",
                            "email": "alice@example.com"
                          }
                        ],
                        "assigned_to": {
                          "escalate_rule_id": "66138789904a9027583dbc4e",
                          "layer_idx": 0,
                          "type": "assign",
                          "assigned_at": 1787213270,
                          "id": "b8tyUoRvCv4wsPndFRpmNL",
                          "escalate_rule_name": "On-call Policy"
                        },
                        "notifications": 2,
                        "interruptions": 1,
                        "assignments": 1,
                        "reassignments": 0,
                        "acknowledgements": 1,
                        "escalations": 0,
                        "timeout_escalations": 0,
                        "manual_escalations": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsightIncidentListRequest"
              },
              "example": {
                "start_time": 1712000000,
                "end_time": 1712604800,
                "p": 1,
                "limit": 20,
                "severities": [
                  "Critical"
                ]
              }
            }
          }
        }
      }
    },
    "/status-page/change/create": {
      "post": {
        "operationId": "statusPageChangeCreate",
        "summary": "创建状态页事件",
        "description": "在状态页上创建新的故障或维护事件。",
        "tags": [
          "On-call/状态页"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **状态页面事件管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/status-pages/status-page-change-create",
          "metadata": {
            "sidebarTitle": "创建状态页事件"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/StatusPageChangeCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "change_id": 6294539747131,
                    "change_name": "API Test Incident"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStatusPageChangeRequest"
              },
              "example": {
                "page_id": 5750613685214,
                "type": "incident",
                "title": "Web Console Degraded Performance",
                "description": "We are investigating degraded performance affecting the web console.",
                "status": "investigating",
                "start_at_seconds": 1712000000,
                "notify_subscribers": true,
                "updates": [
                  {
                    "status": "investigating",
                    "description": "We are currently investigating an issue affecting some users.",
                    "component_changes": [
                      {
                        "component_id": "01KC3GAZ6ZJE40H55GM31RPWZE",
                        "status": "degraded"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/schedule/preview": {
      "post": {
        "operationId": "schedulePreview",
        "summary": "预览值班表",
        "description": "预览值班表配置生成的排班结果，不会持久化。请求体与创建/更新相同，并需要指定 start 和 end 时间窗口（最多 45 天）。",
        "tags": [
          "On-call/值班排班"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **60 次/分钟**；**10 次/秒** |\n| 权限要求 | **值班查看**（`on-call`） 或 **值班管理**（`on-call`） |",
          "href": "/zh/api-reference/on-call/schedules/schedule-preview",
          "metadata": {
            "sidebarTitle": "预览值班表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ScheduleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "id": null,
                    "name": null,
                    "account_id": 0,
                    "group_id": null,
                    "disabled": null,
                    "create_at": 0,
                    "create_by": 0,
                    "update_at": 0,
                    "update_by": 0,
                    "layers": [
                      {
                        "account_id": 0,
                        "name": "Layer 1",
                        "schedule_id": 0,
                        "hidden": 0,
                        "mode": 0,
                        "weight": 0,
                        "groups": [
                          {
                            "group_name": "A",
                            "name": "A",
                            "members": [
                              {
                                "role_id": 0,
                                "person_ids": [
                                  2451002751131
                                ]
                              }
                            ],
                            "start": 0,
                            "end": 0
                          },
                          {
                            "group_name": "B",
                            "name": "B",
                            "members": [
                              {
                                "role_id": 0,
                                "person_ids": [
                                  2476123212131
                                ]
                              }
                            ],
                            "start": 0,
                            "end": 0
                          }
                        ],
                        "rotation_duration": 86400,
                        "handoff_time": 0,
                        "enable_time": 1775980800,
                        "expire_time": 0,
                        "restrict_mode": 0,
                        "restrict_start": 0,
                        "restrict_end": 0,
                        "restrict_periods": [],
                        "day_mask": {
                          "repeat": [
                            1,
                            2,
                            3,
                            4,
                            5
                          ]
                        },
                        "create_at": 0,
                        "create_by": 0,
                        "update_at": 0,
                        "update_by": 0,
                        "layer_name": "Layer 1",
                        "fair_rotation": false,
                        "layer_start": 1775980800,
                        "layer_end": null,
                        "rotation_unit": "day",
                        "rotation_value": 1,
                        "mask_continuous_enabled": false
                      }
                    ],
                    "schedule_layers": [
                      {
                        "layer_name": "Layer 1",
                        "name": "Layer 1",
                        "mode": 0,
                        "schedules": [
                          {
                            "start": 1776009600,
                            "end": 1776096000,
                            "group": {
                              "group_name": "A",
                              "name": "A",
                              "members": [
                                {
                                  "role_id": 0,
                                  "person_ids": [
                                    2451002751131
                                  ]
                                }
                              ],
                              "start": 1776009600,
                              "end": 1776096000
                            },
                            "index": 0
                          },
                          {
                            "start": 1776096000,
                            "end": 1776182400,
                            "group": {
                              "group_name": "B",
                              "name": "B",
                              "members": [
                                {
                                  "role_id": 0,
                                  "person_ids": [
                                    2476123212131
                                  ]
                                }
                              ],
                              "start": 1776096000,
                              "end": 1776182400
                            },
                            "index": 0
                          }
                        ]
                      }
                    ],
                    "final_schedule": {
                      "layer_name": "",
                      "name": "",
                      "mode": 0,
                      "schedules": [
                        {
                          "start": 1776009600,
                          "end": 1776096000,
                          "group": {
                            "group_name": "A",
                            "name": "A",
                            "members": [
                              {
                                "role_id": 0,
                                "person_ids": [
                                  2451002751131
                                ]
                              }
                            ],
                            "start": 1776009600,
                            "end": 1776096000
                          },
                          "index": 0
                        }
                      ]
                    },
                    "start": 1775980800,
                    "end": 1776240000,
                    "notify": null,
                    "schedule_id": 0,
                    "schedule_name": null,
                    "team_id": null,
                    "description": null,
                    "layer_schedules": null,
                    "status": null,
                    "cur_oncall": null,
                    "next_oncall": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
[...]
