{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty 开放 API",
    "description": "Flashduty 事件管理平台的公开 HTTP API —— 覆盖故障、通知模板、协作空间、值班排班、监控、RUM、以及平台管理。每次调用都需在 query 中携带 `app_key`，该 key 在 Flashduty 控制台 账户 → APP Key 中签发。所有响应使用统一结构：成功时为 `{ request_id, data }`，失败时为 `{ request_id, error }`。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "RUM/应用管理",
      "description": "管理前端性能监控（RUM）应用。"
    },
    {
      "name": "RUM/RUM 数据查询",
      "description": "对 RUM 事件数据执行分析查询。"
    },
    {
      "name": "RUM/RUM 问题跟踪",
      "description": "查询和管理 RUM 异常追踪 Issue 及预设严重性规则。"
    },
    {
      "name": "RUM/RUM 自定义字段",
      "description": "查询 RUM 自定义字段及其值分布，用于构建分析过滤条件。"
    },
    {
      "name": "RUM/RUM Sourcemap",
      "description": "管理和查询用于 Browser、Android、iOS 错误符号化的 RUM Sourcemap 文件。"
    },
    {
      "name": "RUM/Session replay",
      "description": "查询 RUM 会话的回放元数据与录制分段。"
    },
    {
      "name": "RUM/错误追踪",
      "description": "管理在进入 Issue 前丢弃匹配 RUM 错误事件的规则。"
    }
  ],
  "paths": {
    "/rum/facet/count": {
      "post": {
        "operationId": "rum-read-facet-count",
        "summary": "查询分值分布",
        "description": "按出现次数降序返回指定时间范围内某个分面字段的 Top N 值及其计数。",
        "tags": [
          "RUM/RUM 自定义字段"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**100 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 使用 `POST /rum/field/list` 发现每个 scope 下可用的 `facet_key` 值。\n- `scope` 必须是以下之一：`session`、`view`、`action`、`error`、`resource`、`long_task`、`vital`、`issue`、`sourcemap`。\n- 传入 `dql` 可在统计前进一步过滤事件，DQL 语法遵循 RUM 查询语言。\n- 传入 `sql` 可使用仅含 WHERE 子句（无 SELECT）的 SQL 风格过滤。\n- 默认 limit 为 100，最大 100。\n- 时间范围必填（`start_time` / `end_time` 为 Unix 毫秒时间戳），最大跨度 31 天。",
          "href": "/zh/api-reference/rum/facets/rum-read-facet-count",
          "metadata": {
            "sidebarTitle": "查询分值分布"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumFacetCountResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "facet_value": "TypeError",
                        "count": 1523
                      },
                      {
                        "facet_value": "ReferenceError",
                        "count": 342
                      },
                      {
                        "facet_value": "SyntaxError",
                        "count": 89
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumFacetCountRequest"
              },
              "example": {
                "scope": "error",
                "facet_key": "error.type",
                "start_time": 1712620800000,
                "end_time": 1712707200000,
                "limit": 10
              }
            }
          }
        }
      }
    },
    "/rum/application/webhook/test": {
      "post": {
        "operationId": "rum-application-webhook-test",
        "summary": "测试应用 Webhook",
        "description": "发送一条 RUM 告警样例事件，用于验证应用的 Webhook URL。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **应用管理**（`rum`） |\n\n## 使用说明\n\n- 接口会先校验 URL，再发送样例事件。\n- 投递失败时仍返回 HTTP 200，但 `ok=false`，错误原因在 `message` 中。",
          "href": "/zh/api-reference/rum/applications/rum-application-webhook-test",
          "metadata": {
            "sidebarTitle": "测试应用 Webhook"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumWebhookTestResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "ok": true,
                    "status_code": 200,
                    "message": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumWebhookTestRequest"
              },
              "example": {
                "application_id": "rum-app-prod",
                "webhook_url": "https://hooks.example.com/rum-alerts"
              }
            }
          }
        }
      }
    },
    "/rum/issue/info": {
      "post": {
        "operationId": "rum-issue-read-info",
        "summary": "查看 Issue 详情",
        "description": "通过 `issue_id` 获取单个 Issue 的完整信息。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |",
          "href": "/zh/api-reference/rum/issues/rum-issue-read-info",
          "metadata": {
            "sidebarTitle": "查看 Issue 详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumIssueItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "team_id": 2477033058131,
                    "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                    "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                    "application_name": "Flashduty DEV",
                    "service": "fd-console",
                    "status": "for_review",
                    "error_count": 752,
                    "session_count": 381,
                    "is_crash": false,
                    "age": 5078684,
                    "resolved_at": 0,
                    "resolved_by": 0,
                    "created_at": 1770883154944,
                    "updated_at": 1775961914595,
                    "first_seen": {
                      "timestamp": 1770883154944,
                      "version": "1.0.0"
                    },
                    "last_seen": {
                      "timestamp": 1775961839090,
                      "version": "1.0.0"
                    },
                    "error": {
                      "message": "Script error.",
                      "type": "Error"
                    },
                    "suspected_cause": {
                      "source": "auto",
                      "value": "code.exception",
                      "reason": "错误信息 'Script error.' 通常表示 JavaScript 中的未处理异常。",
                      "person_id": 0
                    },
                    "versions": [
                      "1.0.0"
                    ],
                    "severity": "Info"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueIDRequest"
              },
              "example": {
                "issue_id": "NHEacQHi2DhXqobr9qPQz9"
              }
            }
          }
        }
      }
    },
    "/rum/application/list": {
      "post": {
        "operationId": "rum-application-read-list",
        "summary": "查询应用列表",
        "description": "返回当前用户可访问的 RUM 应用分页列表。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 使用 `is_my_team` 可过滤当前用户所在团队的应用。\n- 默认每页 20 条，最大 100 条。\n- `orderby` 支持 `created_at` 或 `updated_at`。",
          "href": "/zh/api-reference/rum/applications/rum-application-read-list",
          "metadata": {
            "sidebarTitle": "查询应用列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "has_next_page": true,
                    "total": 7,
                    "items": [
                      {
                        "account_id": 2451002751131,
                        "application_id": "WoyQQ3BohkdtPivubEvE8o",
                        "application_name": "flashcat-rum",
                        "type": "browser",
                        "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                        "team_id": 2477033058131,
                        "is_private": true,
                        "no_ip": true,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            2490121812131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": false,
                          "open_type": "",
                          "endpoint": ""
                        },
                        "status": "enabled",
                        "created_by": 4441703362131,
                        "updated_by": 3790925372131,
                        "created_at": 1746673831462,
                        "updated_at": 1773398630657,
                        "links": {
                          "enabled": true,
                          "systems": [
                            {
                              "id": "s3-crash-logs",
                              "name": "S3 Crash Logs",
                              "icon_text": "S3",
                              "icon_color": "#0F766E",
                              "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                              "event_types": [
                                "crash",
                                "error"
                              ],
                              "enabled": true
                            }
                          ]
                        }
                      },
                      {
                        "account_id": 2451002751131,
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "type": "browser",
                        "client_token": "ce8d1be90fc6534f89ce36ebf526765e131",
                        "team_id": 2477033058131,
                        "is_private": false,
                        "no_ip": false,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            5962711836131,
                            5967875767131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": true,
                          "open_type": "popup",
                          "endpoint": "https://www.tracing.com/${trace_id}"
                        },
                        "status": "enabled",
                        "created_by": 2476444212131,
                        "updated_by": 3122470302131,
                        "created_at": 1742958482000,
                        "updated_at": 1772096392711,
                        "links": {
                          "enabled": false,
                          "systems": []
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "query": "",
                "is_my_team": false
              }
            }
          }
        }
      }
    },
    "/sourcemap/stack/enrich": {
      "post": {
        "operationId": "sourcemap-read-stack-enrich",
        "summary": "丰富错误栈信息",
        "description": "对 Browser、Android、iOS、小程序或 HarmonyOS 错误栈进行符号化或反混淆。",
        "tags": [
          "RUM/RUM Sourcemap"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 为兼容旧调用，省略 `type` 时默认按 `browser` 处理。\n- 设置 1 到 20 之间的 `near` 可在转换后的栈帧附近返回源码片段。\n- Android NDK native 崩溃需传入 `arch` 和 `source_type: ndk`，后端会路由到 native 符号化逻辑。\n- iOS 崩溃栈需传入 `binary_images`，以便按上传的 dSYM 文件重定位地址。\n- `no_cache` 主要用于调试，会绕过已缓存的 enrich 结果。",
          "href": "/zh/api-reference/rum/sourcemaps/sourcemap-read-stack-enrich",
          "metadata": {
            "sidebarTitle": "丰富错误栈信息"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SourcemapStackEnrichResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "frames": [
                      {
                        "function": "renderCheckout",
                        "file": "src/pages/checkout.tsx",
                        "line": 42,
                        "column": 17,
                        "converted": true,
                        "code_snippets": [
                          {
                            "line": 41,
                            "code": "const cart = props.cart;"
                          },
                          {
                            "line": 42,
                            "code": "return cart.items.map(renderItem);"
                          }
                        ],
                        "original_frame": {
                          "function": "render",
                          "file": "https://cdn.example.com/app.min.js",
                          "line": 1,
                          "column": 2345
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcemapStackEnrichRequest"
              },
              "example": {
                "type": "browser",
                "service": "my-web-app",
                "version": "1.0.0",
                "stack": "TypeError: Cannot read properties of undefined\n    at render (https://cdn.example.com/app.min.js:1:2345)",
                "near": 3
              }
            }
          }
        }
      }
    },
    "/rum/data/query": {
      "post": {
        "operationId": "rum-read-data-query",
        "summary": "查询 RUM 数据",
        "description": "在指定时间范围内执行一个或多个 SQL 风格的 RUM 数据查询。",
        "tags": [
          "RUM/RUM 数据查询"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 单次请求可提交 1 到 10 个查询；每个查询的 `id` 会成为响应对象中的 key。\n- `start_time` 和 `end_time` 必填，均为 Unix 毫秒时间戳；最大时间范围为 31 天。\n- 使用 `format: table` 返回表格结果，使用 `format: time_series` 返回按时间桶聚合的时序结果。\n- 当 `format: time_series` 时，省略 `interval` 会默认使用 3600 秒，省略 `max_points` 会默认使用 1226。\n- 分页表格查询会返回 `search_after_ctx`，继续扫描时可原样传回。",
          "href": "/zh/api-reference/rum/data-query/rum-read-data-query",
          "metadata": {
            "sidebarTitle": "查询 RUM 数据"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumDataQueryResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "errors_by_type": {
                      "data": {
                        "fields": [
                          {
                            "name": "error.type",
                            "type": "String",
                            "nullable": false
                          },
                          {
                            "name": "errors",
                            "type": "UInt64",
                            "nullable": false
                          }
                        ],
                        "values": [
                          [
                            "TypeError",
                            1523
                          ],
                          [
                            "ReferenceError",
                            342
                          ]
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumDataQueryRequest"
              },
              "example": {
                "start_time": 1712620800000,
                "end_time": 1712707200000,
                "queries": [
                  {
                    "id": "errors_by_type",
                    "sql": "SELECT error.type, count(*) AS errors FROM error GROUP BY error.type ORDER BY errors DESC LIMIT 10",
                    "format": "table",
                    "time_zone": "Asia/Shanghai"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/rum/issue/list": {
      "post": {
        "operationId": "rum-issue-read-list",
        "summary": "查询 Issue 列表",
        "description": "返回符合过滤条件的 RUM 异常追踪 Issue 分页列表。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `start_time` 和 `end_time` 为毫秒时间戳，最大范围 183 天。\n- `statuses` 按状态过滤，可选值：`for_review`、`reviewed`、`ignored`、`resolved`。\n- `orderby` 支持：`created_at`、`updated_at`、`session_count`、`error_count`。\n- 使用 `dql` 或 `sql` 进行高级过滤，两者不可同时使用。",
          "href": "/zh/api-reference/rum/issues/rum-issue-read-list",
          "metadata": {
            "sidebarTitle": "查询 Issue 列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumIssueListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "team_id": 2477033058131,
                        "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "service": "fd-console",
                        "status": "for_review",
                        "error_count": 752,
                        "session_count": 381,
                        "is_crash": false,
                        "age": 5078684,
                        "resolved_at": 0,
                        "resolved_by": 0,
                        "created_at": 1770883154944,
                        "updated_at": 1775961914595,
                        "first_seen": {
                          "timestamp": 1770883154944,
                          "version": "1.0.0"
                        },
                        "last_seen": {
                          "timestamp": 1775961839090,
                          "version": "1.0.0"
                        },
                        "error": {
                          "message": "Script error.",
                          "type": "Error"
                        },
                        "suspected_cause": {
                          "source": "auto",
                          "value": "code.exception",
                          "reason": "错误信息 'Script error.' 通常表示 JavaScript 中的未处理异常。",
                          "person_id": 0
                        },
                        "versions": [
                          "1.0.0"
                        ],
                        "severity": "Info"
                      },
                      {
                        "team_id": 2477033058131,
                        "issue_id": "H8kZSmxiE7EgdyD4fCyyNa",
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "service": "fd-console",
                        "status": "for_review",
                        "error_count": 3,
                        "session_count": 1,
                        "is_crash": false,
                        "age": 48,
                        "resolved_at": 0,
                        "resolved_by": 0,
                        "created_at": 1775189479566,
                        "updated_at": 1775191284163,
                        "first_seen": {
                          "timestamp": 1775189479566,
                          "version": "1.0.0"
                        },
                        "last_seen": {
                          "timestamp": 1775189527762,
                          "version": "1.0.0"
                        },
                        "error": {
                          "message": "API ERROR: We encountered an internal error | POST /api/access/logout",
                          "type": "Error"
                        },
                        "suspected_cause": {
                          "source": "auto",
                          "value": "api.failed_request",
                          "reason": "错误信息表明 POST /api/access/logout 请求时服务端发生内部错误。",
                          "person_id": 0
                        },
                        "versions": [
                          "1.0.0"
                        ],
                        "severity": "Info"
                      }
                    ],
                    "has_next_page": true,
                    "total": 111
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueListRequest"
              },
              "example": {
                "start_time": 1772611200000,
                "end_time": 1775961914595,
                "application_ids": [
                  "eWbr4xk3ZRnLabRa6unqwD"
                ],
                "statuses": [
                  "for_review"
                ],
                "p": 1,
                "limit": 20,
                "orderby": "updated_at"
              }
            }
          }
        }
      }
    },
    "/rum/issue/update": {
      "post": {
        "operationId": "rum-issue-write-update",
        "summary": "更新 Issue",
        "description": "更新 Issue 的状态或疑似原因。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `status` 可选值：`for_review`、`reviewed`、`ignored`、`resolved`。\n- `suspected_cause` 可选值：`api.failed_request`、`network.error`、`code.exception`、`code.invalid_object_access`、`code.invalid_argument`、`unknown`。\n- 将 `status` 设为 `resolved` 会同时记录 `resolved_at` 和 `resolved_by`；从 resolved 切回其他状态则会清空这两个字段。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/rum/issues/rum-issue-write-update",
          "metadata": {
            "sidebarTitle": "更新 Issue"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueUpdateRequest"
              },
              "example": {
                "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                "status": "resolved"
              }
            }
          }
        }
      }
    },
    "/rum/application/infos": {
      "post": {
        "operationId": "rum-application-read-infos",
        "summary": "批量查询应用详情",
        "description": "通过 ID 列表批量获取多个 RUM 应用的详情。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 每次请求最多传入 200 个 ID。",
          "href": "/zh/api-reference/rum/applications/rum-application-read-infos",
          "metadata": {
            "sidebarTitle": "批量查询应用详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationInfosResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "account_id": 2451002751131,
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "type": "browser",
                        "client_token": "ce8d1be90fc6534f89ce36ebf526765e131",
                        "team_id": 2477033058131,
                        "is_private": false,
                        "no_ip": false,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            5962711836131,
                            5967875767131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": true,
                          "open_type": "popup",
                          "endpoint": "https://www.tracing.com/${trace_id}"
                        },
                        "status": "enabled",
                        "created_by": 2476444212131,
                        "updated_by": 3122470302131,
                        "created_at": 1742958482000,
                        "updated_at": 1772096392711,
                        "links": {
                          "enabled": false,
                          "systems": []
                        }
                      },
                      {
                        "account_id": 2451002751131,
                        "application_id": "WoyQQ3BohkdtPivubEvE8o",
                        "application_name": "flashcat-rum",
                        "type": "browser",
                        "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                        "team_id": 2477033058131,
                        "is_private": true,
                        "no_ip": true,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            2490121812131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": false,
                          "open_type": "",
                          "endpoint": ""
                        },
                        "status": "enabled",
                        "created_by": 4441703362131,
                        "updated_by": 3790925372131,
                        "created_at": 1746673831462,
                        "updated_at": 1773398630657,
                        "links": {
                          "enabled": true,
                          "systems": [
                            {
                              "id": "s3-crash-logs",
                              "name": "S3 Crash Logs",
                              "icon_text": "S3",
                              "icon_color": "#0F766E",
                              "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                              "event_types": [
                                "crash",
                                "error"
                              ],
                              "enabled": true
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationInfosRequest"
              },
              "example": {
                "application_ids": [
                  "eWbr4xk3ZRnLabRa6unqwD",
                  "WoyQQ3BohkdtPivubEvE8o"
                ]
              }
            }
          }
        }
      }
    },
    "/rum/field/list": {
      "post": {
        "operationId": "rum-read-field-list",
        "summary": "查询字段列表",
        "description": "返回 RUM 字段定义，可按 scope 和是否为分面字段过滤。",
        "tags": [
          "RUM/RUM 自定义字段"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 这是当前字段模型下用于发现 RUM 字段的路由。\n- 返回的 `field_key` 可用于 RUM 数据查询和分面值统计请求。\n- 设置 `is_facet: true` 只返回支持值分布统计的字段。",
          "href": "/zh/api-reference/rum/facets/rum-read-field-list",
          "metadata": {
            "sidebarTitle": "查询字段列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumFieldListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "account_id": 0,
                        "field_key": "error.type",
                        "field_name": "Error type",
                        "group": "Error",
                        "description": "错误类型。",
                        "value_type": "string",
                        "show_type": "list",
                        "unit_family": "",
                        "unit_name": "",
                        "edit_able": false,
                        "is_facet": true,
                        "enum_values": [],
                        "scopes": [
                          "error"
                        ],
                        "status": "active",
                        "queryable": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumFieldListRequest"
              },
              "example": {
                "scopes": [
                  "error"
                ],
                "is_facet": false
              }
            }
          }
        }
      }
    },
    "/rum/application/info": {
      "post": {
        "operationId": "rum-application-read-info",
        "summary": "查看应用详情",
        "description": "通过 `application_id` 获取单个 RUM 应用的完整信息。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |",
          "href": "/zh/api-reference/rum/applications/rum-application-read-info",
          "metadata": {
            "sidebarTitle": "查看应用详情"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "account_id": 2451002751131,
                    "application_id": "WoyQQ3BohkdtPivubEvE8o",
                    "application_name": "flashcat-rum",
                    "type": "browser",
                    "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                    "team_id": 2477033058131,
                    "is_private": true,
                    "no_ip": true,
                    "no_geo": false,
                    "alerting": {
                      "enabled": true,
                      "channel_ids": [
                        2490121812131
                      ],
                      "integration_id": 4759595678131
                    },
                    "tracing": {
                      "enabled": false,
                      "open_type": "",
                      "endpoint": ""
                    },
                    "status": "enabled",
                    "created_by": 4441703362131,
                    "updated_by": 3790925372131,
                    "created_at": 1746673831462,
                    "updated_at": 1773398630657,
                    "links": {
                      "enabled": true,
                      "systems": [
                        {
                          "id": "s3-crash-logs",
                          "name": "S3 Crash Logs",
                          "icon_text": "S3",
                          "icon_color": "#0F766E",
                          "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                          "event_types": [
                            "crash",
                            "error"
                          ],
                          "enabled": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationIDRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o"
              }
            }
          }
        }
      }
    },
    "/rum/application/delete": {
      "post": {
        "operationId": "rum-application-write-delete",
        "summary": "删除应用",
        "description": "通过 `application_id` 删除 RUM 应用。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **应用管理**（`rum`） |\n\n## 使用说明\n\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/rum/applications/rum-application-write-delete",
          "metadata": {
            "sidebarTitle": "删除应用"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationIDRequest"
              },
              "example": {
                "application_id": "qLpu24Dz4CAzWsESPbJYWA"
              }
            }
          }
        }
      }
    },
    "/rum/application/create": {
      "post": {
        "operationId": "rum-application-write-create",
        "summary": "创建应用",
        "description": "创建新的 RUM 应用，返回生成的 `application_id` 和 `client_token`。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **应用管理**（`rum`） |\n\n## 使用说明\n\n- `type` 须为以下之一：`browser`、`ios`、`android`、`react-native`、`flutter`、`kotlin-multiplatform`、`roku`、`unity`。\n- `links.systems[].url` 必须以 `http` 或 `https` 开头；`${var}` 变量会根据 RUM 事件上下文解析。\n- `links.systems[].event_types` 支持：`crash`、`error`、`view`、`action`、`resource`、`session`、`all`。\n- `client_token` 自动生成，用于初始化 RUM SDK。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/rum/applications/rum-application-write-create",
          "metadata": {
            "sidebarTitle": "创建应用"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "application_id": "qLpu24Dz4CAzWsESPbJYWA",
                    "application_name": "我的 Web 应用",
                    "client_token": "e090078724855a4ca168c3884880dfbc131"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationCreateRequest"
              },
              "example": {
                "application_name": "我的 Web 应用",
                "type": "browser",
                "team_id": 2477033058131,
                "is_private": false,
                "links": {
                  "enabled": true,
                  "systems": [
                    {
                      "id": "s3-crash-logs",
                      "name": "S3 Crash Logs",
                      "icon_text": "S3",
                      "icon_color": "#0F766E",
                      "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                      "event_types": [
                        "crash",
                        "error"
                      ],
                      "enabled": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/rum/application/update": {
      "post": {
        "operationId": "rum-application-write-update",
        "summary": "更新应用",
        "description": "更新已有 RUM 应用，除 `application_id` 外均为可选，仅更新提供的字段。",
        "tags": [
          "RUM/应用管理"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **应用管理**（`rum`） |\n\n## 使用说明\n\n- `links.systems[].url` 必须以 `http` 或 `https` 开头；`${var}` 变量会根据 RUM 事件上下文解析。\n- `links.systems[].event_types` 支持：`crash`、`error`、`view`、`action`、`resource`、`session`、`all`。\n- 每次调用都会记录到账户审计日志，请不要把敏感信息放在请求字段中。",
          "href": "/zh/api-reference/rum/applications/rum-application-write-update",
          "metadata": {
            "sidebarTitle": "更新应用"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationUpdateRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "application_name": "我的 Web 应用 v2",
                "alerting": {
                  "enabled": true,
                  "channel_ids": [
                    2490121812131
                  ]
                },
                "links": {
                  "enabled": true,
                  "systems": [
                    {
                      "id": "s3-crash-logs",
                      "name": "S3 Crash Logs",
                      "icon_text": "S3",
                      "icon_color": "#0F766E",
                      "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                      "event_types": [
                        "crash",
                        "error"
                      ],
                      "enabled": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sourcemap/list": {
      "post": {
        "operationId": "sourcemap-read-list",
        "summary": "查询 Sourcemap 列表",
        "description": "分页返回已上传的 Sourcemap 文件列表，可按平台类型、服务和版本过滤。",
        "tags": [
          "RUM/RUM Sourcemap"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `start_time` 和 `end_time` 为必填字段，均使用 Unix 时间戳（**毫秒**），最大时间跨度 365 天。\n- `type` 字段用于选择平台：`browser`（JavaScript）、`android` 或 `ios`。省略时默认为 `browser`。\n- 默认每页 20 条，最大 100 条，默认按 `created_at` 倒序排列。\n- Android 平台可用 `build_id` 匹配 Gradle 插件的构建标识；iOS 平台可用 `uuid` 匹配 dSYM bundle UUID。",
          "href": "/zh/api-reference/rum/sourcemaps/sourcemap-read-list",
          "metadata": {
            "sidebarTitle": "查询 Sourcemap 列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SourcemapListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 3,
                    "items": [
                      {
                        "key": "browser/my-web-app/1.0.0/main.js.map",
                        "type": "browser",
                        "service": "my-web-app",
                        "version": "1.0.0",
                        "size": 204800,
                        "git_repository_url": "https://github.com/example/my-web-app",
                        "git_commit_sha": "abc1234def5678",
                        "created_at": 1712700000,
                        "updated_at": 1712700000,
                        "metadata": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcemapListRequest"
              },
              "example": {
                "start_time": 1712000000000,
                "end_time": 1712700000000,
                "type": "browser",
                "services": [
                  "my-web-app"
                ],
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/rum/session-replay/metadata": {
      "post": {
        "operationId": "rum-session-replay-read-metadata",
        "summary": "查看会话回放元数据",
        "description": "返回可回放会话记录的应用、设备、会话时间范围及全部视图信息。",
        "tags": [
          "RUM/Session replay"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 若会话不存在，或该会话没有录制回放数据（`session_has_replay` 为 false），返回 `InvalidParameter`。\n- 若该会话时间窗口内未查询到任何视图，返回 `InvalidParameter`。\n- 当 `session_id` 在不同时间窗口内被复用时，可传入 `ts` 加以区分。",
          "href": "/zh/api-reference/rum/session-replay/rum-session-replay-read-metadata",
          "metadata": {
            "sidebarTitle": "查看会话回放元数据"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumSessionReplayMetaItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "application": {
                      "id": "WoyQQ3BohkdtPivubEvE8o"
                    },
                    "device": {
                      "type": "desktop"
                    },
                    "session": {
                      "is_active": false,
                      "server_time_delta": 0,
                      "source": "browser",
                      "start": 1752480000000,
                      "end": 1752480600000
                    },
                    "views": [
                      {
                        "source": "browser",
                        "view_id": "6f2b6b1a-8f7e-4e3a-9c2b-1a2b3c4d5e6f",
                        "name": "/dashboard",
                        "url": "https://app.example.com/dashboard",
                        "loading_type": "initial_load",
                        "container_source": "",
                        "container_view_id": "",
                        "server_time_delta": 0,
                        "start": 1752480000000,
                        "end": 1752480600000,
                        "is_active": false
                      }
                    ],
                    "foreground_periods": []
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumSessionReplayMetaRequest"
              },
              "example": {
                "session_id": "0a4a2e64-8a4f-4b9a-9c1e-3a2f9e6d7c81"
              }
            }
          }
        }
      }
    },
    "/rum/session-replay/segments": {
      "post": {
        "operationId": "rum-session-replay-read-segments",
        "summary": "查询会话回放分段",
        "description": "分页获取会话录制的回放分段，可返回预签名下载地址或原始数据流。",
        "tags": [
          "RUM/Session replay"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 当 `url_mode` 为 `false`（默认）时，响应以 `application/x-ndjson` 流式返回——每行是一条解压后的回放分段 JSON 记录——且**不会**包裹在标准信封中；下一页的分页游标改由响应头 `X-Search-After-Ctx` 返回，而非响应体字段。\n- 当 `url_mode` 为 `true` 时，响应为标准 JSON 信封，内含分段的预签名下载地址（1 小时内有效），而非原始字节流。\n- 传入 `ts` 可从该时间点之前最近的一个全量快照分段开始定位，而非从会话起始处分页。\n- `limit` 取值范围 1-99；传入 100 及以上将被拒绝。",
          "href": "/zh/api-reference/rum/session-replay/rum-session-replay-read-segments",
          "metadata": {
            "sidebarTitle": "查询会话回放分段"
          }
        },
        "responses": {
          "200": {
            "description": "成功。响应体形状取决于 `url_mode`——详见使用说明。",
            "headers": {
              "X-Search-After-Ctx": {
                "description": "Base64 编码的分页游标，用于下一次调用。仅在流式模式（`url_mode: false`）下返回。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumSessionReplaySegmentsResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R5",
                  "data": {
                    "items": [
                      "https://rum-replay.flashcat.cloud/short-term/2451002751131/0a4a2e64-8a4f-4b9a-9c1e-3a2f9e6d7c81/segments/1752480001234?X-Amz-Signature=example",
                      "https://rum-replay.flashcat.cloud/short-term/2451002751131/0a4a2e64-8a4f-4b9a-9c1e-3a2f9e6d7c81/segments/1752480032456?X-Amz-Signature=example"
                    ],
                    "search_after_ctx": "c2hvcnQtdGVybS8yNDUxMDAyNzUxMTMxLzBhNGEyZTY0LThhNGYtNGI5YS05YzFlLTNhMmY5ZTZkN2M4MS9zZWdtZW50cy8xNzUyNDgwMDMyNDU2"
                  }
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "Newline-delimited JSON (NDJSON). Each line is one decompressed replay segment record (rrweb-format events), streamed directly and not wrapped in the standard envelope."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumSessionReplaySegmentsRequest"
              },
              "example": {
                "session_id": "0a4a2e64-8a4f-4b9a-9c1e-3a2f9e6d7c81",
                "limit": 20,
                "url_mode": true
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/list": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-read-list",
        "summary": "查询错误采集规则列表",
        "description": "返回一个 RUM 应用配置的所有错误采集规则。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**; **50 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有读取权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有读取权限。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-read-list",
          "metadata": {
            "sidebarTitle": "查询错误采集规则列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumErrorIngestionRuleListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {
                    "items": [
                      {
                        "rule_id": "rU7mErR0rC1b2A3d4E5f",
                        "rule_name": "Ignore browser extension errors",
                        "description": "Discard errors generated by known browser extensions.",
                        "filters": [
                          [
                            {
                              "key": "error.error_type",
                              "oper": "IN",
                              "vals": [
                                "TypeError"
                              ]
                            }
                          ]
                        ],
                        "status": "enabled",
                        "created_at": 1784419200,
                        "updated_at": 1784419200
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionRuleListRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/create": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-create",
        "summary": "创建错误采集规则",
        "description": "创建一个会丢弃匹配 RUM 错误事件的错误采集规则。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-create",
          "metadata": {
            "sidebarTitle": "创建错误采集规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumErrorIngestionRuleCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {
                    "rule_id": "rU7mErR0rC1b2A3d4E5f",
                    "rule_name": "Ignore browser extension errors"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionRuleCreateRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_name": "Ignore browser extension errors",
                "description": "Discard errors generated by known browser extensions.",
                "filters": [
                  [
                    {
                      "key": "error.error_type",
                      "oper": "IN",
                      "vals": [
                        "TypeError"
                      ]
                    }
                  ]
                ]
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/update": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-update",
        "summary": "更新错误采集规则",
        "description": "更新一条错误采集规则的可修改字段。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-update",
          "metadata": {
            "sidebarTitle": "更新错误采集规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionRuleUpdateRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mErR0rC1b2A3d4E5f",
                "description": "Ignore errors from browser extensions."
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/enable": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-enable",
        "summary": "启用错误采集规则",
        "description": "启用一个 RUM 应用的错误采集规则。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-enable",
          "metadata": {
            "sidebarTitle": "启用错误采集规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleActionRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mErR0rC1b2A3d4E5f"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/disable": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-disable",
        "summary": "禁用错误采集规则",
        "description": "禁用一条错误采集规则而不删除它。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-disable",
          "metadata": {
            "sidebarTitle": "禁用错误采集规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleActionRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mErR0rC1b2A3d4E5f"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/delete": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-delete",
        "summary": "删除错误采集规则",
        "description": "从 RUM 应用中删除一条错误采集规则。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 该操作会永久删除规则。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-delete",
          "metadata": {
            "sidebarTitle": "删除错误采集规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleActionRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mErR0rC1b2A3d4E5f"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/history/list": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-read-history-list",
        "summary": "查询错误采集规则历史",
        "description": "返回一个应用错误采集规则集的版本快照。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**; **50 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有读取权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有读取权限。\n- 每个快照都包含该应用的完整规则集。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-read-history-list",
          "metadata": {
            "sidebarTitle": "查询错误采集规则历史"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumErrorIngestionRuleHistoryResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {
                    "total": 2,
                    "has_next_page": false,
                    "items": [
                      {
                        "rules": [
                          {
                            "rule_id": "rU7mErR0rC1b2A3d4E5f",
                            "rule_name": "Ignore browser extension errors",
                            "description": "Discard errors generated by known browser extensions.",
                            "filters": [
                              [
                                {
                                  "key": "error.error_type",
                                  "oper": "IN",
                                  "vals": [
                                    "TypeError"
                                  ]
                                }
                              ]
                            ],
                            "status": "enabled",
                            "created_at": 1784419200,
                            "updated_at": 1784419200
                          }
                        ],
                        "version": 2,
                        "updated_by": 10001,
                        "updated_by_name": "Alex Chen",
                        "updated_at": 1784419200
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleHistoryListRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "p": 0,
                "limit": 20,
                "orderby": "updated_at",
                "asc": false
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/history/revert": {
      "post": {
        "operationId": "rum-app-error-ingestion-rule-write-history-revert",
        "summary": "恢复错误采集规则历史",
        "description": "使用一个已保存的历史快照替换应用的错误采集规则。",
        "tags": [
          "RUM/错误追踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 选定快照会替换该应用的完整规则集。",
          "href": "/zh/api-reference/rum/error-tracking/rum-app-error-ingestion-rule-write-history-revert",
          "metadata": {
            "sidebarTitle": "恢复错误采集规则历史"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": false
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleHistoryRevertRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "version": 2
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/list": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-read-list",
        "summary": "查询 Issue 预设严重性规则列表",
        "description": "返回一个 RUM 应用配置的所有 Issue 预设严重性规则。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**; **50 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有读取权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有读取权限。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-read-list",
          "metadata": {
            "sidebarTitle": "查询 Issue 预设严重性规则列表"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumPresetSeverityRuleListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {
                    "items": [
                      {
                        "rule_id": "rU7mPrE5eV3r1T2y9A8b",
                        "rule_name": "Mark payment failures critical",
                        "description": "Raise the severity of payment-service failures.",
                        "filters": [
                          [
                            {
                              "key": "error.service",
                              "oper": "IN",
                              "vals": [
                                "payment-api"
                              ]
                            }
                          ]
                        ],
                        "status": "enabled",
                        "created_at": 1784419200,
                        "updated_at": 1784419200,
                        "severity": "Critical",
                        "priority": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumPresetSeverityRuleListRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/create": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-write-create",
        "summary": "创建 Issue 预设严重性规则",
        "description": "创建一条为匹配 RUM Issue 设置严重性的规则。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-write-create",
          "metadata": {
            "sidebarTitle": "创建 Issue 预设严重性规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumPresetSeverityRuleCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D",
                  "data": {
                    "rule_id": "rU7mPrE5eV3r1T2y9A8b",
                    "rule_name": "Mark payment failures critical",
                    "priority": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumPresetSeverityRuleCreateRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_name": "Mark payment failures critical",
                "description": "Raise the severity of payment-service failures.",
                "filters": [
                  [
                    {
                      "key": "error.service",
                      "oper": "IN",
                      "vals": [
                        "payment-api"
                      ]
                    }
                  ]
                ],
                "severity": "Critical"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/update": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-write-update",
        "summary": "更新 Issue 预设严重性规则",
        "description": "更新一条 Issue 预设严重性规则的可修改字段。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 成功响应仅包含 `request_id`。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-write-update",
          "metadata": {
            "sidebarTitle": "更新 Issue 预设严重性规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumPresetSeverityRuleUpdateRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mPrE5eV3r1T2y9A8b",
                "severity": "Warning"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/enable": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-write-enable",
        "summary": "启用 Issue 预设严重性规则",
        "description": "启用一个 RUM 应用的 Issue 预设严重性规则。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 成功响应仅包含 `request_id`。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-write-enable",
          "metadata": {
            "sidebarTitle": "启用 Issue 预设严重性规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleActionRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mPrE5eV3r1T2y9A8b"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/disable": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-write-disable",
        "summary": "禁用 Issue 预设严重性规则",
        "description": "禁用一条 Issue 预设严重性规则而不删除它。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 成功响应仅包含 `request_id`。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-write-disable",
          "metadata": {
            "sidebarTitle": "禁用 Issue 预设严重性规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "request_id": "01J0RUMRULES2Q4M8W7K3F5H9D"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/BadRequest"
          },
          "401": {
            "$ref": "#/components/schemas/Unauthorized"
          },
          "429": {
            "$ref": "#/components/schemas/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/schemas/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumRuleActionRequest"
              },
              "example": {
                "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                "rule_id": "rU7mPrE5eV3r1T2y9A8b"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/delete": {
      "post": {
        "operationId": "rum-app-issue-preset-severity-rule-write-delete",
        "summary": "删除 Issue 预设严重性规则",
        "description": "从 RUM 应用中删除一条 Issue 预设严重性规则。",
        "tags": [
          "RUM/RUM 问题跟踪"
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**; **20 次/秒** per account |\n| 权限要求 | 持有有效的 `app_key`，且需对目标应用具有写入权限 |\n\n## 使用说明\n\n- 调用前需要对目标应用具有写入权限。\n- 每次调用都会记录到账户审计日志，请不要在请求字段中填写敏感信息。\n- 该操作会永久删除规则。",
          "href": "/zh/api-reference/rum/issues/rum-app-issue-preset-severity-rule-write-delete",
          "metadata": {
            "sidebarTitle": "删除 Issue 预设严重性规则"
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
[...]
