{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty Open API",
    "description": "Public HTTP API for the Flashduty incident management platform — incidents, notification templates, channels, schedules, monitors, RUM, and platform administration. Every operation is authenticated with an `app_key` query parameter issued from the Flashduty console under Account → APP Keys. Responses follow a uniform envelope: `{ request_id, data }` on success, `{ request_id, error }` on failure.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "RUM/Applications",
      "description": "Manage Real User Monitoring (RUM) applications."
    },
    {
      "name": "RUM/Data query",
      "description": "Run RUM analytics queries over event data."
    },
    {
      "name": "RUM/Issues",
      "description": "Query and manage RUM error tracking issues and preset severity rules."
    },
    {
      "name": "RUM/Facets",
      "description": "Query RUM facet fields and their value distributions for building analytics filters."
    },
    {
      "name": "RUM/Sourcemaps",
      "description": "Manage and query RUM sourcemap files for browser, Android, and iOS error symbolication."
    },
    {
      "name": "RUM/Error tracking",
      "description": ""
    },
    {
      "name": "RUM/Session replay",
      "description": ""
    },
    {
      "name": "RUM/Resource usage",
      "description": ""
    }
  ],
  "paths": {
    "/rum/facet/count": {
      "post": {
        "operationId": "rum-read-facet-count",
        "summary": "Count facet value distribution",
        "description": "Return the top N values for a facet field within a time range, sorted by occurrence count descending.",
        "tags": [
          "RUM/Facets"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Use `POST /rum/facet/list` to discover available `facet_key` values for each scope.\n- The `scope` must be one of: `session`, `view`, `action`, `error`, `resource`, `long_task`, `vital`, `issue`, `sourcemap`.\n- Pass `dql` to further filter events before counting. DQL syntax follows the RUM query language.\n- Pass `sql` with a WHERE-clause only (no SELECT) for SQL-style filtering.\n- Default limit is 100; maximum is 100.\n- Time range is required (`start_time` / `end_time` in Unix epoch **milliseconds**). Maximum span is 31 days.",
          "href": "/en/api-reference/rum/facets/rum-read-facet-count",
          "metadata": {
            "sidebarTitle": "Count facet value distribution"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumFacetCountResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "facet_value": "TypeError",
                        "count": 1523
                      },
                      {
                        "facet_value": "ReferenceError",
                        "count": 342
                      },
                      {
                        "facet_value": "SyntaxError",
                        "count": 89
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumFacetCountRequest"
              },
              "example": {
                "scope": "error",
                "facet_key": "error.type",
                "start_time": 1712620800000,
                "end_time": 1712707200000,
                "limit": 10
              }
            }
          }
        }
      }
    },
    "/rum/application/webhook/test": {
      "post": {
        "operationId": "rum-application-webhook-test",
        "summary": "Test application webhook",
        "description": "Send a sample RUM alert event to verify an application's webhook URL.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Applications Manage** (`rum`) |\n\n## Usage\n\n- The endpoint validates the URL before sending the sample event.\n- A failed delivery still returns HTTP 200 with `ok=false` and the delivery error in `message`.",
          "href": "/en/api-reference/rum/applications/rum-application-webhook-test",
          "metadata": {
            "sidebarTitle": "Test application webhook"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumWebhookTestResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "ok": true,
                    "status_code": 200,
                    "message": "ok"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumWebhookTestRequest"
              },
              "example": {
                "application_id": "rum-app-prod",
                "webhook_url": "https://hooks.example.com/rum-alerts"
              }
            }
          }
        }
      }
    },
    "/rum/issue/info": {
      "post": {
        "operationId": "rum-issue-read-info",
        "summary": "Get issue detail",
        "description": "Retrieve full details of a single issue by `issue_id`.",
        "tags": [
          "RUM/Issues"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |",
          "href": "/en/api-reference/rum/issues/rum-issue-read-info",
          "metadata": {
            "sidebarTitle": "Get issue detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumIssueItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "team_id": 2477033058131,
                    "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                    "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                    "application_name": "Flashduty DEV",
                    "service": "fd-console",
                    "status": "for_review",
                    "error_count": 752,
                    "session_count": 381,
                    "is_crash": false,
                    "age": 5078684,
                    "resolved_at": 0,
                    "resolved_by": 0,
                    "created_at": 1770883154944,
                    "updated_at": 1775961914595,
                    "first_seen": {
                      "timestamp": 1770883154944,
                      "version": "1.0.0"
                    },
                    "last_seen": {
                      "timestamp": 1775961839090,
                      "version": "1.0.0"
                    },
                    "error": {
                      "message": "Script error.",
                      "type": "Error"
                    },
                    "suspected_cause": {
                      "source": "auto",
                      "value": "code.exception",
                      "reason": "The error message 'Script error.' typically indicates an unhandled exception in JavaScript.",
                      "person_id": 0
                    },
                    "versions": [
                      "1.0.0"
                    ],
                    "severity": "Info"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueIDRequest"
              },
              "example": {
                "issue_id": "NHEacQHi2DhXqobr9qPQz9"
              }
            }
          }
        }
      }
    },
    "/rum/application/list": {
      "post": {
        "operationId": "rum-application-read-list",
        "summary": "List applications",
        "description": "Return a paginated list of RUM applications accessible to the current user.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Use `is_my_team` to filter applications belonging to the current user's teams.\n- Default page size is 20, maximum is 100.\n- `orderby` accepts `created_at` or `updated_at`.",
          "href": "/en/api-reference/rum/applications/rum-application-read-list",
          "metadata": {
            "sidebarTitle": "List applications"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "has_next_page": true,
                    "total": 7,
                    "items": [
                      {
                        "account_id": 2451002751131,
                        "application_id": "WoyQQ3BohkdtPivubEvE8o",
                        "application_name": "flashcat-rum",
                        "type": "browser",
                        "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                        "team_id": 2477033058131,
                        "is_private": true,
                        "no_ip": true,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            2490121812131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": false,
                          "open_type": "",
                          "endpoint": ""
                        },
                        "status": "enabled",
                        "created_by": 4441703362131,
                        "updated_by": 3790925372131,
                        "created_at": 1746673831462,
                        "updated_at": 1773398630657,
                        "links": {
                          "enabled": true,
                          "systems": [
                            {
                              "id": "s3-crash-logs",
                              "name": "S3 Crash Logs",
                              "icon_text": "S3",
                              "icon_color": "#0F766E",
                              "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                              "event_types": [
                                "crash",
                                "error"
                              ],
                              "enabled": true
                            }
                          ]
                        }
                      },
                      {
                        "account_id": 2451002751131,
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "type": "browser",
                        "client_token": "ce8d1be90fc6534f89ce36ebf526765e131",
                        "team_id": 2477033058131,
                        "is_private": false,
                        "no_ip": false,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            5962711836131,
                            5967875767131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": true,
                          "open_type": "popup",
                          "endpoint": "https://www.tracing.com/${trace_id}"
                        },
                        "status": "enabled",
                        "created_by": 2476444212131,
                        "updated_by": 3122470302131,
                        "created_at": 1742958482000,
                        "updated_at": 1772096392711,
                        "links": {
                          "enabled": false,
                          "systems": []
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "query": "",
                "is_my_team": false
              }
            }
          }
        }
      }
    },
    "/sourcemap/stack/enrich": {
      "post": {
        "operationId": "sourcemap-read-stack-enrich",
        "summary": "Enrich a stack trace",
        "description": "Symbolicate or deobfuscate a browser, Android, iOS, Mini Program, or HarmonyOS stack trace.",
        "tags": [
          "RUM/Sourcemaps"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- `type` defaults to `browser` when omitted for backward compatibility.\n- Set `near` from 1 to 20 to include source-code snippets around converted frames.\n- For Android NDK native crashes, provide `arch` and `source_type: ndk` so the backend routes to native symbolication.\n- For iOS crash stacks, pass `binary_images` so addresses can be relocated against the uploaded dSYM files.\n- `no_cache` is intended for debugging and bypasses cached enrich results.",
          "href": "/en/api-reference/rum/sourcemaps/sourcemap-read-stack-enrich",
          "metadata": {
            "sidebarTitle": "Enrich a stack trace"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SourcemapStackEnrichResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "frames": [
                      {
                        "function": "renderCheckout",
                        "file": "src/pages/checkout.tsx",
                        "line": 42,
                        "column": 17,
                        "converted": true,
                        "code_snippets": [
                          {
                            "line": 41,
                            "code": "const cart = props.cart;"
                          },
                          {
                            "line": 42,
                            "code": "return cart.items.map(renderItem);"
                          }
                        ],
                        "original_frame": {
                          "function": "render",
                          "file": "https://cdn.example.com/app.min.js",
                          "line": 1,
                          "column": 2345
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcemapStackEnrichRequest"
              },
              "example": {
                "type": "browser",
                "service": "my-web-app",
                "version": "1.0.0",
                "stack": "TypeError: Cannot read properties of undefined\n    at render (https://cdn.example.com/app.min.js:1:2345)",
                "near": 3
              }
            }
          }
        }
      }
    },
    "/rum/data/query": {
      "post": {
        "operationId": "rum-read-data-query",
        "summary": "Query RUM data",
        "description": "Run one or more SQL-style RUM data queries over a bounded time range.",
        "tags": [
          "RUM/Data query"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Send 1 to 10 queries in one request; each query `id` becomes a key in the response object.\n- `start_time` and `end_time` are required Unix epoch milliseconds. The maximum time range is 31 days.\n- Use `format: table` for tabular results, or `format: time_series` for bucketed time-series results.\n- For `time_series`, `interval` defaults to 3600 seconds and `max_points` defaults to 1226 when omitted.\n- `search_after_ctx` is returned by paginated table queries and can be sent back to continue scanning.",
          "href": "/en/api-reference/rum/data-query/rum-read-data-query",
          "metadata": {
            "sidebarTitle": "Query RUM data"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumDataQueryResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "errors_by_type": {
                      "data": {
                        "fields": [
                          {
                            "name": "error.type",
                            "type": "String",
                            "nullable": false
                          },
                          {
                            "name": "errors",
                            "type": "UInt64",
                            "nullable": false
                          }
                        ],
                        "values": [
                          [
                            "TypeError",
                            1523
                          ],
                          [
                            "ReferenceError",
                            342
                          ]
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumDataQueryRequest"
              },
              "example": {
                "start_time": 1712620800000,
                "end_time": 1712707200000,
                "queries": [
                  {
                    "id": "errors_by_type",
                    "sql": "SELECT error.type, count(*) AS errors FROM error GROUP BY error.type ORDER BY errors DESC LIMIT 10",
                    "format": "table",
                    "time_zone": "Asia/Shanghai"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/rum/issue/list": {
      "post": {
        "operationId": "rum-issue-read-list",
        "summary": "List issues",
        "description": "Return a paginated list of RUM error tracking issues matching the given filters.",
        "tags": [
          "RUM/Issues"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- `start_time` and `end_time` are millisecond timestamps. Maximum range: 183 days.\n- `statuses` filters by issue status. Valid values: `for_review`, `reviewed`, `ignored`, `resolved`.\n- `orderby` accepts: `created_at`, `updated_at`, `session_count`, `error_count`.\n- Use `dql` or `sql` for advanced filtering. Cannot provide both.",
          "href": "/en/api-reference/rum/issues/rum-issue-read-list",
          "metadata": {
            "sidebarTitle": "List issues"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumIssueListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "team_id": 2477033058131,
                        "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "service": "fd-console",
                        "status": "for_review",
                        "error_count": 752,
                        "session_count": 381,
                        "is_crash": false,
                        "age": 5078684,
                        "resolved_at": 0,
                        "resolved_by": 0,
                        "created_at": 1770883154944,
                        "updated_at": 1775961914595,
                        "first_seen": {
                          "timestamp": 1770883154944,
                          "version": "1.0.0"
                        },
                        "last_seen": {
                          "timestamp": 1775961839090,
                          "version": "1.0.0"
                        },
                        "error": {
                          "message": "Script error.",
                          "type": "Error"
                        },
                        "suspected_cause": {
                          "source": "auto",
                          "value": "code.exception",
                          "reason": "The error message 'Script error.' typically indicates an unhandled exception in JavaScript.",
                          "person_id": 0
                        },
                        "versions": [
                          "1.0.0"
                        ],
                        "severity": "Info"
                      },
                      {
                        "team_id": 2477033058131,
                        "issue_id": "H8kZSmxiE7EgdyD4fCyyNa",
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "service": "fd-console",
                        "status": "for_review",
                        "error_count": 3,
                        "session_count": 1,
                        "is_crash": false,
                        "age": 48,
                        "resolved_at": 0,
                        "resolved_by": 0,
                        "created_at": 1775189479566,
                        "updated_at": 1775191284163,
                        "first_seen": {
                          "timestamp": 1775189479566,
                          "version": "1.0.0"
                        },
                        "last_seen": {
                          "timestamp": 1775189527762,
                          "version": "1.0.0"
                        },
                        "error": {
                          "message": "API ERROR: We encountered an internal error | POST /api/access/logout",
                          "type": "Error"
                        },
                        "suspected_cause": {
                          "source": "auto",
                          "value": "api.failed_request",
                          "reason": "The error indicates an internal server error during a POST request to /api/access/logout.",
                          "person_id": 0
                        },
                        "versions": [
                          "1.0.0"
                        ],
                        "severity": "Info"
                      }
                    ],
                    "has_next_page": true,
                    "total": 111
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueListRequest"
              },
              "example": {
                "start_time": 1772611200000,
                "end_time": 1775961914595,
                "application_ids": [
                  "eWbr4xk3ZRnLabRa6unqwD"
                ],
                "statuses": [
                  "for_review"
                ],
                "p": 1,
                "limit": 20,
                "orderby": "updated_at"
              }
            }
          }
        }
      }
    },
    "/rum/issue/update": {
      "post": {
        "operationId": "rum-issue-write-update",
        "summary": "Update issue",
        "description": "Update the status or suspected cause of an issue.",
        "tags": [
          "RUM/Issues"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- `status` valid values: `for_review`, `reviewed`, `ignored`, `resolved`.\n- `suspected_cause` valid values: `api.failed_request`, `network.error`, `code.exception`, `code.invalid_object_access`, `code.invalid_argument`, `unknown`.\n- Setting `status` to `resolved` also stamps `resolved_at` and `resolved_by` on the issue; moving a resolved issue back to another status clears them.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/issues/rum-issue-write-update",
          "metadata": {
            "sidebarTitle": "Update issue"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIssueUpdateRequest"
              },
              "example": {
                "issue_id": "NHEacQHi2DhXqobr9qPQz9",
                "status": "resolved"
              }
            }
          }
        }
      }
    },
    "/rum/application/infos": {
      "post": {
        "operationId": "rum-application-read-infos",
        "summary": "Batch get applications",
        "description": "Retrieve details for multiple RUM applications by their IDs in one request.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Maximum 200 IDs per request.",
          "href": "/en/api-reference/rum/applications/rum-application-read-infos",
          "metadata": {
            "sidebarTitle": "Batch get applications"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationInfosResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "account_id": 2451002751131,
                        "application_id": "eWbr4xk3ZRnLabRa6unqwD",
                        "application_name": "Flashduty DEV",
                        "type": "browser",
                        "client_token": "ce8d1be90fc6534f89ce36ebf526765e131",
                        "team_id": 2477033058131,
                        "is_private": false,
                        "no_ip": false,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            5962711836131,
                            5967875767131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": true,
                          "open_type": "popup",
                          "endpoint": "https://www.tracing.com/${trace_id}"
                        },
                        "status": "enabled",
                        "created_by": 2476444212131,
                        "updated_by": 3122470302131,
                        "created_at": 1742958482000,
                        "updated_at": 1772096392711,
                        "links": {
                          "enabled": false,
                          "systems": []
                        }
                      },
                      {
                        "account_id": 2451002751131,
                        "application_id": "WoyQQ3BohkdtPivubEvE8o",
                        "application_name": "flashcat-rum",
                        "type": "browser",
                        "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                        "team_id": 2477033058131,
                        "is_private": true,
                        "no_ip": true,
                        "no_geo": false,
                        "alerting": {
                          "enabled": true,
                          "channel_ids": [
                            2490121812131
                          ],
                          "integration_id": 4759595678131
                        },
                        "tracing": {
                          "enabled": false,
                          "open_type": "",
                          "endpoint": ""
                        },
                        "status": "enabled",
                        "created_by": 4441703362131,
                        "updated_by": 3790925372131,
                        "created_at": 1746673831462,
                        "updated_at": 1773398630657,
                        "links": {
                          "enabled": true,
                          "systems": [
                            {
                              "id": "s3-crash-logs",
                              "name": "S3 Crash Logs",
                              "icon_text": "S3",
                              "icon_color": "#0F766E",
                              "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                              "event_types": [
                                "crash",
                                "error"
                              ],
                              "enabled": true
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationInfosRequest"
              },
              "example": {
                "application_ids": [
                  "eWbr4xk3ZRnLabRa6unqwD",
                  "WoyQQ3BohkdtPivubEvE8o"
                ]
              }
            }
          }
        }
      }
    },
    "/rum/field/list": {
      "post": {
        "operationId": "rum-read-field-list",
        "summary": "List RUM fields",
        "description": "Return RUM field definitions, optionally filtered by scope and facet status.",
        "tags": [
          "RUM/Facets"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- This is the current field-model route for discovering RUM fields.\n- Use returned `field_key` values in RUM data queries and facet-count requests.\n- Set `is_facet: true` to return only fields that support value distribution queries.",
          "href": "/en/api-reference/rum/facets/rum-read-field-list",
          "metadata": {
            "sidebarTitle": "List RUM fields"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumFieldListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "account_id": 0,
                        "field_key": "error.type",
                        "field_name": "Error type",
                        "group": "Error",
                        "description": "The type of the error.",
                        "value_type": "string",
                        "show_type": "list",
                        "unit_family": "",
                        "unit_name": "",
                        "edit_able": false,
                        "is_facet": true,
                        "enum_values": [],
                        "scopes": [
                          "error"
                        ],
                        "status": "active",
                        "queryable": true
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumFieldListRequest"
              },
              "example": {
                "scopes": [
                  "error"
                ],
                "is_facet": false
              }
            }
          }
        }
      }
    },
    "/rum/application/info": {
      "post": {
        "operationId": "rum-application-read-info",
        "summary": "Get application detail",
        "description": "Retrieve full details of a single RUM application by `application_id`.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |",
          "href": "/en/api-reference/rum/applications/rum-application-read-info",
          "metadata": {
            "sidebarTitle": "Get application detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "account_id": 2451002751131,
                    "application_id": "WoyQQ3BohkdtPivubEvE8o",
                    "application_name": "flashcat-rum",
                    "type": "browser",
                    "client_token": "a3cea433a8685a398cdfd68f54a45e06131",
                    "team_id": 2477033058131,
                    "is_private": true,
                    "no_ip": true,
                    "no_geo": false,
                    "alerting": {
                      "enabled": true,
                      "channel_ids": [
                        2490121812131
                      ],
                      "integration_id": 4759595678131
                    },
                    "tracing": {
                      "enabled": false,
                      "open_type": "",
                      "endpoint": ""
                    },
                    "status": "enabled",
                    "created_by": 4441703362131,
                    "updated_by": 3790925372131,
                    "created_at": 1746673831462,
                    "updated_at": 1773398630657,
                    "links": {
                      "enabled": true,
                      "systems": [
                        {
                          "id": "s3-crash-logs",
                          "name": "S3 Crash Logs",
                          "icon_text": "S3",
                          "icon_color": "#0F766E",
                          "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                          "event_types": [
                            "crash",
                            "error"
                          ],
                          "enabled": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationIDRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o"
              }
            }
          }
        }
      }
    },
    "/rum/application/delete": {
      "post": {
        "operationId": "rum-application-write-delete",
        "summary": "Delete application",
        "description": "Delete a RUM application by `application_id`.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Applications Manage** (`rum`) |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/applications/rum-application-write-delete",
          "metadata": {
            "sidebarTitle": "Delete application"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationIDRequest"
              },
              "example": {
                "application_id": "qLpu24Dz4CAzWsESPbJYWA"
              }
            }
          }
        }
      }
    },
    "/rum/application/create": {
      "post": {
        "operationId": "rum-application-write-create",
        "summary": "Create application",
        "description": "Create a new RUM application. Returns the generated `application_id` and `client_token`.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Applications Manage** (`rum`) |\n\n## Usage\n\n- `type` must be one of: `browser`, `ios`, `android`, `react-native`, `flutter`, `kotlin-multiplatform`, `roku`, `unity`.\n- `links.systems[].url` must start with `http` or `https`; `${var}` tokens are resolved from RUM event context.\n- `links.systems[].event_types` accepts: `crash`, `error`, `view`, `action`, `resource`, `session`, `all`.\n- `client_token` is auto-generated and used to initialize the RUM SDK.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/applications/rum-application-write-create",
          "metadata": {
            "sidebarTitle": "Create application"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumApplicationCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "application_id": "qLpu24Dz4CAzWsESPbJYWA",
                    "application_name": "My Web App",
                    "client_token": "e090078724855a4ca168c3884880dfbc131"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationCreateRequest"
              },
              "example": {
                "application_name": "My Web App",
                "type": "browser",
                "team_id": 2477033058131,
                "is_private": false,
                "links": {
                  "enabled": true,
                  "systems": [
                    {
                      "id": "s3-crash-logs",
                      "name": "S3 Crash Logs",
                      "icon_text": "S3",
                      "icon_color": "#0F766E",
                      "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                      "event_types": [
                        "crash",
                        "error"
                      ],
                      "enabled": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/rum/application/update": {
      "post": {
        "operationId": "rum-application-write-update",
        "summary": "Update application",
        "description": "Update an existing RUM application. All fields except `application_id` are optional — only provided fields are updated.",
        "tags": [
          "RUM/Applications"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **Applications Manage** (`rum`) |\n\n## Usage\n\n- `links.systems[].url` must start with `http` or `https`; `${var}` tokens are resolved from RUM event context.\n- `links.systems[].event_types` accepts: `crash`, `error`, `view`, `action`, `resource`, `session`, `all`.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/applications/rum-application-write-update",
          "metadata": {
            "sidebarTitle": "Update application"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumApplicationUpdateRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "application_name": "My Web App v2",
                "alerting": {
                  "enabled": true,
                  "channel_ids": [
                    2490121812131
                  ]
                },
                "links": {
                  "enabled": true,
                  "systems": [
                    {
                      "id": "s3-crash-logs",
                      "name": "S3 Crash Logs",
                      "icon_text": "S3",
                      "icon_color": "#0F766E",
                      "url": "https://s3.example.com/logs?app=${application_id}&trace=${trace_id}",
                      "event_types": [
                        "crash",
                        "error"
                      ],
                      "enabled": true
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sourcemap/list": {
      "post": {
        "operationId": "sourcemap-read-list",
        "summary": "List sourcemaps",
        "description": "Return a paginated list of uploaded sourcemap files filtered by platform type, service, and version.",
        "tags": [
          "RUM/Sourcemaps"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- `start_time` and `end_time` are required — both use Unix epoch **milliseconds**. Maximum window is 365 days.\n- The `type` field selects the platform: `browser` (JavaScript), `android`, or `ios`. Defaults to `browser` when omitted.\n- Default page size is 20; maximum is 100. Default sort is `created_at` descending.\n- For Android, `build_id` matches the Gradle plugin build identifier. For iOS, `uuid` matches the dSYM bundle UUID.",
          "href": "/en/api-reference/rum/sourcemaps/sourcemap-read-list",
          "metadata": {
            "sidebarTitle": "List sourcemaps"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SourcemapListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 3,
                    "items": [
                      {
                        "key": "browser/my-web-app/1.0.0/main.js.map",
                        "type": "browser",
                        "service": "my-web-app",
                        "version": "1.0.0",
                        "size": 204800,
                        "git_repository_url": "https://github.com/example/my-web-app",
                        "git_commit_sha": "abc1234def5678",
                        "created_at": 1712700000,
                        "updated_at": 1712700000,
                        "metadata": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourcemapListRequest"
              },
              "example": {
                "start_time": 1712000000000,
                "end_time": 1712700000000,
                "type": "browser",
                "services": [
                  "my-web-app"
                ],
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/list": {
      "post": {
        "operationId": "rum-error-ingestion-read-list",
        "summary": "List error ingestion rules",
        "description": "Return all error ingestion rules for a RUM application.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Error ingestion rules determine which errors are stored. Only errors matching at least one rule are ingested when rules are configured.\n- Filter structure is OR-of-ANDs: outer array is OR, inner arrays are AND.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-read-list",
          "metadata": {
            "sidebarTitle": "List error ingestion rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumErrorIngestionListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "rule_id": "9spXEVoMeZWujjz25yrgTe",
                        "rule_name": "Production errors only",
                        "description": "Only ingest errors from the production environment",
                        "filters": [
                          [
                            {
                              "key": "error.env",
                              "oper": "IN",
                              "vals": [
                                "production"
                              ]
                            }
                          ]
                        ],
                        "status": "enabled",
                        "created_at": 1773398452160,
                        "updated_at": 1773398452160
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionListRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/create": {
      "post": {
        "operationId": "rum-error-ingestion-write-create",
        "summary": "Create error ingestion rule",
        "description": "Create a new error ingestion rule for a RUM application.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Supported filter keys: `error.usr_id`, `error.usr_email`, `error.error_type`, `error.error_message`, `error.error_stack`, `error.view_url`, `error.env`, `error.version`, `error.service`, `error.browser_name`, `error.browser_version`, `error.fingerprint`, `error.is_crash`, and any key prefixed with `context.`.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-write-create",
          "metadata": {
            "sidebarTitle": "Create error ingestion rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumErrorIngestionCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "E3mYZA5GrZVZRyi2F3cWHc",
                    "rule_name": "Production errors only"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionCreateRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_name": "Production errors only",
                "description": "Only ingest errors from the production environment",
                "filters": [
                  [
                    {
                      "key": "error.env",
                      "oper": "IN",
                      "vals": [
                        "production"
                      ]
                    }
                  ]
                ]
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/update": {
      "post": {
        "operationId": "rum-error-ingestion-write-update",
        "summary": "Update error ingestion rule",
        "description": "Update the name, description, or filters of an error ingestion rule.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-write-update",
          "metadata": {
            "sidebarTitle": "Update error ingestion rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumErrorIngestionUpdateRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_id": "9spXEVoMeZWujjz25yrgTe",
                "rule_name": "Production errors only (updated)"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/enable": {
      "post": {
        "operationId": "rum-error-ingestion-write-enable",
        "summary": "Enable error ingestion rule",
        "description": "Enable an error ingestion rule.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-write-enable",
          "metadata": {
            "sidebarTitle": "Enable error ingestion rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIngestionRuleIDRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_id": "9spXEVoMeZWujjz25yrgTe"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/disable": {
      "post": {
        "operationId": "rum-error-ingestion-write-disable",
        "summary": "Disable error ingestion rule",
        "description": "Disable an error ingestion rule.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-write-disable",
          "metadata": {
            "sidebarTitle": "Disable error ingestion rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIngestionRuleIDRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_id": "9spXEVoMeZWujjz25yrgTe"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/delete": {
      "post": {
        "operationId": "rum-error-ingestion-write-delete",
        "summary": "Delete error ingestion rule",
        "description": "Delete an error ingestion rule.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/rum-error-ingestion-write-delete",
          "metadata": {
            "sidebarTitle": "Delete error ingestion rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIngestionRuleIDRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_id": "9spXEVoMeZWujjz25yrgTe"
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/history/list": {
      "post": {
        "operationId": "error-ingestion-rule-read-historylist",
        "summary": "List error ingestion rule history",
        "description": "Return the change history of error ingestion rules for a RUM application.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Each history entry is a versioned snapshot containing the complete rule set at the time of that change.\n- Use the `version` field from this list with the revert endpoint to roll back to a previous state.",
          "href": "/en/api-reference/rum/error-tracking/error-ingestion-rule-read-historylist",
          "metadata": {
            "sidebarTitle": "List error ingestion rule history"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumIngestionHistoryListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 3,
                    "has_next_page": false,
                    "items": [
                      {
                        "rules": [
                          {
                            "rule_id": "9spXEVoMeZWujjz25yrgTe",
                            "rule_name": "Production errors only",
                            "description": "Only ingest errors from the production environment",
                            "filters": [
                              [
                                {
                                  "key": "error.env",
                                  "oper": "IN",
                                  "vals": [
                                    "production"
                                  ]
                                }
                              ]
                            ],
                            "status": "enabled",
                            "created_at": 1773398452160,
                            "updated_at": 1773398452160
                          }
                        ],
                        "version": 2,
                        "updated_by": 2476444212131,
                        "updated_at": 1775972028557
                      },
                      {
                        "rules": [],
                        "version": 1,
                        "updated_by": 3790925372131,
                        "updated_at": 1773398452159
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIngestionHistoryListRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/rum/error-ingestion/rules/history/revert": {
      "post": {
        "operationId": "error-ingestion-rule-write-historyrevert",
        "summary": "Revert error ingestion rules to a history snapshot",
        "description": "Roll back error ingestion rules to the state captured in a specific history snapshot.",
        "tags": [
          "RUM/Error tracking"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- The revert replaces the current rule set with the snapshot identified by `version`. All rules added after that snapshot are removed.\n- A new history entry is created for the revert action itself.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/error-tracking/error-ingestion-rule-write-historyrevert",
          "metadata": {
            "sidebarTitle": "Revert error ingestion rules to a history snapshot"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EmptyResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumIngestionHistoryRevertRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "version": 1
              }
            }
          }
        }
      }
    },
    "/rum/session-replay/metadata": {
      "post": {
        "operationId": "sessionreplay-read-metadata",
        "summary": "Get session replay metadata",
        "description": "Return metadata for a session replay including the application, device, session timeline, views, and foreground periods.",
        "tags": [
          "RUM/Session replay"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- The session must have replay data (`session_has_replay: true`); otherwise returns `400 InvalidParameter`.\n- Pass `ts` (Unix epoch milliseconds) to anchor the retrieval at a specific point in the session timeline — useful for deep-linking into a replay at a known timestamp.\n- The response `session.start` and `session.end` are Unix epoch milliseconds.",
          "href": "/en/api-reference/rum/session-replay/sessionreplay-read-metadata",
          "metadata": {
            "sidebarTitle": "Get session replay metadata"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ReplayMetaItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "application": {
                      "id": "app-uuid-1234"
                    },
                    "device": {
                      "type": "desktop"
                    },
                    "foreground_periods": [],
                    "session": {
                      "end": 1712700360000,
                      "is_active": false,
                      "server_time_delta": 0,
                      "source": "browser",
                      "start": 1712700000000
                    },
                    "views": [
                      {
                        "source": "browser",
                        "view_id": "view-uuid-1234",
                        "name": "/dashboard",
                        "url": "https://app.example.com/dashboard",
                        "loading_type": "initial_load",
                        "container_source": "",
                        "container_view_id": "",
                        "server_time_delta": 0,
                        "end": 1712700360000,
                        "start": 1712700000000,
                        "is_active": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplayMetaRequest"
              },
              "example": {
                "session_id": "abc123def456789012345678901234567890"
              }
            }
          }
        }
      }
    },
    "/rum/session-replay/segments": {
      "post": {
        "operationId": "sessionreplay-read-segments",
        "summary": "List session replay segments",
        "description": "Return a page of replay segment data for a session, either as inline decompressed JSON or as presigned download URLs.",
        "tags": [
          "RUM/Session replay"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Default limit is 20 segments per page; maximum is 99.\n- Set `url_mode: true` to receive presigned S3 URLs instead of inline data. Recommended for large replays — reduces server-side memory pressure and lets the client download in parallel.\n- Pass `search_after_ctx` from the previous response to fetch the next page. The token is opaque; do not construct it manually.\n- Pass `view_id` to retrieve segments for a single view only.\n- Pass `ts` (milliseconds) to seek to the first full snapshot segment before a given timestamp — useful for replaying from a specific point without scanning from the beginning.",
          "href": "/en/api-reference/rum/session-replay/sessionreplay-read-segments",
          "metadata": {
            "sidebarTitle": "List session replay segments"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ReplaySegmentResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      "https://cdn.example.com/replay/segment1?X-Amz-Signature=abc",
                      "https://cdn.example.com/replay/segment2?X-Amz-Signature=def"
                    ],
                    "search_after_ctx": ""
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaySegmentRequest"
              },
              "example": {
                "session_id": "abc123def456789012345678901234567890",
                "url_mode": true,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/list": {
      "post": {
        "operationId": "rum-issue-preset-severity-rules-read-list",
        "summary": "List preset severity rules",
        "description": "Return preset severity rules in their evaluation order.",
        "tags": [
          "RUM/Issues"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Rules are evaluated by priority. Only matching rules affect an error's preset severity.",
          "href": "/en/api-reference/rum/issues/rum-issue-preset-severity-rules-read-list",
          "metadata": {
            "sidebarTitle": "List preset severity rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumPresetSeverityListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "rule_id": "PSR7BohkdtPivubEvE8o",
                        "rule_name": "Critical production errors",
                        "description": "Prioritize production errors",
                        "filters": [
                          [
                            {
                              "key": "error.env",
                              "oper": "IN",
                              "vals": [
                                "production"
                              ]
                            }
                          ]
                        ],
                        "severity": "Critical",
                        "priority": 1,
                        "status": "enabled",
                        "created_at": 1712700000,
                        "updated_at": 1712700000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumPresetSeverityListRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/create": {
      "post": {
        "operationId": "rum-issue-preset-severity-rules-write-create",
        "summary": "Create preset severity rule",
        "description": "Create a rule that assigns a severity to matching RUM errors.",
        "tags": [
          "RUM/Issues"
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Rules are evaluated by priority. Only matching rules affect an error's preset severity.\n- Every call is recorded in the account audit log. Don't put secrets in request fields.",
          "href": "/en/api-reference/rum/issues/rum-issue-preset-severity-rules-write-create",
          "metadata": {
            "sidebarTitle": "Create preset severity rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/RumPresetSeverityCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "PSR7BohkdtPivubEvE8o",
                    "rule_name": "Critical production errors",
                    "priority": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RumPresetSeverityCreateRequest"
              },
              "example": {
                "application_id": "WoyQQ3BohkdtPivubEvE8o",
                "rule_name": "Critical production errors",
                "description": "Prioritize production errors",
                "filters": [
                  [
                    {
                      "key": "error.env",
                      "oper": "IN",
                      "vals": [
                        "production"
                      ]
                    }
                  ]
                ],
                "severity": "Critical"
              }
            }
          }
        }
      }
    },
    "/rum/issue/preset-severity/rules/update": {
      "post": {
        "operationId": "rum-issue-preset-severity-rules-write-update",
        "summary": "Update preset severity rule",
        "description": "Update selected fields of a preset severity rule.",
        "tags": [
[...]
