{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty 开放 API",
    "description": "Flashduty AI SRE 平台的公开 HTTP API —— 技能、MCP 服务器（连接器）、A2A 智能体与会话。所有接口均使用 Flashduty 控制台签发的 `app_key` 查询参数进行认证。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI SRE/技能"
    },
    {
      "name": "AI SRE/MCP 服务器"
    },
    {
      "name": "AI SRE/A2A 智能体"
    },
    {
      "name": "AI SRE/会话"
    },
    {
      "name": "AI SRE/自动化"
    },
    {
      "name": "AI SRE/执行环境"
    },
    {
      "name": "AI SRE/制品"
    }
  ],
  "paths": {
    "/safari/a2a-agent/create": {
      "post": {
        "operationId": "remote-agent-write-create",
        "summary": "创建 A2A 智能体",
        "description": "通过智能体卡片 URL 注册新的 A2A 远程智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **Agent 管理**（`ai-sre`） |\n\n## 使用说明\n\n- `instructions` 为必填项；已弃用的 `description` 字段仍保留以兼容旧客户端，若两者同时传入则必须与 `instructions` 完全一致。\n- `card_url` 必须是 host 非空的绝对 `http`/`https` URL（可达性由执行环境验证，此处不检查）；`auth_type` 仅接受 `none`、`api_key` 或 `bearer`。\n- `environment_kind` 仅接受空字符串（自动）或 `byoc`；`cloud` 将被拒绝。`byoc` 需要 `environment_id`，且该 Runner 对调用者可见。\n- 创建到某个团队（`team_id > 0`）需要调用者真实属于该团队；只有账户 owner/admin 可以在账户级（`team_id=0`）创建。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-create",
          "metadata": {
            "sidebarTitle": "创建 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentCreateRequest"
              },
              "example": {
                "agent_name": "deploy-bot",
                "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                "card_url": "https://agents.example.com/deploy-bot/card",
                "auth_type": "bearer",
                "streaming": true,
                "team_id": 0,
                "environment_kind": "byoc",
                "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/delete": {
      "post": {
        "operationId": "remote-agent-write-delete",
        "summary": "删除 A2A 智能体",
        "description": "按 ID 软删除 A2A 智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **Agent 管理**（`ai-sre`） |\n\n## 使用说明\n\n- 删除为软删除；删除后该智能体不再出现在列表/详情中，也无法再被调度。\n- 需要对智能体所属团队具备编辑权限（`access.CanEdit`）。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-delete",
          "metadata": {
            "sidebarTitle": "删除 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/disable": {
      "post": {
        "operationId": "remote-agent-write-disable",
        "summary": "禁用 A2A 智能体",
        "description": "禁用已启用的 A2A 智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **Agent 管理**（`ai-sre`） |\n\n## 使用说明\n\n- 需要对智能体所属团队具备编辑权限（`access.CanEdit`）。\n- 若智能体已处于禁用状态，返回 `InvalidParameter`。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-disable",
          "metadata": {
            "sidebarTitle": "禁用 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/enable": {
      "post": {
        "operationId": "remote-agent-write-enable",
        "summary": "启用 A2A 智能体",
        "description": "启用已禁用的 A2A 智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **Agent 管理**（`ai-sre`） |\n\n## 使用说明\n\n- 需要对智能体所属团队具备编辑权限（`access.CanEdit`），仅可见不足以调用。\n- 若智能体已处于启用状态，返回 `InvalidParameter`。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-enable",
          "metadata": {
            "sidebarTitle": "启用 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/get": {
      "post": {
        "operationId": "remote-agent-read-get",
        "summary": "查看 A2A 智能体详情",
        "description": "按 ID 查看单个 A2A 智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `card_resolve_timeout` 与 `task_timeout` 目前恒为 `0` —— API 尚未提供设置方式。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-read-get",
          "metadata": {
            "sidebarTitle": "查看 A2A 智能体详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "environment_kind": "",
                    "environment_id": "",
                    "agent_name": "deploy-bot",
                    "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                    "card_url": "https://agents.example.com/deploy-bot/card",
                    "auth_type": "bearer",
                    "streaming": true,
                    "status": "enabled",
                    "agent_card_name": "Deploy Bot",
                    "agent_card_skills": [
                      "rollback",
                      "diff"
                    ],
                    "card_resolve_timeout": 0,
                    "task_timeout": 0,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/list": {
      "post": {
        "operationId": "remote-agent-read-list",
        "summary": "查询 A2A 智能体列表",
        "description": "分页查询调用者在账户与团队范围内可见的 A2A 智能体。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 分页使用 `offset`/`limit`（而非 `p`/`limit`）。\n- `scope=account` 仅返回账户级智能体；`scope=team` 仅返回调用者可见团队中的智能体；默认 `all` 两者兼含，受 `include_account` 影响。\n- `query` 会在智能体名称、指令、卡片 URL、智能体 ID 以及解析得到的卡片名称中执行不区分大小写的子串搜索。\n- `card_resolve_timeout` 与 `task_timeout` 目前恒为 `0` —— API 尚未提供设置方式。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-read-list",
          "metadata": {
            "sidebarTitle": "查询 A2A 智能体列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                        "account_id": 10023,
                        "team_id": 0,
                        "can_edit": true,
                        "environment_kind": "",
                        "environment_id": "",
                        "agent_name": "deploy-bot",
                        "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                        "card_url": "https://agents.example.com/deploy-bot/card",
                        "auth_type": "bearer",
                        "streaming": true,
                        "status": "enabled",
                        "agent_card_name": "Deploy Bot",
                        "agent_card_skills": [
                          "rollback",
                          "diff"
                        ],
                        "card_resolve_timeout": 0,
                        "task_timeout": 0,
                        "auth_mode": "shared",
                        "created_by": 80011,
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentListRequest"
              },
              "example": {
                "offset": 0,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/update": {
      "post": {
        "operationId": "remote-agent-write-update",
        "summary": "更新 A2A 智能体",
        "description": "对 A2A 智能体执行部分更新；省略字段表示不变。",
        "tags": [
          "zh"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **Agent 管理**（`ai-sre`） |\n\n## 使用说明\n\n- 任何字段变更前都需要对智能体*当前*所属团队具备编辑权限（`access.CanEdit`）。\n- 重新分配 `team_id` 需要对目标团队的权限；若团队变更且未同时传入新的环境绑定，则现有 Runner 绑定必须对调用者仍可选，否则更新将被拒绝。\n- 变更 `auth_mode` 时会始终一并重写 `secret_schema`；若变更 `auth_mode` 时未传入 `oauth_metadata`，则将其清空。\n- 对敏感的 `auth_config` 键（`api_key`、`token`、`client_secret`）回传挖码值或空字符串将保留已存储的密钥，而不会覆盖。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-update",
          "metadata": {
            "sidebarTitle": "更新 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentUpdateRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                "instructions": "Inspect deployment pipelines and propose rollbacks."
              }
            }
          }
        }
      }
    },
    "/safari/artifact/gallery/delete": {
      "post": {
        "operationId": "artifact-gallery-write-delete",
        "summary": "移除制品",
        "description": "将已发布制品从制品库中移除，但不会删除其源文件。",
        "tags": [
          "AI SRE/制品"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **制品归属权限** —— 该制品的创建者、账户管理员/所有者，或该制品所属团队的成员 |\n\n## 使用说明\n\n- “删除”仅表示将制品从制品库中移除 —— 底层的已展示文件及其字节数据不会被删除，仍保留在源会话中。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/artifacts/artifact-gallery-write-delete",
          "metadata": {
            "sidebarTitle": "移除制品"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GalleryDeleteRequest"
              },
              "example": {
                "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F"
              }
            }
          }
        }
      }
    },
    "/safari/artifact/gallery/get": {
      "post": {
        "operationId": "artifact-gallery-read-get",
        "summary": "查看制品详情",
        "description": "按 ID 查看单个已发布制品的元数据及其源文件信息。",
        "tags": [
          "AI SRE/制品"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 查看是账户级别的：账户内任意调用者均可查看任意已发布制品的详情，无论其团队范围如何；只有重命名或移除制品才会限制为该制品的归属者。\n",
          "href": "/zh/api-reference/ai-sre/artifacts/artifact-gallery-read-get",
          "metadata": {
            "sidebarTitle": "查看制品详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PublishedArtifactItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F",
                    "title": "Incident 4821 root-cause report",
                    "team_id": 5012,
                    "team_name": "Platform SRE",
                    "person_id": 80011,
                    "creator_name": "Alice Chen",
                    "is_mine": false,
                    "can_edit": true,
                    "session_id": "sess_6mWqZ2pK9nLcR3tY8uVb4D",
                    "file_id": "pf_4kR9wLpQ2nXeYbTc7Vd3M",
                    "name": "root-cause-report.html",
                    "size": 4821,
                    "content_type": "text/html",
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GalleryGetRequest"
              },
              "example": {
                "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F"
              }
            }
          }
        }
      }
    },
    "/safari/artifact/gallery/list": {
      "post": {
        "operationId": "artifact-gallery-read-list",
        "summary": "查询制品列表",
        "description": "分页查询调用者可见的已发布制品，支持按范围与标题筛选。",
        "tags": [
          "AI SRE/制品"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `scope` 取值为 `personal`（仅调用者本人的制品）、`team`（调用者所在团队的制品；账户管理员/所有者可见全部团队）或默认值 `all`；无法识别的取值将按 `all` 处理。\n- `limit` 默认为 20，且无论请求值为多少都会被硬性限制在 100 以内。\n- 每一项都会按调用者标注 `is_mine`/`can_edit`，并解析出 `team_name`/`creator_name`。\n",
          "href": "/zh/api-reference/ai-sre/artifacts/artifact-gallery-read-list",
          "metadata": {
            "sidebarTitle": "查询制品列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GalleryListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "artifact_id": "art_2kLpN8sQ7hWmYbVc4Rd2m",
                        "title": "Weekly SLO summary",
                        "team_id": 0,
                        "person_id": 80011,
                        "creator_name": "Alice Chen",
                        "is_mine": true,
                        "can_edit": true,
                        "session_id": "sess_3pXeYbTc7Vd3M4kR9wLpQ2",
                        "file_id": "pf_7hCz3F9uQ2wLmN4pXsRbY",
                        "name": "weekly-slo-summary.html",
                        "size": 3190,
                        "content_type": "text/html",
                        "created_at": 1717132800000,
                        "updated_at": 1717132800000
                      },
                      {
                        "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F",
                        "title": "Incident 4821 root-cause report",
                        "team_id": 5012,
                        "team_name": "Platform SRE",
                        "person_id": 80011,
                        "creator_name": "Alice Chen",
                        "is_mine": false,
                        "can_edit": true,
                        "session_id": "sess_6mWqZ2pK9nLcR3tY8uVb4D",
                        "file_id": "pf_4kR9wLpQ2nXeYbTc7Vd3M",
                        "name": "root-cause-report.html",
                        "size": 4821,
                        "content_type": "text/html",
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000
                      }
                    ],
                    "total": 2
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GalleryListRequest"
              },
              "example": {
                "scope": "all",
                "page": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/safari/artifact/gallery/publish-from-file": {
      "post": {
        "operationId": "artifact-gallery-write-publish",
        "summary": "从文件发布制品",
        "description": "将已存在的会话文件发布为制品库中的制品。",
        "tags": [
          "AI SRE/制品"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 发布新制品无需权限；覆盖已发布的文件则需要对已有记录拥有**制品归属权限**（创建者、账户管理员/所有者，或该记录所属团队的成员） |\n\n## 使用说明\n\n- `file_id` 必须引用一个已展示的文件（通常来自聊天中的文件卡片）；其扩展名必须是 `.html`、`.htm` 或 `.md`，且大小不超过 16 MiB。\n- 发布一个尚未发布的文件是账户级别的操作 —— 账户内任意持有该 `file_id` 的成员均可发布。若要覆盖同一会话与工作区路径下已发布的制品，则额外需要对已有记录拥有归属权限（创建者、账户管理员/所有者，或该记录所属团队的成员）。\n- 响应中的 `gallery_path` 是控制台路由 `/ai-sre/artifacts/<artifact_id>`，并非未经身份验证的公开 URL —— 查看该制品仍需完成身份验证。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/artifacts/artifact-gallery-write-publish",
          "metadata": {
            "sidebarTitle": "从文件发布制品"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/GalleryPublishFromFileResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F",
                    "title": "Incident 4821 root-cause report",
                    "gallery_path": "/ai-sre/artifacts/art_9uQ2wLmN4pXsRbY7hCz3F"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GalleryPublishFromFileRequest"
              },
              "example": {
                "file_id": "pf_4kR9wLpQ2nXeYbTc7Vd3M",
                "title": "Incident 4821 root-cause report"
              }
            }
          }
        }
      }
    },
    "/safari/artifact/gallery/update": {
      "post": {
        "operationId": "artifact-gallery-write-update",
        "summary": "重命名制品",
        "description": "重命名已发布制品的标题；该操作不可修改其他字段。",
        "tags": [
          "AI SRE/制品"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **制品归属权限** —— 该制品的创建者、账户管理员/所有者，或该制品所属团队的成员 |\n\n## 使用说明\n\n- `title` 是唯一可修改的字段，没有其他可编辑的元数据。\n- 去除首尾空白后为空的标题将返回 `InvalidParameter`。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/artifacts/artifact-gallery-write-update",
          "metadata": {
            "sidebarTitle": "重命名制品"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GalleryUpdateRequest"
              },
              "example": {
                "artifact_id": "art_9uQ2wLmN4pXsRbY7hCz3F",
                "title": "Incident 4821 — updated root-cause report"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/create": {
      "post": {
        "operationId": "automation-rule-write-create",
        "summary": "创建自动化规则",
        "description": "创建自动化规则，支持 schedule、HTTP POST 和 On-call 故障触发器。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；管理操作要求调用者可管理目标规则 |\n\n## 使用说明\n\n- 可以创建个人规则，也可以创建当前账户下任意团队的规则；`team_id` 创建后不可修改。\n- `cron_expr` 按 `timezone`（如提供）计算；未提供时依次回退到调用者的成员时区、账户时区，最后是 UTC。\n- `http_post_trigger_enabled=true` 会创建并启用 HTTP POST 触发器；响应中的 `http_post_token` 是仅在创建时返回的一次性值，请立即保存。\n- `oncall_incident_trigger_enabled=true` 时，`oncall_incident_channel_ids` 和 `oncall_incident_severities` 至少各需一项；匹配的故障会以 `trigger_kind=oncall_incident` 运行。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-write-create",
          "metadata": {
            "sidebarTitle": "创建自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleCreateRequest"
              },
              "example": {
                "name": "Weekly on-call review",
                "team_id": 123,
                "enabled": true,
                "cron_expr": "0 9 * * 1",
                "timezone": "Asia/Shanghai",
                "schedule_trigger_enabled": true,
                "prompt": "Summarize last week's alert noise and escalation load.",
                "http_post_trigger_enabled": true,
                "oncall_incident_trigger_enabled": true,
                "oncall_incident_channel_ids": [
                  456
                ],
                "oncall_incident_severities": [
                  "Critical",
                  "Warning"
                ]
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/delete": {
      "post": {
        "operationId": "automation-rule-write-delete",
        "summary": "删除自动化规则",
        "description": "删除一条自动化规则。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；管理操作要求调用者可管理目标规则 |\n\n## 使用说明\n\n- 删除规则会同时移除其 schedule、HTTP POST 和 On-call 故障触发器；被删除的 HTTP POST 触发器 token 会立即失效。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-write-delete",
          "metadata": {
            "sidebarTitle": "删除自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "成功时固定为 null。"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/get": {
      "post": {
        "operationId": "automation-rule-read-get",
        "summary": "查看自动化规则",
        "description": "按 ID 查看一条自动化规则。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者必须可管理目标规则 |\n\n## 使用说明\n\n- 管理权限指：个人规则仅限创建者；团队规则限账户管理员或规则所属团队成员。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-read-get",
          "metadata": {
            "sidebarTitle": "查看自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/list": {
      "post": {
        "operationId": "automation-rule-read-list",
        "summary": "列出自动化规则",
        "description": "列出当前调用者可见的自动化规则。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 有效 `app_key`；结果按调用者可见范围过滤 |\n\n## 使用说明\n\n- `all` 返回调用者自己的个人规则，以及调用者可访问团队的团队规则。\n- 账户管理员在列表中可见所有团队规则，但不可见他人的个人规则。\n- `team_ids` 只会收窄可见集合，不会扩大访问范围。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-read-list",
          "metadata": {
            "sidebarTitle": "列出自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "rules": [
                      {
                        "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                        "account_id": 10023,
                        "team_id": 123,
                        "owner_id": 80011,
                        "name": "Weekly on-call review",
                        "enabled": true,
                        "run_scope": "team",
                        "cron_expr": "0 9 * * 1",
                        "timezone": "Asia/Shanghai",
                        "prompt": "Summarize last week's alert noise and escalation load.",
                        "environment_kind": "",
                        "environment_id": "",
                        "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                        "schedule_trigger_enabled": true,
                        "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                        "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                        "http_post_trigger_enabled": true,
                        "can_edit": true,
                        "created_at": 1780367971228,
                        "updated_at": 1780367971228,
                        "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                        "schedule_next_fire_at_ms": 1780630800000,
                        "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                        "oncall_incident_trigger_enabled": true,
                        "oncall_incident_channel_ids": [
                          456
                        ],
                        "oncall_incident_severities": [
                          "Critical",
                          "Warning"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleListRequest"
              },
              "example": {
                "scope": "all",
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/run": {
      "post": {
        "operationId": "automation-rule-write-run",
        "summary": "运行自动化规则",
        "description": "立即手动运行一次自动化规则，不受其计划触发时间限制。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **100 次/分钟**；**5 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者必须可管理目标规则 |\n\n## 使用说明\n\n- 同一规则的手动运行限速为每分钟最多一次；在此窗口内的第二次调用会返回 `429`，`code` 为 `\"RequestTooFrequently\"`。\n- 只有已启用的规则才能手动运行；已禁用或配置无效的规则会在创建运行前以 `400` 错误未通过预检。\n- 调用在底层 Agent 会话启动后即返回，而非等待运行结束；运行会继续异步执行——可使用列出自动化运行历史查询完成状态。\n- 以此方式发起的运行，`trigger_kind` 固定为 `manual`，在运行历史中与 `schedule`、`http_post`、`oncall_incident` 区分开来。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-write-run",
          "metadata": {
            "sidebarTitle": "运行自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ManualRunRuleResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "trigger_kind": "manual",
                    "preflight": {
                      "ok": true,
                      "checks": [
                        "rule_loaded",
                        "actor_authorized",
                        "app_allowed",
                        "runtime_scope_resolved",
                        "rule_config_valid"
                      ],
                      "scope": "team",
                      "owner_id": 80011,
                      "team_id": 123,
                      "app_name": "ai-sre"
                    },
                    "run": {
                      "run_id": "trun_5oDvqiG64uur6sBNsTc4u",
                      "session_id": "sess_f8oDvqiG64uur6sBNsTc4u"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/update": {
      "post": {
        "operationId": "automation-rule-write-update",
        "summary": "更新自动化规则",
        "description": "更新自动化规则的可变字段，包括 HTTP POST 与 On-call 故障触发器配置。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；管理操作要求调用者可管理目标规则 |\n\n## 使用说明\n\n- 省略或传 `null` 的字段保持不变；`team_id` 不能修改为与当前值不同的值。\n- `cron_expr` 与 `timezone` 可以分别更新——只传其中一个时，另一个保持当前已存储的值。\n- `rotate_http_post_trigger_token=true` 会签发新的 webhook token，且仅在本次响应中返回。\n- 如需由 On-call 故障触发，传入 `oncall_incident_trigger_enabled`、`oncall_incident_channel_ids` 与 `oncall_incident_severities`；匹配事件会以 `trigger_kind=oncall_incident` 运行。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-rule-write-update",
          "metadata": {
            "sidebarTitle": "更新自动化规则"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleUpdateRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                "enabled": true,
                "cron_expr": "15 9 * * 1",
                "rotate_http_post_trigger_token": true,
                "oncall_incident_trigger_enabled": true,
                "oncall_incident_severities": [
                  "Critical",
                  "Warning"
                ],
                "oncall_incident_channel_ids": [
                  456
                ]
              }
            }
          }
        }
      }
    },
    "/safari/automation/run/list": {
      "post": {
        "operationId": "automation-run-read-list",
        "summary": "列出自动化运行历史",
        "description": "列出调用者可管理规则的运行历史。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者必须可管理目标规则 |\n\n## 使用说明\n\n- 仅当调用者可管理规则时才可查看运行历史：个人规则仅限创建者；团队规则限账户管理员或规则所属团队成员。\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-run-read-list",
          "metadata": {
            "sidebarTitle": "列出自动化运行历史"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRunListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "runs": [
                      {
                        "run_id": "trun_5oDvqiG64uur6sBNsTc4u",
                        "kind": "automation_rule",
                        "account_id": 10023,
                        "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                        "trigger_kind": "schedule",
                        "occurrence_key": "atrig_6aKp3wT9mQ2xVc8bR1nY7z:1780630800000",
                        "status": "succeeded",
                        "attempts": 1,
                        "started_at": 1780630800000,
                        "completed_at": 1780630923456,
                        "duration_ms": 123456,
                        "error_code": "",
                        "error_message": "",
                        "stats_json": {},
                        "result_json": {
                          "session_id": "sess_f8oDvqiG64uur6sBNsTc4u"
                        },
                        "created_at": 1780630800000,
                        "updated_at": 1780630923456
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRunListRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                "limit": 20,
                "trigger_kind": "schedule"
              }
            }
          }
        }
      }
    },
    "/safari/automation/template/list": {
      "post": {
        "operationId": "automation-template-read-list",
        "summary": "列出自动化模板",
        "description": "按语言列出自动化预设模板。",
        "tags": [
          "AI SRE/自动化"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个账户 **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 有效 `app_key`；结果按调用者可见范围过滤 |\n",
          "href": "/zh/api-reference/ai-sre/automations/automation-template-read-list",
          "metadata": {
            "sidebarTitle": "列出自动化模板"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationTemplateListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "templates": [
                      {
                        "name": "Weekly Insights",
                        "description": "Analyze incidents, alerts, response activity, notification load, and related changes from the past week.",
                        "icon": "chart-no-axes-combined",
                        "enabled": false,
                        "prompt": "Generate a weekly insights report. Analyze incidents, alerts, response activity, notification load, and related changes from the past week. Focus on what happened this week, which signals deserve attention, and which improvement actions are most valuable. Do not modify any Flashduty business state.\n"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationTemplateListRequest"
              },
              "example": {
                "locale": "en-US"
              }
            }
          }
        }
      }
    },
    "/safari/environment/cloud/create": {
      "post": {
        "operationId": "environment-cloud-write-create",
        "summary": "创建云执行环境模板",
        "description": "创建用于生成云端 Sandbox 的执行环境模板。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者须是账户所有者/管理员，或属于目标团队 |\n\n## 使用说明\n\n- 云执行环境模板不含连接 Token 或存活状态 —— 与自托管环境不同，它只是用于创建 Sandbox 的配置（出网策略、环境变量、安装脚本）。\n- 省略出网相关字段时使用安全默认值：`egress_mode=default`，仅允许全局默认白名单。\n- `include_default_list` 留空时默认为 `true`。\n- 账户级（`team_id=0`）创建仅限账户所有者/管理员；创建到某个团队下要求调用者属于该团队。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-cloud-write-create",
          "metadata": {
            "sidebarTitle": "创建云执行环境模板"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CloudEnvironmentResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "cloud_environment": {
                      "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1",
                      "name": "public-cloud-default",
                      "team_id": 1042,
                      "team_name": "Platform SRE",
                      "can_edit": true,
                      "egress_mode": "custom",
                      "allowed_domains": [
                        "api.github.com",
                        "*.internal.example.com"
                      ],
                      "include_default_list": true,
                      "env_vars": "API_KEY=sk-abc123xyz789\nGRAFANA_URL=https://grafana.internal.example.com",
                      "setup_script": "#!/bin/sh\napt-get update && apt-get install -y jq",
                      "created_at": 1720000000000,
                      "updated_at": 1720000000000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEnvironmentCreateRequest"
              },
              "example": {
                "name": "public-cloud-default",
                "team_id": 1042,
                "egress_mode": "custom",
                "allowed_domains": [
                  "api.github.com",
                  "*.internal.example.com"
                ],
                "include_default_list": true,
                "env_vars": "API_KEY=sk-abc123xyz789\nGRAFANA_URL=https://grafana.internal.example.com",
                "setup_script": "#!/bin/sh\napt-get update && apt-get install -y jq"
              }
            }
          }
        }
      }
    },
    "/safari/environment/cloud/delete": {
      "post": {
        "operationId": "environment-cloud-write-delete",
        "summary": "删除云执行环境模板",
        "description": "删除一个云执行环境模板。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者须可管理目标模板 |\n\n## 使用说明\n\n- 删除不做任何占用检查 —— 已基于该模板创建的 Sandbox 会保留其现有配置；绑定到该模板的会话在下一次发送消息时会回退到默认模板。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-cloud-write-delete",
          "metadata": {
            "sidebarTitle": "删除云执行环境模板"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CloudEnvironmentDeleteResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "success": true
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEnvironmentDeleteRequest"
              },
              "example": {
                "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1"
              }
            }
          }
        }
      }
    },
    "/safari/environment/cloud/get": {
      "post": {
        "operationId": "environment-cloud-read-get",
        "summary": "获取云执行环境模板",
        "description": "按 ID 获取云执行环境模板详情。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 有效 `app_key`；团队级模板仅对可管理该模板的调用者可见 |\n\n## 使用说明\n\n- 响应中没有 `token`/`install` 信息块 —— 云模板不含连接凭据，这一点与自托管 `get` 不同。\n- 账户级（`team_id=0`）模板对所有账户成员可见；团队级模板仅对可管理它的调用者可见（账户所有者/管理员，或该团队成员）。\n- 调用者若无法管理某个团队级模板，会收到与 ID 不存在时相同的\"未找到\"错误 —— 响应刻意不透露该模板是否存在。\n- 调用者无编辑权限时 `env_vars` 会被打码；`setup_script` 不会被打码。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-cloud-read-get",
          "metadata": {
            "sidebarTitle": "获取云执行环境模板"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CloudEnvironmentResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "cloud_environment": {
                      "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1",
                      "name": "public-cloud-default",
                      "team_id": 1042,
                      "team_name": "Platform SRE",
                      "can_edit": true,
                      "egress_mode": "custom",
                      "allowed_domains": [
                        "api.github.com",
                        "*.internal.example.com"
                      ],
                      "include_default_list": true,
                      "env_vars": "API_KEY=sk-abc123xyz789\nGRAFANA_URL=https://grafana.internal.example.com",
                      "setup_script": "#!/bin/sh\napt-get update && apt-get install -y jq",
                      "created_at": 1720000000000,
                      "updated_at": 1720000000000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEnvironmentGetRequest"
              },
              "example": {
                "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1"
              }
            }
          }
        }
      }
    },
    "/safari/environment/cloud/list": {
      "post": {
        "operationId": "environment-cloud-read-list",
        "summary": "查询云执行环境模板列表",
        "description": "分页查询调用者在账户与团队范围内可见的云执行环境模板。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 仅当设置了 `p`、`limit` 或 `query` 时才会分页；否则返回全部可见模板，不分页。\n- 调用者无编辑权限的行，其 `env_vars` 中形似凭证的键值会被打码（仅显示首尾各 4 位）；`setup_script` 不会被打码。\n- 该接口没有 `scope` 过滤参数（与自托管 `list` 不同）—— 仅能通过 `team_ids`/`include_account` 收窄可见集合。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-cloud-read-list",
          "metadata": {
            "sidebarTitle": "查询云执行环境模板列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/CloudEnvironmentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "cloud_environments": [
                      {
                        "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1",
                        "name": "public-cloud-default",
                        "team_id": 1042,
                        "team_name": "Platform SRE",
                        "can_edit": false,
                        "egress_mode": "custom",
                        "allowed_domains": [
                          "api.github.com",
                          "*.internal.example.com"
                        ],
                        "include_default_list": true,
                        "env_vars": "API_KEY=sk-a****z789\nGRAFANA_URL=https://grafana.internal.example.com",
                        "setup_script": "#!/bin/sh\napt-get update && apt-get install -y jq",
                        "created_at": 1720000000000,
                        "updated_at": 1720000000000
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEnvironmentListRequest"
              },
              "example": {
                "team_ids": [
                  1042
                ],
                "include_account": true,
                "p": 1,
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/safari/environment/cloud/update": {
      "post": {
        "operationId": "environment-cloud-write-update",
        "summary": "更新云执行环境模板",
        "description": "更新云执行环境模板的配置，包括出网策略、环境变量与安装脚本。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | 有效 `app_key`；调用者须可管理目标模板 |\n\n## 使用说明\n\n- `team_id`、`allowed_domains`、`include_default_list`、`env_vars`、`setup_script` 均遵循\"不传/null = 不修改\"的语义；向 `env_vars`/`setup_script` 传入空字符串可显式清空。\n- 将 `team_id` 改为其他团队时，调用者也必须属于（或管理）目标团队。\n- 成功时响应体为空 —— 请通过 `get` 重新获取以查看更新后的内容。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-cloud-write-update",
          "metadata": {
            "sidebarTitle": "更新云执行环境模板"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "成功时恒为 null。"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloudEnvironmentUpdateRequest"
              },
              "example": {
                "cloud_environment_id": "cenv_7fH2kLpQ3xYbVc4Wd9mN1",
                "name": "public-cloud-default",
                "egress_mode": "allow_all",
                "env_vars": "API_KEY=sk-newvalue001",
                "setup_script": ""
              }
            }
          }
        }
      }
    },
    "/safari/environment/list": {
      "post": {
        "operationId": "environment-read-list",
        "summary": "查询执行环境列表",
        "description": "自托管执行环境列表的旧版别名，行为完全一致。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "<Warning>\n**已废弃。** 请改用 [`environment-self-hosted-read-list`](/zh/api-reference/ai-sre/environments/environment-self-hosted-read-list) —— 两者指向完全相同的处理逻辑，行为一致。\n</Warning>\n\n## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | **环境查看**（`ai-sre`） |\n\n## 使用说明\n\n- 该路由早于自托管/云拆分而存在，仅返回自托管（BYOC）环境 —— 与 `self-hosted/list` 返回的集合相同。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-read-list",
          "metadata": {
            "sidebarTitle": "查询执行环境列表"
          }
        },
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EnvironmentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "environments": [
                      {
                        "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m",
                        "name": "prod-us-west-runner-1",
                        "labels": [
                          "prod",
                          "us-west"
                        ],
                        "status": "online",
                        "team_id": 1042,
                        "can_edit": true,
                        "version": "0.0.46",
                        "os": "linux",
                        "arch": "amd64",
                        "hostname": "ip-10-0-1-23",
                        "ip_address": "10.0.1.23",
                        "created_at": 1720000000000
                      }
                    ],
                    "total": 1,
                    "latest_version": "0.0.46"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "scope": "all",
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/environment/self-hosted/create": {
      "post": {
        "operationId": "environment-self-hosted-write-create",
        "summary": "创建自托管执行环境",
        "description": "注册一个新的自托管（BYOC）Runner，并签发一次性连接 Token。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **环境管理**（`ai-sre`） |\n\n## 使用说明\n\n- 明文 `token` 仅在此响应中返回一次，请立即保存。之后可通过 `get` 获取解密后的副本用于 Runner 重新连接。\n- `environment_name` 可以省略；未命名的环境会在 Runner 首次心跳时根据其主机名自动命名。\n- 账户级（`team_id=0`）创建仅限账户所有者/管理员；创建到某个团队下要求调用者属于该团队（所有者/管理员可面向账户内任意团队创建）。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-self-hosted-write-create",
          "metadata": {
            "sidebarTitle": "创建自托管执行环境"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EnvironmentCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m",
                    "environment_name": "prod-us-west-runner-1",
                    "token": "ent_9f3ac72e8b1d4e6a9c0f5b7e2d1a3c045230",
                    "labels": [
                      "prod",
                      "us-west"
                    ],
                    "status": "pending",
                    "created_at": 1720000000000,
                    "install": {
                      "install_script_url": "https://static.flashcat.cloud/p/install.sh",
                      "connect_url": "wss://api.flashcat.cloud/safari/environment/ws",
                      "latest_version": "0.0.46"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentCreateRequest"
              },
              "example": {
                "environment_name": "prod-us-west-runner-1",
                "team_id": 1042,
                "labels": [
                  "prod",
                  "us-west"
                ]
              }
            }
          }
        }
      }
    },
    "/safari/environment/self-hosted/delete": {
      "post": {
        "operationId": "environment-self-hosted-write-delete",
        "summary": "删除自托管执行环境",
        "description": "删除自托管（BYOC）Runner 环境，断开连接并强制解绑关联资源。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **300 次/分钟**；**20 次/秒** |\n| 权限要求 | **环境管理**（`ai-sre`） |\n\n## 使用说明\n\n- 绑定到该环境的 MCP 服务器或 A2A 智能体会被强制解绑，而不会阻止删除；响应通过 `mcp_unbound`/`a2a_unbound` 报告解绑数量。\n- 如果该 Runner 当前处于连接状态，删除操作也会断开其实时 WebSocket 连接。\n- 每次调用都会记录到账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-self-hosted-write-delete",
          "metadata": {
            "sidebarTitle": "删除自托管执行环境"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EnvironmentDeleteResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "success": true,
                    "mcp_unbound": 2,
                    "a2a_unbound": 0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentDeleteRequest"
              },
              "example": {
                "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m"
              }
            }
          }
        }
      }
    },
    "/safari/environment/self-hosted/get": {
      "post": {
        "operationId": "environment-self-hosted-read-get",
        "summary": "获取自托管执行环境",
        "description": "获取自托管（BYOC）Runner 环境详情，含解密后的连接 Token。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 与 `list` 不同，该响应会以明文返回实时连接 `token`（从存储中解密），供已有 Runner 安装重新连接使用。\n- 该调用不做团队成员校验：任何知道 `environment_id` 的账户成员都能获取其 Token，即便该环境属于自己不所属的团队。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-self-hosted-read-get",
          "metadata": {
            "sidebarTitle": "获取自托管执行环境"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EnvironmentGetResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "environment": {
                      "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m",
                      "name": "prod-us-west-runner-1",
                      "labels": [
                        "prod",
                        "us-west"
                      ],
                      "status": "online",
                      "team_id": 1042,
                      "can_edit": true,
                      "version": "0.0.46",
                      "os": "linux",
                      "arch": "amd64",
                      "hostname": "ip-10-0-1-23",
                      "ip_address": "10.0.1.23",
                      "created_at": 1720000000000
                    },
                    "token": "ent_9f3ac72e8b1d4e6a9c0f5b7e2d1a3c045230",
                    "install": {
                      "install_script_url": "https://static.flashcat.cloud/p/install.sh",
                      "connect_url": "wss://api.flashcat.cloud/safari/environment/ws",
                      "latest_version": "0.0.46"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentGetRequest"
              },
              "example": {
                "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m"
              }
            }
          }
        }
      }
    },
    "/safari/environment/self-hosted/list": {
      "post": {
        "operationId": "environment-self-hosted-read-list",
        "summary": "查询自托管执行环境列表",
        "description": "分页查询调用者在账户与团队范围内可见的自托管（BYOC）Runner 环境。",
        "tags": [
          "AI SRE/执行环境"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 仅当设置了 `p`、`limit` 或 `query` 时才会分页；否则返回全部可见环境，不分页。\n- `status` 反映实时连接状态（`pending`/`online`/`offline`），通过 Redis 存活标记跨节点解析，而非直接读取滞后的数据库字段。\n",
          "href": "/zh/api-reference/ai-sre/environments/environment-self-hosted-read-list",
          "metadata": {
            "sidebarTitle": "查询自托管执行环境列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/EnvironmentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "environments": [
                      {
                        "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m",
                        "name": "prod-us-west-runner-1",
                        "labels": [
                          "prod",
                          "us-west"
                        ],
                        "status": "online",
                        "team_id": 1042,
                        "can_edit": true,
                        "version": "0.0.46",
                        "os": "linux",
                        "arch": "amd64",
                        "hostname": "ip-10-0-1-23",
                        "ip_address": "10.0.1.23",
                        "created_at": 1720000000000
                      }
                    ],
                    "total": 1,
                    "latest_version": "0.0.46"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "scope": "all",
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/environment/self-hosted/update": {
      "post": {
[...]
