{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty Open API",
    "description": "Public HTTP API for the Flashduty AI SRE platform — skills, MCP servers (connectors), A2A agents, and sessions. Every operation is authenticated with an `app_key` query parameter issued from the Flashduty console.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty Open API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI SRE/Skills",
      "description": "AI SRE agent skill management."
    },
    {
      "name": "AI SRE/MCP servers",
      "description": "MCP (Model Context Protocol) server management."
    },
    {
      "name": "AI SRE/A2A agents",
      "description": "A2A (agent-to-agent) remote agent management."
    },
    {
      "name": "AI SRE/Sessions",
      "description": "AI SRE agent session history — list, inspect, and export transcripts."
    },
    {
      "name": "AI SRE/Automations"
    },
    {
      "name": "AI SRE/Knowledge"
    }
  ],
  "paths": {
    "/safari/a2a-agent/create": {
      "post": {
        "operationId": "remote-agent-write-create",
        "summary": "Create A2A agent",
        "description": "Register a new A2A remote agent from its agent-card URL.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Agent Manage** (`ai-sre`) |\n\n## Usage\n\n- `instructions` is required; a deprecated `description` field is still accepted for legacy clients and, if both are sent, must exactly match `instructions`.\n- `card_url` must be an absolute `http`/`https` URL with a non-empty host (reachability is enforced by the execution environment, not here); `auth_type` accepts only `none`, `api_key`, or `bearer`.\n- `environment_kind` accepts only empty (automatic) or `byoc`; `cloud` is rejected. `byoc` requires `environment_id`, and the runner must be visible to the caller.\n- Creating into a team (`team_id > 0`) requires the caller to actually belong to that team; only the account owner/admin may create at account scope (`team_id=0`).\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-write-create",
          "metadata": {
            "sidebarTitle": "Create A2A agent"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentCreateRequest"
              },
              "example": {
                "agent_name": "deploy-bot",
                "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                "card_url": "https://agents.example.com/deploy-bot/card",
                "auth_type": "bearer",
                "streaming": true,
                "team_id": 0,
                "environment_kind": "byoc",
                "environment_id": "env_8s7Hn2kLpQ3xYbVc4Wd2m"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/delete": {
      "post": {
        "operationId": "remote-agent-write-delete",
        "summary": "Delete A2A agent",
        "description": "Soft-delete an A2A agent by ID.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Agent Manage** (`ai-sre`) |\n\n## Usage\n\n- Delete is a soft delete; the agent stops appearing in list/get and can no longer be dispatched once removed.\n- Requires edit permission (`access.CanEdit`) on the agent's team.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-write-delete",
          "metadata": {
            "sidebarTitle": "Delete A2A agent"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/disable": {
      "post": {
        "operationId": "remote-agent-write-disable",
        "summary": "Disable A2A agent",
        "description": "Disable an enabled A2A agent.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Agent Manage** (`ai-sre`) |\n\n## Usage\n\n- Requires edit permission (`access.CanEdit`) on the agent's team.\n- Returns `InvalidParameter` if the agent is already disabled.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-write-disable",
          "metadata": {
            "sidebarTitle": "Disable A2A agent"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/enable": {
      "post": {
        "operationId": "remote-agent-write-enable",
        "summary": "Enable A2A agent",
        "description": "Enable a disabled A2A agent.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Agent Manage** (`ai-sre`) |\n\n## Usage\n\n- Requires edit permission (`access.CanEdit`) on the agent's team, not just visibility into it.\n- Returns `InvalidParameter` if the agent is already enabled.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-write-enable",
          "metadata": {
            "sidebarTitle": "Enable A2A agent"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/get": {
      "post": {
        "operationId": "remote-agent-read-get",
        "summary": "Get A2A agent detail",
        "description": "Get one A2A agent by ID.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- `card_resolve_timeout` and `task_timeout` are always `0` today — the API does not yet expose a way to set them.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-read-get",
          "metadata": {
            "sidebarTitle": "Get A2A agent detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "environment_kind": "",
                    "environment_id": "",
                    "agent_name": "deploy-bot",
                    "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                    "card_url": "https://agents.example.com/deploy-bot/card",
                    "auth_type": "bearer",
                    "streaming": true,
                    "status": "enabled",
                    "agent_card_name": "Deploy Bot",
                    "agent_card_skills": [
                      "rollback",
                      "diff"
                    ],
                    "card_resolve_timeout": 0,
                    "task_timeout": 0,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/list": {
      "post": {
        "operationId": "remote-agent-read-list",
        "summary": "List A2A agents",
        "description": "List A2A agents visible to the caller across account and team scopes, with pagination.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Pagination uses `offset`/`limit` (not `p`/`limit`).\n- `scope=account` restricts to account-scoped agents; `scope=team` restricts to the caller's visible teams; the default `all` combines both, subject to `include_account`.\n- `query` performs a case-insensitive substring search across agent name, instructions, card URL, agent ID, and the resolved card name.\n- `card_resolve_timeout` and `task_timeout` are always `0` today — the API does not yet expose a way to set them.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-read-list",
          "metadata": {
            "sidebarTitle": "List A2A agents"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                        "account_id": 10023,
                        "team_id": 0,
                        "can_edit": true,
                        "environment_kind": "",
                        "environment_id": "",
                        "agent_name": "deploy-bot",
                        "instructions": "Inspect deployment pipelines and propose rollbacks when a canary fails health checks.",
                        "card_url": "https://agents.example.com/deploy-bot/card",
                        "auth_type": "bearer",
                        "streaming": true,
                        "status": "enabled",
                        "agent_card_name": "Deploy Bot",
                        "agent_card_skills": [
                          "rollback",
                          "diff"
                        ],
                        "card_resolve_timeout": 0,
                        "task_timeout": 0,
                        "auth_mode": "shared",
                        "created_by": 80011,
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentListRequest"
              },
              "example": {
                "offset": 0,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/update": {
      "post": {
        "operationId": "remote-agent-write-update",
        "summary": "Update A2A agent",
        "description": "Apply a partial update to an A2A agent. Omit a field to leave it unchanged.",
        "tags": [
          "AI SRE/A2A agents"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Agent Manage** (`ai-sre`) |\n\n## Usage\n\n- Requires edit permission (`access.CanEdit`) on the agent's *current* team before any field may change.\n- Reassigning `team_id` requires rights on the destination team; if the team changes without also sending a new environment binding, the existing runner binding must remain selectable by the caller or the update is rejected.\n- Changing `auth_mode` always rewrites `secret_schema` together with it; omitting `oauth_metadata` alongside a new `auth_mode` clears it to empty.\n- Sending back a masked or empty value for a sensitive `auth_config` key (`api_key`, `token`, `client_secret`) keeps the stored secret instead of overwriting it.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/a2a-agents/remote-agent-write-update",
          "metadata": {
            "sidebarTitle": "Update A2A agent"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentUpdateRequest"
              },
              "example": {
                "agent_id": "a2a_6mWqZ2pK9nLcR3tY8uVb4D",
                "instructions": "Inspect deployment pipelines and propose rollbacks."
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/create": {
      "post": {
        "operationId": "automation-rule-write-create",
        "summary": "Create Automation rule",
        "description": "Create an Automation rule with schedule, HTTP POST, and On-call incident triggers.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | Valid `app_key`; management operations require the caller to manage the target rule |\n\n## Usage\n\n- A caller may create personal rules and rules for any team in the current account; `team_id` is immutable after creation.\n- `cron_expr` is evaluated in `timezone` if provided, else the caller's member timezone, else the account timezone, else the server default (Asia/Shanghai).\n- `http_post_trigger_enabled=true` creates and enables an HTTP POST trigger; the response's `http_post_token` is a one-time value returned only on creation — save it immediately.\n- `oncall_incident_trigger_enabled=true` requires at least one `oncall_incident_channel_ids` entry and one `oncall_incident_severities` value; matching incidents run with `trigger_kind=oncall_incident`.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-write-create",
          "metadata": {
            "sidebarTitle": "Create Automation rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleCreateRequest"
              },
              "example": {
                "name": "Weekly on-call review",
                "team_id": 123,
                "enabled": true,
                "cron_expr": "0 9 * * 1",
                "timezone": "Asia/Shanghai",
                "schedule_trigger_enabled": true,
                "prompt": "Summarize last week's alert noise and escalation load.",
                "http_post_trigger_enabled": true,
                "oncall_incident_trigger_enabled": true,
                "oncall_incident_channel_ids": [
                  456
                ],
                "oncall_incident_severities": [
                  "Critical",
                  "Warning"
                ]
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/delete": {
      "post": {
        "operationId": "automation-rule-write-delete",
        "summary": "Delete Automation rule",
        "description": "Delete an Automation rule.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | Valid `app_key`; management operations require the caller to manage the target rule |\n\n## Usage\n\n- Deleting a rule also removes its schedule, HTTP POST, and On-call incident triggers; a deleted HTTP POST trigger's token stops working immediately.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-write-delete",
          "metadata": {
            "sidebarTitle": "Delete Automation rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/get": {
      "post": {
        "operationId": "automation-rule-read-get",
        "summary": "Get Automation rule",
        "description": "Get one Automation rule by ID.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | Valid `app_key`; caller must manage the target rule |\n\n## Usage\n\n- Manage rights mean the personal rule owner; for team rules, an account admin or a member of the rule's team.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-read-get",
          "metadata": {
            "sidebarTitle": "Get Automation rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/list": {
      "post": {
        "operationId": "automation-rule-read-list",
        "summary": "List Automation rules",
        "description": "List Automation rules visible to the caller.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | Valid `app_key`; results are filtered to the caller's visible scope |\n\n## Usage\n\n- `all` returns your personal rules plus team rules you can access.\n- Account admins see all team rules in list results, but not other users' personal rules.\n- `team_ids` narrows the visible set and never expands access.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-read-list",
          "metadata": {
            "sidebarTitle": "List Automation rules"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "rules": [
                      {
                        "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                        "account_id": 10023,
                        "team_id": 123,
                        "owner_id": 80011,
                        "name": "Weekly on-call review",
                        "enabled": true,
                        "run_scope": "team",
                        "cron_expr": "0 9 * * 1",
                        "timezone": "Asia/Shanghai",
                        "prompt": "Summarize last week's alert noise and escalation load.",
                        "environment_kind": "",
                        "environment_id": "",
                        "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                        "schedule_trigger_enabled": true,
                        "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                        "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                        "http_post_trigger_enabled": true,
                        "can_edit": true,
                        "created_at": 1780367971228,
                        "updated_at": 1780367971228,
                        "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                        "schedule_next_fire_at_ms": 1780630800000,
                        "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                        "oncall_incident_trigger_enabled": true,
                        "oncall_incident_channel_ids": [
                          456
                        ],
                        "oncall_incident_severities": [
                          "Critical",
                          "Warning"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleListRequest"
              },
              "example": {
                "scope": "all",
                "limit": 20
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/run": {
      "post": {
        "operationId": "automation-rule-write-run",
        "summary": "Run Automation rule",
        "description": "Manually run an Automation rule immediately, outside its schedule.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **100 requests/minute**; **5 requests/second** per account |\n| Permissions | Valid `app_key`; caller must manage the target rule |\n\n## Usage\n\n- Rate-limited to at most once per minute per rule; a second call within that window returns `429` with `code: \"RequestTooFrequently\"`.\n- Only enabled rules can run manually; a disabled or misconfigured rule fails preflight with a `400` error before any run is created.\n- The call returns once the underlying agent session starts, not once the run finishes; the run continues asynchronously — use List Automation runs to check completion status.\n- `trigger_kind` is always `manual` for runs started this way, distinguishing them from `schedule`, `http_post`, and `oncall_incident` runs in run history.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-write-run",
          "metadata": {
            "sidebarTitle": "Run Automation rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ManualRunRuleResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "trigger_kind": "manual",
                    "preflight": {
                      "ok": true,
                      "checks": [
                        "rule_loaded",
                        "actor_authorized",
                        "app_allowed",
                        "runtime_scope_resolved",
                        "rule_config_valid"
                      ],
                      "scope": "team",
                      "owner_id": 80011,
                      "team_id": 123,
                      "app_name": "ai-sre"
                    },
                    "run": {
                      "run_id": "trun_5oDvqiG64uur6sBNsTc4u",
                      "session_id": "sess_f8oDvqiG64uur6sBNsTc4u"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleIDRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b"
              }
            }
          }
        }
      }
    },
    "/safari/automation/rule/update": {
      "post": {
        "operationId": "automation-rule-write-update",
        "summary": "Update Automation rule",
        "description": "Update mutable Automation rule fields, including HTTP POST and On-call incident trigger settings.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | Valid `app_key`; management operations require the caller to manage the target rule |\n\n## Usage\n\n- Omitted or `null` fields are left unchanged; `team_id` cannot be changed from its current value.\n- `cron_expr` and `timezone` can be updated independently — sending only one keeps the other at its current stored value.\n- `rotate_http_post_trigger_token=true` issues a fresh webhook token, returned only in this response.\n- To trigger from On-call incidents, send `oncall_incident_trigger_enabled`, `oncall_incident_channel_ids`, and `oncall_incident_severities`; matching events run with `trigger_kind=oncall_incident`.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-rule-write-update",
          "metadata": {
            "sidebarTitle": "Update Automation rule"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRuleItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                    "account_id": 10023,
                    "team_id": 123,
                    "owner_id": 80011,
                    "name": "Weekly on-call review",
                    "enabled": true,
                    "run_scope": "team",
                    "cron_expr": "0 9 * * 1",
                    "timezone": "Asia/Shanghai",
                    "prompt": "Summarize last week's alert noise and escalation load.",
                    "environment_kind": "",
                    "environment_id": "",
                    "schedule_trigger_id": "atrig_6aKp3wT9mQ2xVc8bR1nY7z",
                    "schedule_trigger_enabled": true,
                    "http_post_trigger_id": "atrig_2bLq4xT8mP1sWd9cN3rF6y",
                    "http_post_trigger_url": "/safari/automation/triggers/atrig_2bLq4xT8mP1sWd9cN3rF6y/fire",
                    "http_post_trigger_enabled": true,
                    "can_edit": true,
                    "created_at": 1780367971228,
                    "updated_at": 1780367971228,
                    "http_post_token": "sat_yQ9p8V7n6M5k4J3h2G1f0E9d8C7b6A5z4Y3x2W1v0U",
                    "schedule_next_fire_at_ms": 1780630800000,
                    "oncall_incident_trigger_id": "atrig_9cVb2mN7qKs4dEa8T1rY5p",
                    "oncall_incident_trigger_enabled": true,
                    "oncall_incident_channel_ids": [
                      456
                    ],
                    "oncall_incident_severities": [
                      "Critical",
                      "Warning"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRuleUpdateRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                "enabled": true,
                "cron_expr": "15 9 * * 1",
                "rotate_http_post_trigger_token": true,
                "oncall_incident_trigger_enabled": true,
                "oncall_incident_severities": [
                  "Critical",
                  "Warning"
                ],
                "oncall_incident_channel_ids": [
                  456
                ]
              }
            }
          }
        }
      }
    },
    "/safari/automation/run/list": {
      "post": {
        "operationId": "automation-run-read-list",
        "summary": "List Automation runs",
        "description": "List run history for a rule the caller can manage.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | Valid `app_key`; caller must manage the target rule |\n\n## Usage\n\n- Run history is visible only when the caller can manage the rule: the personal rule owner; for team rules, an account admin or a member of the rule's team.\n",
          "href": "/en/api-reference/ai-sre/automations/automation-run-read-list",
          "metadata": {
            "sidebarTitle": "List Automation runs"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationRunListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "runs": [
                      {
                        "run_id": "trun_5oDvqiG64uur6sBNsTc4u",
                        "kind": "automation_rule",
                        "account_id": 10023,
                        "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                        "trigger_kind": "schedule",
                        "occurrence_key": "atrig_6aKp3wT9mQ2xVc8bR1nY7z:1780630800000",
                        "status": "succeeded",
                        "attempts": 1,
                        "started_at": 1780630800000,
                        "completed_at": 1780630923456,
                        "duration_ms": 123456,
                        "error_code": "",
                        "error_message": "",
                        "stats_json": {},
                        "result_json": {
                          "session_id": "sess_f8oDvqiG64uur6sBNsTc4u"
                        },
                        "created_at": 1780630800000,
                        "updated_at": 1780630923456
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationRunListRequest"
              },
              "example": {
                "rule_id": "arule_7NnLzY2Qp8xS4kUaV3mR6b",
                "limit": 20,
                "trigger_kind": "schedule"
              }
            }
          }
        }
      }
    },
    "/safari/automation/template/list": {
      "post": {
        "operationId": "automation-template-read-list",
        "summary": "List Automation templates",
        "description": "List preset Automation templates for the requested locale.",
        "tags": [
          "AI SRE/Automations"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | Valid `app_key`; results are filtered to the caller's visible scope |\n",
          "href": "/en/api-reference/ai-sre/automations/automation-template-read-list",
          "metadata": {
            "sidebarTitle": "List Automation templates"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AutomationTemplateListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "templates": [
                      {
                        "name": "Weekly Insights",
                        "description": "Analyze incidents, alerts, response activity, notification load, and related changes from the past week.",
                        "icon": "chart-no-axes-combined",
                        "enabled": false,
                        "prompt": "Generate a weekly insights report. Analyze incidents, alerts, response activity, notification load, and related changes from the past week. Focus on what happened this week, which signals deserve attention, and which improvement actions are most valuable. Do not modify any Flashduty business state.\n"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutomationTemplateListRequest"
              },
              "example": {
                "locale": "en-US"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/create": {
      "post": {
        "operationId": "mcp-write-server-create",
        "summary": "Create MCP server",
        "description": "Register a new MCP server (connector) on the account.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **MCP Manage** (`ai-sre`) |\n\n## Usage\n\n- `command`/`args`/`env` apply to `stdio`; `url`/`headers` apply to `sse`/`streamable-http`.\n- Server name must start with a letter and contain only letters, digits, `-`, or `_`, and is unique within the account (case-insensitive); violations return InvalidParameter.\n- `environment_kind` accepts only `byoc` (with `environment_id`) or empty for automatic selection — `cloud` cannot be bound directly to an MCP server.\n- `per_user_secret` auth mode requires `secret_schema` to be valid JSON with a non-empty `header_name`.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-write-server-create",
          "metadata": {
            "sidebarTitle": "Create MCP server"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "environment_kind": "",
                    "environment_id": "",
                    "server_name": "prometheus",
                    "description": "Query Prometheus metrics and alerts.",
                    "transport": "streamable-http",
                    "url": "https://mcp.example.com/prometheus",
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 60,
                    "tool_count": 2,
                    "tools": [
                      {
                        "name": "query",
                        "description": "Run a PromQL instant query."
                      },
                      {
                        "name": "query_range",
                        "description": "Run a PromQL range query."
                      }
                    ],
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerCreateRequest"
              },
              "example": {
                "server_name": "prometheus",
                "description": "Query Prometheus metrics and alerts.",
                "transport": "streamable-http",
                "url": "https://mcp.example.com/prometheus",
                "status": "enabled"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/delete": {
      "post": {
        "operationId": "mcp-write-server-delete",
        "summary": "Delete MCP server",
        "description": "Delete an MCP server by ID.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **MCP Manage** (`ai-sre`) |\n\n## Usage\n\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-write-server-delete",
          "metadata": {
            "sidebarTitle": "Delete MCP server"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerDeleteRequest"
              },
              "example": {
                "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/disable": {
      "post": {
        "operationId": "mcp-write-server-disable",
        "summary": "Disable MCP server",
        "description": "Disable an enabled MCP server.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **MCP Manage** (`ai-sre`) |\n\n## Usage\n\n- Disabling an already-disabled server returns InvalidParameter instead of a silent no-op.\n- Requires edit permission on the server's current team: account-scope servers are owner/admin only; team-scope servers require the caller to belong to that team (or be owner/admin).\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-write-server-disable",
          "metadata": {
            "sidebarTitle": "Disable MCP server"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerStatusRequest"
              },
              "example": {
                "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/enable": {
      "post": {
        "operationId": "mcp-write-server-enable",
        "summary": "Enable MCP server",
        "description": "Enable a disabled MCP server.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **MCP Manage** (`ai-sre`) |\n\n## Usage\n\n- Enabling an already-enabled server returns InvalidParameter instead of a silent no-op.\n- Requires edit permission on the server's current team: account-scope servers are owner/admin only; team-scope servers require the caller to belong to that team (or be owner/admin).\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-write-server-enable",
          "metadata": {
            "sidebarTitle": "Enable MCP server"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerStatusRequest"
              },
              "example": {
                "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/get": {
      "post": {
        "operationId": "mcp-read-server-get",
        "summary": "Get MCP server detail",
        "description": "Get one MCP server and run a live probe of its tool list.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- The detail call live-probes tools; on failure `list_error` is set and the request still succeeds.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-read-server-get",
          "metadata": {
            "sidebarTitle": "Get MCP server detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "environment_kind": "",
                    "environment_id": "",
                    "server_name": "prometheus",
                    "description": "Query Prometheus metrics and alerts.",
                    "transport": "streamable-http",
                    "url": "https://mcp.example.com/prometheus",
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 60,
                    "tool_count": 2,
                    "tools": [
                      {
                        "name": "query",
                        "description": "Run a PromQL instant query."
                      },
                      {
                        "name": "query_range",
                        "description": "Run a PromQL range query."
                      }
                    ],
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerGetRequest"
              },
              "example": {
                "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/list": {
      "post": {
        "operationId": "mcp-read-server-list",
        "summary": "List MCP servers",
        "description": "List MCP servers visible to the caller across account and team scopes, with pagination.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- The live tool list is not included; fetch a single server to probe its tools.\n- `query` performs a case-insensitive substring search across name, description, AI-generated description, server ID, transport, URL, command, and source template name.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-read-server-list",
          "metadata": {
            "sidebarTitle": "List MCP servers"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "servers": [
                      {
                        "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1",
                        "account_id": 10023,
                        "team_id": 0,
                        "can_edit": true,
                        "environment_kind": "",
                        "environment_id": "",
                        "server_name": "prometheus",
                        "description": "Query Prometheus metrics and alerts.",
                        "transport": "streamable-http",
                        "url": "https://mcp.example.com/prometheus",
                        "status": "enabled",
                        "connect_timeout": 10,
                        "call_timeout": 60,
                        "tool_count": 2,
                        "tools": [
                          {
                            "name": "query",
                            "description": "Run a PromQL instant query."
                          },
                          {
                            "name": "query_range",
                            "description": "Run a PromQL range query."
                          }
                        ],
                        "auth_mode": "shared",
                        "created_by": 80011,
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/update": {
      "post": {
        "operationId": "mcp-write-server-update",
        "summary": "Update MCP server",
        "description": "Update an MCP server's configuration. Omit a field to leave it unchanged.",
        "tags": [
          "AI SRE/MCP servers"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | **MCP Manage** (`ai-sre`) |\n\n## Usage\n\n- Masked secret values in `env`/`headers` are preserved — sending the masked value back does not overwrite the stored secret.\n- `environment_kind`/`environment_id` are independent partial-update fields: omit both to leave the runner binding unchanged; set either to change it, subject to the same `byoc`-or-empty constraint as create.\n- Changing `team_id` requires reassignment permission on the destination team; if the runner binding is left unchanged, it must still be selectable by the caller under the new team or the update is rejected.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/mcp-servers/mcp-write-server-update",
          "metadata": {
            "sidebarTitle": "Update MCP server"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "environment_kind": "",
                    "environment_id": "",
                    "server_name": "prometheus",
                    "description": "Query Prometheus metrics, alerts, and rules.",
                    "transport": "streamable-http",
                    "url": "https://mcp.example.com/prometheus",
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 60,
                    "tool_count": 2,
                    "tools": [
                      {
                        "name": "query",
                        "description": "Run a PromQL instant query."
                      },
                      {
                        "name": "query_range",
                        "description": "Run a PromQL range query."
                      }
                    ],
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerUpdateRequest"
              },
              "example": {
                "server_id": "mcp_4kP9wQ2nLceRtY7uVb3xA1",
                "description": "Query Prometheus metrics, alerts, and rules."
              }
            }
          }
        }
      }
    },
    "/safari/session/delete": {
      "post": {
        "operationId": "session-write-delete",
        "summary": "Delete session",
        "description": "Delete a session by ID.",
        "tags": [
          "AI SRE/Sessions"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Personal sessions can be deleted only by their creator; team sessions can be deleted by the creator, an account admin, or a member of the owning team.\n- This is a soft delete: it also cascades to delete child subagent sessions and any presented files; the underlying S3/MinIO blobs are removed best-effort after the transaction commits, so an orphaned blob is possible on partial failure.\n",
          "href": "/en/api-reference/ai-sre/sessions/session-write-delete",
          "metadata": {
            "sidebarTitle": "Delete session"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "Always null on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionDeleteRequest"
              },
              "example": {
                "session_id": "sess_f8oDvqiG64uur6sBNsTc4u"
              }
            }
          }
        }
      }
    },
    "/safari/session/export": {
      "post": {
        "operationId": "session-read-export",
        "summary": "Export session transcript",
        "description": "Stream a session's full event transcript as newline-delimited JSON.",
        "tags": [
          "AI SRE/Sessions"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/day**; **200 requests/minute**; **20 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Personal sessions are exportable only by their creator; team sessions can be exported by same-account callers with the `session_id`.\n- The response is `application/x-ndjson` — parse line-by-line and write to a file; do not buffer the whole body in memory.\n- The first line is always a `session_meta` envelope; `include_subagents=true` inlines each child session's stream after its dispatch line.\n- Requests are capped at a 60-second execution timeout; very large sessions may not finish exporting within that window.\n- If the stream fails partway through, the response ends with a JSON error line instead of a proper error envelope (headers are already sent) — check for this trailing line to detect truncation.\n",
          "href": "/en/api-reference/ai-sre/sessions/session-read-export",
          "metadata": {
            "sidebarTitle": "Export session transcript"
          }
        },
        "responses": {
          "200": {
            "description": "Streaming NDJSON (application/x-ndjson). One JSON object per line, terminated by a newline. The first line is always a `session_meta` envelope; subsequent lines are session events.",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "Newline-delimited JSON stream. Parse line-by-line; do not buffer the whole body."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionExportRequest"
              },
              "example": {
                "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                "include_subagents": false
              }
            }
          }
        }
      }
    },
    "/safari/session/get": {
      "post": {
        "operationId": "session-read-info",
        "summary": "Get session detail",
        "description": "Fetch one session plus a backward-paged window of its most recent events.",
        "tags": [
          "AI SRE/Sessions"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Personal sessions are readable only by their creator; team sessions can be read by same-account callers with the `session_id`.\n- Page older history with `search_after_ctx` from the previous response.\n- `limit` (or legacy `num_recent_events`) caps the event page; default 100, max 1000.\n- A malformed `search_after_ctx` returns 400 immediately, before any DB work.\n- `current_turn_*` fields are populated only while the session `is_running`; `suggest_init` is the same account-wide onboarding flag as `session/list`.\n",
          "href": "/en/api-reference/ai-sre/sessions/session-read-info",
          "metadata": {
            "sidebarTitle": "Get session detail"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionGetResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "session": {
                      "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                      "session_name": "Investigate cloud-assistant first heartbeat",
                      "app_name": "ai-sre",
                      "entry_kind": "web",
                      "person_id": "3790925372131",
                      "team_id": 0,
                      "is_mine": false,
                      "can_view": true,
                      "can_continue": true,
                      "can_manage": true,
                      "can_fork": true,
                      "access_source": "manager",
                      "share_enabled": true,
                      "share_version": 3,
                      "shared_at": 1780367971000,
                      "shared_by": 3790925372131,
                      "status": "enabled",
                      "incognito": false,
                      "created_at": 1780367971228,
                      "updated_at": 1780367993457,
                      "token_usage": {
                        "input_tokens": 14948,
                        "cached_tokens": 11520,
                        "output_tokens": 888,
                        "reasoning_tokens": 351
                      },
                      "current_context_tokens": 14948,
                      "context_window": 0,
                      "archived_at": 0,
                      "pinned_at": 0,
                      "last_event_at": 1780367992649,
                      "is_running": false,
                      "has_unread": true,
                      "current_turn_started_at": 0,
                      "current_turn_active_ms": 0,
                      "current_turn_wait_ms": 0,
                      "current_turn_tokens": 0
                    },
                    "events": [
                      {
                        "event_id": "evt_3aZQ9p",
                        "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                        "author": "user",
                        "partial": false,
                        "turn_complete": false,
                        "status": "normal",
                        "created_at": 1780367971241
                      },
                      {
                        "event_id": "evt_7bWk2r",
                        "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                        "author": "ai-sre",
                        "content": {
                          "role": "model",
                          "parts": [
                            {
                              "text": "..."
                            }
                          ]
                        },
                        "partial": false,
                        "turn_complete": true,
                        "status": "normal",
                        "created_at": 1780367992649
                      }
                    ],
                    "has_more_older": false,
                    "suggest_init": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionGetRequest"
              },
              "example": {
                "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                "num_recent_events": 50
              }
            }
          }
        }
      }
    },
    "/safari/session/list": {
      "post": {
        "operationId": "session-read-list",
        "summary": "List sessions",
        "description": "List agent sessions visible to the caller, filtered by app, surface, archive status, and team.",
        "tags": [
          "AI SRE/Sessions"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **1,000 requests/minute**; **50 requests/second** per account |\n| Permissions | None — any valid `app_key` can call this operation |\n\n## Usage\n\n- Pagination uses `p`/`limit` (max 100); `scope` defaults to `all`.\n- `all` returns your personal sessions plus team sessions you can access; account admins see all team sessions, but not other users' personal sessions.\n- `team_ids` narrows the visible set and never expands access.\n- `is_running` reflects the live run-set; `has_unread` is computed per calling user; the `current_turn_*` fields are always zero here — only `session/get` computes them while a session is running.\n- `suggest_init` is an account-wide onboarding flag (true only when the account has zero knowledge packs anywhere) — it doesn't depend on the list filters.\n",
          "href": "/en/api-reference/ai-sre/sessions/session-read-list",
          "metadata": {
            "sidebarTitle": "List sessions"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 988,
                    "sessions": [
                      {
                        "session_id": "sess_f8oDvqiG64uur6sBNsTc4u",
                        "session_name": "Investigate cloud-assistant first heartbeat",
                        "app_name": "ai-sre",
                        "entry_kind": "web",
                        "person_id": "3790925372131",
                        "team_id": 0,
                        "is_mine": false,
                        "can_view": true,
                        "can_continue": true,
                        "can_manage": true,
                        "can_fork": true,
                        "access_source": "manager",
                        "share_enabled": true,
                        "share_version": 3,
                        "shared_at": 1780367971000,
                        "shared_by": 3790925372131,
                        "status": "enabled",
                        "incognito": false,
                        "created_at": 1780367971228,
                        "updated_at": 1780367993457,
                        "token_usage": {
                          "input_tokens": 14948,
                          "cached_tokens": 11520,
                          "output_tokens": 888,
                          "reasoning_tokens": 351
                        },
                        "current_context_tokens": 14948,
                        "context_window": 0,
                        "archived_at": 0,
                        "pinned_at": 0,
                        "last_event_at": 1780367992649,
                        "is_running": false,
                        "has_unread": true,
                        "current_turn_started_at": 0,
                        "current_turn_active_ms": 0,
                        "current_turn_wait_ms": 0,
                        "current_turn_tokens": 0
                      }
                    ],
                    "suggest_init": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionListRequest"
              },
              "example": {
                "app_name": "ai-sre",
                "limit": 2,
                "orderby": "updated_at",
                "scope": "all"
              }
            }
          }
        }
      }
    },
    "/safari/skill/delete": {
      "post": {
        "operationId": "skill-write-delete",
        "summary": "Delete skill",
        "description": "Delete a skill by ID.",
        "tags": [
          "AI SRE/Skills"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## Restrictions\n\n| Aspect | Value |\n| ------ | ----- |\n| Rate limits | **300 requests/minute**; **20 requests/second** per account |\n| Permissions | **Skill Manage** (`ai-sre`) |\n\n## Usage\n\n- Soft delete only: sets `status` to `deleted` and renames the row to free its name for reuse; the skill's zip archive is not removed from object storage.\n- Deleting an already-deleted or nonexistent `skill_id` returns `ResourceNotFound`, since the lookup excludes deleted rows before the delete itself runs.\n- Every call is recorded in the account audit log.\n",
          "href": "/en/api-reference/ai-sre/skills/skill-write-delete",
          "metadata": {
            "sidebarTitle": "Delete skill"
          }
        },
        "responses": {
[...]
