{
  "openapi": "3.1.0",
  "info": {
    "title": "Flashduty 开放 API",
    "description": "Flashduty AI SRE（safari）模块的公共 HTTP API —— 管理智能体技能、MCP 服务器与 A2A 远程智能体。每个接口都通过 Flashduty 控制台签发的 `app_key` 查询参数进行鉴权。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.flashcat.cloud",
      "description": "Flashduty 开放 API"
    }
  ],
  "security": [
    {
      "AppKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI SRE/技能",
      "description": "AI SRE 智能体技能管理。"
    },
    {
      "name": "AI SRE/MCP 服务器",
      "description": "MCP（Model Context Protocol）服务器管理。"
    },
    {
      "name": "AI SRE/A2A 智能体",
      "description": "A2A（智能体到智能体）远程智能体管理。"
    }
  ],
  "paths": {
    "/safari/skill/list": {
      "post": {
        "operationId": "skill-read-list",
        "summary": "查询技能列表",
        "description": "分页查询调用者在账户与团队范围内可见的 AI SRE 技能。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 列表行中省略 `content` 字段；如需读取技能正文，请查询单个技能详情。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-read-list",
          "metadata": {
            "sidebarTitle": "查询技能列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SkillListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "skills": [
                      {
                        "skill_id": "skl-7f3a9c21b8e0",
                        "account_id": 10023,
                        "team_id": 0,
                        "skill_name": "k8s-triage",
                        "description": "Diagnose unhealthy Kubernetes workloads from cluster events and pod logs.",
                        "version": "1.2.0",
                        "tags": [
                          "kubernetes",
                          "triage"
                        ],
                        "author": "sre-team",
                        "status": "enabled",
                        "created_by": 80011,
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000,
                        "can_edit": true,
                        "update_available": false,
                        "is_modified": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/skill/get": {
      "post": {
        "operationId": "skill-read-get",
        "summary": "查看技能详情",
        "description": "按 ID 返回单个技能的完整配置及 SKILL.md 正文。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-read-get",
          "metadata": {
            "sidebarTitle": "查看技能详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SkillItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "skill_id": "skl-7f3a9c21b8e0",
                    "account_id": 10023,
                    "team_id": 0,
                    "skill_name": "k8s-triage",
                    "description": "Diagnose unhealthy Kubernetes workloads from cluster events and pod logs.",
                    "version": "1.2.0",
                    "tags": [
                      "kubernetes",
                      "triage"
                    ],
                    "author": "sre-team",
                    "status": "enabled",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000,
                    "can_edit": true,
                    "update_available": false,
                    "is_modified": false,
                    "content": "---\nname: k8s-triage\n---\nDiagnose unhealthy workloads..."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillGetRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0"
              }
            }
          }
        }
      }
    },
    "/safari/skill/update": {
      "post": {
        "operationId": "skill-write-update",
        "summary": "更新技能",
        "description": "编辑技能的描述或重新指定其所属团队。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 仅可更新调用者有权编辑的技能，否则返回 AccessDenied。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-write-update",
          "metadata": {
            "sidebarTitle": "更新技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SkillItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "skill_id": "skl-7f3a9c21b8e0",
                    "account_id": 10023,
                    "team_id": 0,
                    "skill_name": "k8s-triage",
                    "description": "Diagnose unhealthy Kubernetes workloads.",
                    "version": "1.2.0",
                    "tags": [
                      "kubernetes",
                      "triage"
                    ],
                    "author": "sre-team",
                    "status": "enabled",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000,
                    "can_edit": true,
                    "update_available": false,
                    "is_modified": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillUpdateRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0",
                "description": "Diagnose unhealthy Kubernetes workloads."
              }
            }
          }
        }
      }
    },
    "/safari/skill/delete": {
      "post": {
        "operationId": "skill-write-delete",
        "summary": "删除技能",
        "description": "永久删除技能，使智能体无法再加载它。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-write-delete",
          "metadata": {
            "sidebarTitle": "删除技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillDeleteRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0"
              }
            }
          }
        }
      }
    },
    "/safari/skill/upload": {
      "post": {
        "operationId": "skill-write-upload",
        "summary": "上传技能",
        "description": "上传技能 zip 包并注册为新的账户或团队技能。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 请求体为 `multipart/form-data`，包含 `file` 部分（zip 包）与可选的 `team_id` 字段，而非 JSON。\n- 技能名称重复时返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-write-upload",
          "metadata": {
            "sidebarTitle": "上传技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SkillItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "skill_id": "skl-7f3a9c21b8e0",
                    "account_id": 10023,
                    "team_id": 0,
                    "skill_name": "k8s-triage",
                    "description": "Diagnose unhealthy Kubernetes workloads from cluster events and pod logs.",
                    "version": "1.2.0",
                    "tags": [
                      "kubernetes",
                      "triage"
                    ],
                    "author": "sre-team",
                    "status": "enabled",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000,
                    "can_edit": true,
                    "update_available": false,
                    "is_modified": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Skill zip package to upload."
                  },
                  "team_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Owning team for the new skill; 0 for account scope."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/safari/skill/download": {
      "post": {
        "operationId": "skill-read-download",
        "summary": "下载技能",
        "description": "以二进制附件形式下载技能的原始 zip 包。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 响应为 `application/zip` 字节流并带有 `Content-Disposition` 附件头，而非 JSON 响应包。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-read-download",
          "metadata": {
            "sidebarTitle": "下载技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "format": "binary",
                          "description": "Raw zip bytes (not wrapped in the JSON envelope)."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillDownloadRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0"
              }
            }
          }
        }
      }
    },
    "/safari/skill/enable": {
      "post": {
        "operationId": "skill-read-enable",
        "summary": "启用技能",
        "description": "启用已禁用的技能，使智能体可在会话开始时加载它。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 仅可启用已禁用的技能；若技能已启用则返回 InvalidParameter。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-read-enable",
          "metadata": {
            "sidebarTitle": "启用技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillStatusRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0"
              }
            }
          }
        }
      }
    },
    "/safari/skill/disable": {
      "post": {
        "operationId": "skill-write-disable",
        "summary": "禁用技能",
        "description": "禁用已启用的技能，使智能体不再加载它。",
        "tags": [
          "AI SRE/技能"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 仅可禁用已启用的技能；若技能已禁用则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/skills/skill-write-disable",
          "metadata": {
            "sidebarTitle": "禁用技能"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillStatusRequest"
              },
              "example": {
                "skill_id": "skl-7f3a9c21b8e0"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/list": {
      "post": {
        "operationId": "mcp-read-server-list",
        "summary": "查询 MCP 服务器列表",
        "description": "分页查询调用者在账户与团队范围内可见的 MCP 服务器。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-read-server-list",
          "metadata": {
            "sidebarTitle": "查询 MCP 服务器列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "total": 1,
                    "servers": [
                      {
                        "server_id": "mcp-2b5e8d14a7c9",
                        "account_id": 10023,
                        "team_id": 0,
                        "can_edit": true,
                        "server_name": "GitHub Tools",
                        "description": "Read issues and pull requests from GitHub.",
                        "transport": "stdio",
                        "command": "npx",
                        "args": [
                          "-y",
                          "@modelcontextprotocol/server-github"
                        ],
                        "env": {
                          "GITHUB_TOKEN": "ghp_xxx"
                        },
                        "status": "enabled",
                        "connect_timeout": 10,
                        "call_timeout": 30,
                        "tool_count": 12,
                        "auth_mode": "shared",
                        "created_by": 80011,
                        "created_at": 1716960000000,
                        "updated_at": 1717046400000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerListRequest"
              },
              "example": {
                "p": 1,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/create": {
      "post": {
        "operationId": "mcp-write-server-create",
        "summary": "创建 MCP 服务器",
        "description": "注册一个新的 MCP 服务器，供智能体调用其工具。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- `transport` 必须为 stdio、sse 或 streamable-http 之一，否则返回 InvalidParameter。\n- 服务器名称重复时返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-write-server-create",
          "metadata": {
            "sidebarTitle": "创建 MCP 服务器"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp-2b5e8d14a7c9",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "server_name": "GitHub Tools",
                    "description": "Read issues and pull requests from GitHub.",
                    "transport": "stdio",
                    "command": "npx",
                    "args": [
                      "-y",
                      "@modelcontextprotocol/server-github"
                    ],
                    "env": {
                      "GITHUB_TOKEN": "ghp_xxx"
                    },
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 30,
                    "tool_count": 12,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerCreateRequest"
              },
              "example": {
                "server_name": "GitHub Tools",
                "description": "Read issues and pull requests from GitHub.",
                "transport": "stdio",
                "command": "npx",
                "args": [
                  "-y",
                  "@modelcontextprotocol/server-github"
                ],
                "env": {
                  "GITHUB_TOKEN": "ghp_xxx"
                },
                "status": "enabled",
                "team_id": 0
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/get": {
      "post": {
        "operationId": "mcp-read-server-get",
        "summary": "查看 MCP 服务器详情",
        "description": "返回单个 MCP 服务器的完整配置，并附带实时工具清单。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 该接口会发起实时工具探测；探测失败时填充 `list_error` 字段，而不会导致整个请求失败。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-read-server-get",
          "metadata": {
            "sidebarTitle": "查看 MCP 服务器详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp-2b5e8d14a7c9",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "server_name": "GitHub Tools",
                    "description": "Read issues and pull requests from GitHub.",
                    "transport": "stdio",
                    "command": "npx",
                    "args": [
                      "-y",
                      "@modelcontextprotocol/server-github"
                    ],
                    "env": {
                      "GITHUB_TOKEN": "ghp_xxx"
                    },
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 30,
                    "tool_count": 12,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000,
                    "tools": [
                      {
                        "name": "list_issues",
                        "description": "List issues in a repository."
                      },
                      {
                        "name": "get_pull_request",
                        "description": "Fetch a pull request by number."
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerGetRequest"
              },
              "example": {
                "server_id": "mcp-2b5e8d14a7c9"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/update": {
      "post": {
        "operationId": "mcp-write-server-update",
        "summary": "更新 MCP 服务器",
        "description": "编辑 MCP 服务器的连接设置或重新指定其所属团队。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 内置 MCP 服务器为只读，无法修改。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-write-server-update",
          "metadata": {
            "sidebarTitle": "更新 MCP 服务器"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MCPServerItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "server_id": "mcp-2b5e8d14a7c9",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "server_name": "GitHub Tools",
                    "description": "Read issues, PRs, and commits from GitHub.",
                    "transport": "stdio",
                    "command": "npx",
                    "args": [
                      "-y",
                      "@modelcontextprotocol/server-github"
                    ],
                    "env": {
                      "GITHUB_TOKEN": "ghp_xxx"
                    },
                    "status": "enabled",
                    "connect_timeout": 10,
                    "call_timeout": 30,
                    "tool_count": 12,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000000,
                    "updated_at": 1717046400000
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerUpdateRequest"
              },
              "example": {
                "server_id": "mcp-2b5e8d14a7c9",
                "description": "Read issues, PRs, and commits from GitHub."
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/delete": {
      "post": {
        "operationId": "mcp-write-server-delete",
        "summary": "删除 MCP 服务器",
        "description": "永久删除 MCP 服务器，使智能体无法再使用其工具。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 内置 MCP 服务器为只读，无法删除。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-write-server-delete",
          "metadata": {
            "sidebarTitle": "删除 MCP 服务器"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerDeleteRequest"
              },
              "example": {
                "server_id": "mcp-2b5e8d14a7c9"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/enable": {
      "post": {
        "operationId": "mcp-write-server-enable",
        "summary": "启用 MCP 服务器",
        "description": "启用已禁用的 MCP 服务器，使智能体可调用其工具。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 内置 MCP 服务器为只读；若服务器已启用则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-write-server-enable",
          "metadata": {
            "sidebarTitle": "启用 MCP 服务器"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerStatusRequest"
              },
              "example": {
                "server_id": "mcp-2b5e8d14a7c9"
              }
            }
          }
        }
      }
    },
    "/safari/mcp/server/disable": {
      "post": {
        "operationId": "mcp-write-server-disable",
        "summary": "禁用 MCP 服务器",
        "description": "禁用 MCP 服务器，使智能体停止调用其工具。",
        "tags": [
          "AI SRE/MCP 服务器"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 内置 MCP 服务器为只读；若服务器已禁用则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/mcp-servers/mcp-write-server-disable",
          "metadata": {
            "sidebarTitle": "禁用 MCP 服务器"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPServerStatusRequest"
              },
              "example": {
                "server_id": "mcp-2b5e8d14a7c9"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/create": {
      "post": {
        "operationId": "remote-agent-write-create",
        "summary": "创建 A2A 智能体",
        "description": "注册一个新的 A2A 远程智能体，供 SRE 智能体委派任务。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 创建时会拉取并校验 `card_url` 上的 agent card；若无法访问则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-create",
          "metadata": {
            "sidebarTitle": "创建 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentCreateResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_9d4c1f60b3a2"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentCreateRequest"
              },
              "example": {
                "agent_name": "Network Diagnostics Agent",
                "card_url": "https://agents.example.com/network-diag/.well-known/agent.json",
                "description": "Runs traceroute and BGP-path analysis for network incidents.",
                "auth_type": "bearer",
                "auth_config": {
                  "token": "secret"
                },
                "streaming": true,
                "team_id": 0
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/list": {
      "post": {
        "operationId": "remote-agent-read-list",
        "summary": "查询 A2A 智能体列表",
        "description": "分页查询调用者在账户与团队范围内可见的 A2A 智能体。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-read-list",
          "metadata": {
            "sidebarTitle": "查询 A2A 智能体列表"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentListResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "items": [
                      {
                        "agent_id": "a2a_9d4c1f60b3a2",
                        "account_id": 10023,
                        "team_id": 0,
                        "can_edit": true,
                        "agent_name": "Network Diagnostics Agent",
                        "description": "Runs traceroute and BGP-path analysis for network incidents.",
                        "card_url": "https://agents.example.com/network-diag/.well-known/agent.json",
                        "auth_type": "bearer",
                        "auth_config": {
                          "token": "secret"
                        },
                        "streaming": true,
                        "status": "enabled",
                        "agent_card_name": "network-diag",
                        "agent_card_skills": [
                          "traceroute",
                          "bgp-analysis"
                        ],
                        "card_resolve_timeout": 10,
                        "task_timeout": 120,
                        "auth_mode": "shared",
                        "created_by": 80011,
                        "created_at": 1716960000,
                        "updated_at": 1717046400
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentListRequest"
              },
              "example": {
                "offset": 0,
                "limit": 20,
                "include_account": true
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/get": {
      "post": {
        "operationId": "remote-agent-read-get",
        "summary": "查看 A2A 智能体详情",
        "description": "按 ID 返回单个 A2A 智能体的完整配置。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-read-get",
          "metadata": {
            "sidebarTitle": "查看 A2A 智能体详情"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/A2AAgentItem"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "data": {
                    "agent_id": "a2a_9d4c1f60b3a2",
                    "account_id": 10023,
                    "team_id": 0,
                    "can_edit": true,
                    "agent_name": "Network Diagnostics Agent",
                    "description": "Runs traceroute and BGP-path analysis for network incidents.",
                    "card_url": "https://agents.example.com/network-diag/.well-known/agent.json",
                    "auth_type": "bearer",
                    "auth_config": {
                      "token": "secret"
                    },
                    "streaming": true,
                    "status": "enabled",
                    "agent_card_name": "network-diag",
                    "agent_card_skills": [
                      "traceroute",
                      "bgp-analysis"
                    ],
                    "card_resolve_timeout": 10,
                    "task_timeout": 120,
                    "auth_mode": "shared",
                    "created_by": 80011,
                    "created_at": 1716960000,
                    "updated_at": 1717046400
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_9d4c1f60b3a2"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/update": {
      "post": {
        "operationId": "remote-agent-write-update",
        "summary": "更新 A2A 智能体",
        "description": "编辑 A2A 智能体的 card URL、鉴权、流式开关或所属团队。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 省略某字段即保持不变；仅请求中出现的字段会被更新。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-update",
          "metadata": {
            "sidebarTitle": "更新 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentUpdateRequest"
              },
              "example": {
                "agent_id": "a2a_9d4c1f60b3a2",
                "description": "Runs traceroute, BGP, and DNS analysis for network incidents."
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/enable": {
      "post": {
        "operationId": "remote-agent-write-enable",
        "summary": "启用 A2A 智能体",
        "description": "启用已禁用的 A2A 智能体，使 SRE 智能体可向其委派任务。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 若智能体已启用则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-enable",
          "metadata": {
            "sidebarTitle": "启用 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_9d4c1f60b3a2"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/disable": {
      "post": {
        "operationId": "remote-agent-write-disable",
        "summary": "禁用 A2A 智能体",
        "description": "禁用 A2A 智能体，使 SRE 智能体停止向其委派任务。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 若智能体已禁用则返回 InvalidParameter。\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-disable",
          "metadata": {
            "sidebarTitle": "禁用 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_9d4c1f60b3a2"
              }
            }
          }
        }
      }
    },
    "/safari/a2a-agent/delete": {
      "post": {
        "operationId": "remote-agent-write-delete",
        "summary": "删除 A2A 智能体",
        "description": "软删除 A2A 智能体注册，使其不再可用。",
        "tags": [
          "AI SRE/A2A 智能体"
        ],
        "security": [
          {
            "AppKeyAuth": []
          }
        ],
        "x-mint": {
          "content": "## 限制说明\n\n| 项目 | 说明 |\n| ---- | ---- |\n| 速率限制 | 每个 `app_key` **1,000 次/分钟**；**50 次/秒** |\n| 权限要求 | 无 —— 持有有效的 `app_key` 即可调用 |\n\n## 使用说明\n\n- 每次调用都会记入账户审计日志。\n",
          "href": "/zh/api-reference/ai-sre/a2a-agents/remote-agent-write-delete",
          "metadata": {
            "sidebarTitle": "删除 A2A 智能体"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResponseEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "null",
                          "description": "No payload; the operation returns an empty data field on success."
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/A2AAgentIDRequest"
              },
              "example": {
                "agent_id": "a2a_9d4c1f60b3a2"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AppKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "app_key",
        "description": "Flashduty 控制台「账户 → APP Keys」中签发的 app_key。调用任何公共 API 都需要它。"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request — usually a missing or malformed parameter.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingParameter": {
                "summary": "Missing required parameter",
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "InvalidParameter",
                    "message": "The specified parameter skill_id is not valid."
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid app_key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingAppKey": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "Unauthorized",
                    "message": "You are unauthorized."
                  }
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit hit. Either the global API limit, a per-account limit, or a per-integration limit.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "RequestTooFrequently",
                    "message": "Request too frequently."
                  }
                }
              }
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server-side error. Include the request_id when reporting.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "internal": {
                "value": {
                  "request_id": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4",
                  "error": {
                    "code": "InternalError",
                    "message": "We encountered an internal error, and it has been reported. Please try again later."
                  }
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "description": "Flashduty error code enum. Every failed API response sets `error.code` to one of these values. The value is a stable wire string — not a localized message and not a numeric status. HTTP status is informational.",
        "enum": [
          "OK",
          "InvalidParameter",
          "BadRequest",
          "InvalidContentType",
          "ResourceNotFound",
          "NoLicense",
          "ReferenceExist",
          "Unauthorized",
          "BalanceNotEnough",
          "AccessDenied",
          "RouteNotFound",
          "MethodNotAllowed",
          "UndonedOrderExist",
          "RequestLocked",
          "EntityTooLarge",
          "RequestTooFrequently",
          "RequestVerifyRequired",
          "DangerousOperation",
          "InternalError",
          "ServiceUnavailable"
        ]
      },
      "DutyError": {
        "type": "object",
        "description": "Error payload inside the response envelope. Present only on non-2xx responses.",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message, localized by the caller's Accept-Language. May contain field names, IDs, or other context from the failing request."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ResponseEnvelope": {
        "type": "object",
        "description": "Standard response envelope used by every Flashduty public API. On success `data` contains the endpoint-specific payload and `error` is absent. On failure `error` is present and `data` is absent. `request_id` is always present and is also mirrored in the `Flashcat-Request-Id` response header.",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "Unique ID for this request. Mirrored in the Flashcat-Request-Id header. Include it when reporting issues.",
            "example": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
          },
          "error": {
            "$ref": "#/components/schemas/DutyError"
          },
          "data": {
            "description": "Endpoint-specific payload. See each operation's 200 response schema."
          }
        },
        "required": [
          "request_id"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Response envelope for errors. `error` is required; `data` is absent.",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "01HK8XQE3Z7JM2NTFQ5YJ8P9R4"
          },
          "error": {
            "$ref": "#/components/schemas/DutyError"
          }
        },
        "required": [
          "request_id",
          "error"
        ]
      },
      "MCPToolInfo": {
        "type": "object",
        "description": "Metadata for a single tool exposed by an MCP server.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name as advertised by the server."
          },
          "description": {
            "type": "string",
            "description": "What the tool does."
          },
          "input_schema": {
            "description": "JSON schema of the tool's input arguments."
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "SkillItem": {
        "type": "object",
        "description": "An AI SRE skill — a packaged capability the agent can load at runtime.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Unique identifier of the skill."
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning account."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning team; 0 means account scope."
          },
          "skill_name": {
            "type": "string",
            "description": "Name of the skill, parsed from its SKILL.md frontmatter."
          },
          "description": {
            "type": "string",
            "description": "What the skill does and when the agent should use it."
          },
          "content": {
            "type": "string",
            "description": "Full SKILL.md body; omitted in list responses."
          },
          "version": {
            "type": "string",
            "description": "Skill version string from its frontmatter."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags declared in the skill frontmatter."
          },
          "author": {
            "type": "string",
            "description": "Author declared in the skill frontmatter."
          },
          "license": {
            "type": "string",
            "description": "License declared in the skill frontmatter."
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tools the skill requires, declared in its frontmatter."
          },
          "s3_key": {
            "type": "string",
            "description": "Object-storage key of the skill's zip package."
          },
          "checksum": {
            "type": "string",
            "description": "SHA-256 checksum of the skill's zip package."
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "description": "Whether the skill is active and loadable by agents."
          },
          "created_by": {
            "type": "integer",
            "format": "int64",
            "description": "Member who created this resource."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation time as a Unix timestamp in milliseconds."
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Last-update time as a Unix timestamp in milliseconds."
          },
          "can_edit": {
            "type": "boolean",
            "description": "Whether the calling member may edit or delete this resource."
          },
          "source_template_name": {
            "type": "string",
            "description": "Marketplace template this skill was installed from, if any."
          },
          "source_template_version": {
            "type": "string",
            "description": "Marketplace template version captured at install time."
          },
          "update_available": {
            "type": "boolean",
            "description": "A newer marketplace template version exists for this skill."
          },
          "is_modified": {
            "type": "boolean",
            "description": "A marketplace-sourced skill has been edited locally; auto-update skips it."
          },
          "created": {
            "type": "boolean",
            "description": "Install response only: true for a fresh install, false for an in-place upsert."
          }
        },
        "required": [
          "skill_id",
          "account_id",
          "team_id",
          "skill_name",
          "description",
          "status",
          "created_by",
          "created_at",
          "updated_at",
          "can_edit",
          "update_available",
          "is_modified"
        ]
      },
      "SkillListRequest": {
        "type": "object",
        "description": "Filters for listing skills.",
        "properties": {
          "p": {
            "type": "integer",
            "description": "Page number, starting at 1."
          },
          "limit": {
            "type": "integer",
            "description": "Page size; defaults to 20."
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Restrict results to resources owned by these teams; intersected with the caller's visible set."
          },
          "include_account": {
            "type": "boolean",
            "description": "Include account-scoped rows alongside team-scoped ones; defaults to true."
          }
        }
      },
      "SkillListResponse": {
        "type": "object",
        "description": "Paginated skill list.",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of skills matching the filters."
          },
          "skills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SkillItem"
            },
            "description": "Skills on the current page."
          }
        },
        "required": [
          "total",
          "skills"
        ]
      },
      "SkillGetRequest": {
        "type": "object",
        "description": "Selector for a single skill.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Identifier of the skill to fetch."
          }
        },
        "required": [
          "skill_id"
        ]
      },
      "SkillUpdateRequest": {
        "type": "object",
        "description": "Editable fields of a skill.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Identifier of the skill to update."
          },
          "description": {
            "type": "string",
            "maxLength": 1024,
            "description": "New description for the skill."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Reassign the skill to this team; omit to leave unchanged, 0 for account scope."
          }
        },
        "required": [
          "skill_id"
        ]
      },
      "SkillDeleteRequest": {
        "type": "object",
        "description": "Selector for the skill to delete.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Identifier of the skill to delete."
          }
        },
        "required": [
          "skill_id"
        ]
      },
      "SkillStatusRequest": {
        "type": "object",
        "description": "Selector for the skill whose status is being changed.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Identifier of the target skill."
          }
        },
        "required": [
          "skill_id"
        ]
      },
      "SkillDownloadRequest": {
        "type": "object",
        "description": "Selector for the skill to download.",
        "properties": {
          "skill_id": {
            "type": "string",
            "description": "Identifier of the skill to download."
          }
        },
        "required": [
          "skill_id"
        ]
      },
      "MCPServerItem": {
        "type": "object",
        "description": "A configured MCP (Model Context Protocol) server the agent can call tools through.",
        "properties": {
          "server_id": {
            "type": "string",
            "description": "Unique identifier of the MCP server."
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning account."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning team; 0 means account scope."
          },
          "can_edit": {
            "type": "boolean",
            "description": "Whether the calling member may edit or delete this resource."
          },
          "server_name": {
            "type": "string",
            "description": "Display name of the MCP server."
          },
          "description": {
            "type": "string",
            "description": "What this MCP server provides."
          },
          "ai_description": {
            "type": "string",
            "description": "LLM-generated description, preferred over description when present."
          },
          "transport": {
            "type": "string",
            "enum": [
              "stdio",
              "sse",
              "streamable-http"
            ],
            "description": "Transport used to reach the server."
          },
          "command": {
            "type": "string",
            "description": "Executable launched for stdio transport."
          },
          "args": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Command-line arguments for the stdio executable."
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Environment variables passed to the stdio process."
          },
          "url": {
            "type": "string",
            "description": "Endpoint URL for sse or streamable-http transport."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "HTTP headers sent to the remote endpoint; secret values are masked."
          },
          "proxy_url": {
            "type": "string",
            "description": "Outbound proxy URL used to reach the server."
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "description": "Whether the server is active and usable by agents."
          },
          "connect_timeout": {
            "type": "integer",
            "description": "Connection timeout in seconds."
          },
          "call_timeout": {
            "type": "integer",
            "description": "Per-call timeout in seconds."
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MCPToolInfo"
            },
            "description": "Live tool catalogue; populated only by get and test."
          },
          "tool_count": {
            "type": "integer",
            "description": "Number of tools discovered on the server."
          },
          "list_error": {
            "type": "string",
            "description": "Tool-probe failure message; present when the live probe failed."
          },
          "auth_mode": {
            "type": "string",
            "description": "Credential model: shared, per_user_secret, or per_user_oauth."
          },
          "secret_schema": {
            "type": "string",
            "description": "JSON schema of the per-user secret."
          },
          "oauth_metadata": {
            "type": "string",
            "description": "OAuth metadata JSON."
          },
          "created_by": {
            "type": "integer",
            "format": "int64",
            "description": "Member who created this resource."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation time as a Unix timestamp in milliseconds."
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Last-update time as a Unix timestamp in milliseconds."
          }
        },
        "required": [
          "server_id",
          "account_id",
          "team_id",
          "can_edit",
          "server_name",
          "description",
          "transport",
          "status",
          "connect_timeout",
          "call_timeout",
          "created_by",
          "created_at",
          "updated_at"
        ]
      },
      "MCPServerListRequest": {
        "type": "object",
        "description": "Filters for listing MCP servers.",
        "properties": {
          "p": {
            "type": "integer",
            "description": "Page number, starting at 1."
          },
          "limit": {
            "type": "integer",
            "description": "Page size; defaults to 20."
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Restrict results to resources owned by these teams; intersected with the caller's visible set."
          },
          "include_account": {
            "type": "boolean",
            "description": "Include account-scoped rows alongside team-scoped ones; defaults to true."
          }
        }
      },
      "MCPServerListResponse": {
        "type": "object",
        "description": "Paginated MCP server list.",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of servers matching the filters."
          },
          "servers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MCPServerItem"
            },
            "description": "MCP servers on the current page."
          }
        },
        "required": [
          "total",
          "servers"
        ]
      },
      "MCPServerCreateRequest": {
        "type": "object",
        "description": "Configuration for a new MCP server.",
        "properties": {
          "server_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Display name of the server."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "What this MCP server provides."
          },
          "transport": {
            "type": "string",
            "enum": [
              "stdio",
              "sse",
              "streamable-http"
            ],
            "description": "Transport used to reach the server."
          },
          "command": {
            "type": "string",
            "description": "Executable to launch for stdio transport."
          },
          "args": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Command-line arguments for the stdio executable."
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Environment variables for the stdio process."
          },
          "url": {
            "type": "string",
            "description": "Endpoint URL for sse or streamable-http transport."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "HTTP headers sent to the remote endpoint."
          },
          "connect_timeout": {
            "type": "integer",
            "description": "Connection timeout in seconds."
          },
          "call_timeout": {
            "type": "integer",
            "description": "Per-call timeout in seconds."
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "description": "Initial lifecycle state of the server."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning team for the new server; 0 for account scope."
          },
          "auth_mode": {
            "type": "string",
            "description": "Credential model; defaults to shared."
          },
          "secret_schema": {
            "type": "string",
            "description": "JSON schema of the per-user secret; required when auth_mode is per_user_secret."
          },
          "oauth_metadata": {
            "type": "string",
            "description": "OAuth metadata JSON; reserved for OAuth-based auth."
          }
        },
        "required": [
          "server_name",
          "description",
          "transport"
        ]
      },
      "MCPServerGetRequest": {
        "type": "object",
        "description": "Selector for a single MCP server.",
        "properties": {
          "server_id": {
            "type": "string",
            "description": "Identifier of the server to fetch."
          }
        },
        "required": [
          "server_id"
        ]
      },
      "MCPServerUpdateRequest": {
        "type": "object",
        "description": "Editable fields of an MCP server; omitted fields are left unchanged.",
        "properties": {
          "server_id": {
            "type": "string",
            "description": "Identifier of the server to update."
          },
          "server_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "New display name."
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1024,
            "description": "New description."
          },
          "transport": {
            "type": "string",
            "enum": [
              "stdio",
              "sse",
              "streamable-http"
            ],
            "description": "New transport for the server."
          },
          "command": {
            "type": "string",
            "description": "New stdio executable."
          },
          "args": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "New stdio arguments."
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "New stdio environment variables."
          },
          "url": {
            "type": "string",
            "description": "New endpoint URL for remote transports."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "New HTTP headers for the remote endpoint."
          },
          "connect_timeout": {
            "type": "integer",
            "description": "New connection timeout in seconds."
          },
          "call_timeout": {
            "type": "integer",
            "description": "New per-call timeout in seconds."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Reassign the server to this team; omit to leave unchanged, 0 for account scope."
          },
          "auth_mode": {
            "type": "string",
            "description": "New credential model."
          },
          "secret_schema": {
            "type": "string",
            "description": "New per-user secret JSON schema."
          },
          "oauth_metadata": {
            "type": "string",
            "description": "New OAuth metadata JSON."
          }
        },
        "required": [
          "server_id"
        ]
      },
      "MCPServerDeleteRequest": {
        "type": "object",
        "description": "Selector for the server to delete.",
        "properties": {
          "server_id": {
            "type": "string",
            "description": "Identifier of the server to delete."
          }
        },
        "required": [
          "server_id"
        ]
      },
      "MCPServerStatusRequest": {
        "type": "object",
        "description": "Selector for the server whose status is being changed.",
        "properties": {
          "server_id": {
            "type": "string",
            "description": "Identifier of the target server."
          }
        },
        "required": [
          "server_id"
        ]
      },
      "A2AAgentItem": {
        "type": "object",
        "description": "A registered A2A (agent-to-agent) remote agent the SRE agent can delegate to.",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the A2A agent."
          },
          "account_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning account."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning team; 0 means account scope."
          },
          "can_edit": {
            "type": "boolean",
            "description": "Whether the calling member may edit or delete this resource."
          },
          "agent_name": {
            "type": "string",
            "description": "Display name of the agent."
          },
          "description": {
            "type": "string",
            "description": "What this agent does and when to delegate to it."
          },
          "card_url": {
            "type": "string",
            "description": "URL of the agent's published A2A agent card."
          },
          "auth_type": {
            "type": "string",
            "description": "Authentication scheme used when calling the agent."
          },
          "auth_config": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authentication parameters keyed by name."
          },
          "streaming": {
            "type": "boolean",
            "description": "Whether the agent supports streaming responses."
          },
          "status": {
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "description": "Whether the agent is active and reachable."
          },
          "agent_card_name": {
            "type": "string",
            "description": "Name resolved from the fetched agent card."
          },
          "agent_card_skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Skills advertised on the fetched agent card."
          },
          "card_resolve_timeout": {
            "type": "integer",
            "description": "Timeout for fetching the agent card, in seconds."
          },
          "task_timeout": {
            "type": "integer",
            "description": "Timeout for a single delegated task, in seconds."
          },
          "auth_mode": {
            "type": "string",
            "description": "Credential model: shared, per_user_secret, or per_user_oauth."
          },
          "secret_schema": {
            "type": "string",
            "description": "JSON schema of the per-user secret."
          },
          "oauth_metadata": {
            "type": "string",
            "description": "OAuth metadata JSON."
          },
          "created_by": {
            "type": "integer",
            "format": "int64",
            "description": "Member who created this resource."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Creation time as a Unix timestamp in seconds."
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Last-update time as a Unix timestamp in seconds."
          }
        },
        "required": [
          "agent_id",
          "account_id",
          "team_id",
          "can_edit",
          "agent_name",
          "description",
          "card_url",
          "auth_type",
          "streaming",
          "status",
          "card_resolve_timeout",
          "task_timeout",
          "created_by",
          "created_at",
          "updated_at"
        ]
      },
      "A2AAgentCreateRequest": {
        "type": "object",
        "description": "Configuration for a new A2A agent.",
        "properties": {
          "agent_name": {
            "type": "string",
            "maxLength": 128,
            "description": "Display name of the agent."
          },
          "description": {
            "type": "string",
            "description": "What this agent does and when to delegate to it."
          },
          "card_url": {
            "type": "string",
            "description": "URL of the agent's published A2A agent card."
          },
          "auth_type": {
            "type": "string",
            "description": "Authentication scheme used when calling the agent."
          },
          "auth_config": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Authentication parameters keyed by name."
          },
          "streaming": {
            "type": "boolean",
            "description": "Whether the agent supports streaming responses."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Owning team for the new agent; 0 for account scope."
          },
          "auth_mode": {
            "type": "string",
            "description": "Credential model; defaults to shared."
          },
          "secret_schema": {
            "type": "string",
            "description": "JSON schema of the per-user secret; required when auth_mode is per_user_secret."
          },
          "oauth_metadata": {
            "type": "string",
            "description": "OAuth metadata JSON; reserved for OAuth-based auth."
          }
        },
        "required": [
          "agent_name",
          "card_url"
        ]
      },
      "A2AAgentListRequest": {
        "type": "object",
        "description": "Filters for listing A2A agents.",
        "properties": {
          "offset": {
            "type": "integer",
            "description": "Number of rows to skip for pagination."
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of rows to return; defaults to 20."
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Restrict results to resources owned by these teams; intersected with the caller's visible set."
          },
          "include_account": {
            "type": "boolean",
            "description": "Include account-scoped rows alongside team-scoped ones; defaults to true."
          }
        }
      },
      "A2AAgentListResponse": {
        "type": "object",
        "description": "Paginated A2A agent list.",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/A2AAgentItem"
            },
            "description": "A2A agents on the current page."
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "Total number of agents matching the filters."
          }
        },
        "required": [
          "items",
          "total"
        ]
      },
      "A2AAgentIDRequest": {
        "type": "object",
        "description": "Selector for a single A2A agent.",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Identifier of the target agent."
          }
        },
        "required": [
          "agent_id"
        ]
      },
      "A2AAgentUpdateRequest": {
        "type": "object",
        "description": "Editable fields of an A2A agent; omitted fields are left unchanged.",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Identifier of the agent to update."
          },
          "agent_name": {
            "type": "string",
            "maxLength": 128,
            "description": "New display name."
          },
          "description": {
            "type": "string",
            "description": "New description."
          },
          "card_url": {
            "type": "string",
            "description": "New agent card URL."
          },
          "auth_type": {
            "type": "string",
            "description": "New authentication scheme."
          },
          "auth_config": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "New authentication parameters."
          },
          "streaming": {
            "type": "boolean",
            "description": "Toggle streaming-response support."
          },
          "team_id": {
            "type": "integer",
            "format": "int64",
            "description": "Reassign the agent to this team; omit to leave unchanged, 0 for account scope."
          },
          "auth_mode": {
            "type": "string",
            "description": "New credential model."
          },
          "secret_schema": {
            "type": "string",
            "description": "New per-user secret JSON schema."
          },
          "oauth_metadata": {
[...]
